<h2 id="selection-button">Boutons de sélection</h2>
<h3>Exemples</h3>

<qc-doc-exemple caption="Exemple de boutons radio au format de boutons de sélection avec différents états">
    <qc-choice-group legend="Sélectionnez une option :"
                    name="ex-radio-select"
                    tiled
                    column-count="2"
    >
        <label>
            <input type="radio"
                   value="1"
                   checked
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 1</span>
                <span class="qc-tile-description">Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection.</span>
            </span>
        </label>

        <label>
            <input type="radio"
                   value="2"
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 2</span>
            </span>
        </label>
        <label>
            <input type="radio"
                   value="3"
                   disabled
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 3 (désactivée)</span>
            </span>
        </label>
    </qc-choice-group>
</qc-doc-exemple>

<qc-doc-exemple
        caption="Exemple d’un groupe de cases à cocher au format de boutons de sélection avec différents états"
>
    <qc-choice-group
            name="exemple-checkbox-select"
            legend="Sélectionnez vos options"
            tiled
            column-count="2">
        <label>
            <input type="checkbox"
                   value="1"
                   checked
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 1</span>
                <span class="qc-tile-description">Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection.</span>
            </span>
        </label>

        <label>
            <input type="checkbox"
                   value="2"
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 2</span>
            </span>
        </label>
        <label>
            <input type="checkbox"
                   value="3"
                   disabled
            />
            <span class="qc-tile">
                <span class="qc-tile-text">Option 3 (désactivée)</span>
            </span>
        </label>
    </qc-choice-group>
</qc-doc-exemple>

<qc-doc-exemple caption="Exemple de boutons radio au format de boutons de sélection sur une rangée">
    <qc-choice-group legend="Choisissez une option :"
                    name="ex-radio-select-inline"
                    tiled
                    inline
    >
        <label>
            <input type="radio"
                   value="1"
                   checked
            />
            <span>1</span>
        </label>
        <label>
            <input type="radio"
                   value="2"
            />
            <span>2</span>
        </label>
        <label>
            <input type="radio"
                   value="3"
            />
            <span>3</span>
        </label>
        <label>
            <input type="radio"
                   value="4"
            />
            <span>4</span>
        </label>
        <label>
            <input type="radio"
                   value="5"
            />
            <span>5</span>
        </label>
        <label>
            <input type="radio"
                   value="6"
                   disabled
            />
            <span>6</span>
        </label>

    </qc-choice-group>
</qc-doc-exemple>

<h3 id="selection-button-attributes">Documentation technique</h3>
<p>Ces attributs sont appliqués à <code>qc-choice-group</code> et <code>qc-choice-group</code></p>
<div class="table-overflow">
    <table class="qc-table qc-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur attendue</th>
            <th>Valeur par défaut</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>tiled</td>
            <td>na</td>
            <td>na</td>
            <td>Affiche les boutons radio au format de boutons de sélection dans une grille</td>
        </tr>
        <tr>
            <td>column-count</td>
            <td>Nombre</td>
            <td>1</td>
            <td>
                Nombre de colonnes de la grille de boutons de sélection.
                <br/> Si la fenêtre est au format mobile (<code>--qc-breakpoint-sm</code>), la grille passe automatiquement à une colonne.
            </td>
        </tr>
        <tr>
            <td>inline</td>
            <td>na</td>
            <td>na</td>
            <td>Affiche les boutons de sélection sur une rangée</td>
        </tr>
        </tbody>
    </table>
</div>

<p>
    Pour les attributs spécifiques à chaque variante de boutons de sélection, voir les attributs des
    <a href="#radio-button-attributes">boutons radio</a> et des <a href="#checkbox-attributes">cases à cocher</a>.
</p>
