<h2 id="buttons">Boutons</h2>
<h3>Exemples</h3>

<qc-doc-exemple caption="Exemples des différentes options de boutons.">
    <div>
        <button class="qc-button qc-primary">Principal</button>
        <button class="qc-button qc-primary qc-button-rounded">Principal</button>
        <button class="qc-button qc-primary" disabled>Principal</button>
        <button class="qc-button qc-primary qc-button-compact">Principal</button>
    </div>

    <div>
        <button class="qc-button qc-secondary">Secondaire</button>
        <button class="qc-button qc-secondary qc-button-rounded">Secondaire</button>
        <button class="qc-button qc-secondary" disabled>Secondaire</button>
        <button class="qc-button qc-secondary qc-button-compact">Secondaire</button>
    </div>

    <div>
        <button class="qc-button qc-tertiary">Tertiaire</button>
        <button class="qc-button qc-tertiary qc-button-rounded">Tertiaire</button>
        <button class="qc-button qc-tertiary" disabled>Tertiaire</button>
        <button class="qc-button qc-tertiary qc-button-compact">Tertiaire</button>
    </div>

    <div>
        <button class="qc-button qc-danger">Avertissement</button>
        <button class="qc-button qc-danger qc-button-rounded">Avertissement</button>
        <button class="qc-button qc-danger" disabled>Avertissement</button>
        <button class="qc-button qc-danger qc-button-compact">Avertissement</button>
    </div>

</qc-doc-exemple>

<qc-doc-exemple caption="Exemples de boutons avec un icone.">
    <div>
        <button class="qc-button qc-primary">
            <qc-icon icon="plus" label="Précédent" style="margin-right: 8px;"></qc-icon>
            Précédent
        </button>

        <button class="qc-button qc-primary">
            Suivant
            <qc-icon icon="plus" label="Précédent" style="margin-left: 8px;"></qc-icon>
        </button>
    </div>

</qc-doc-exemple>