@use "qc-sdg-lib" as *;

.qc-button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 112px;
  padding: 16px 24px;
  transition: all 0.24s ease-in-out;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 0;
  cursor: pointer;
  margin-right: rem(32);
  margin-bottom: token-value(spacer, md);

  &.qc-button-compact {
    font-weight: 600;
    min-width: 80px;
    padding: 7px 15px;
    border-width: 1px;
  }

  &.qc-button-rounded {
    border-radius: 4px;
  }

  &.qc-primary {
    color: token-value(color white);
    border-color: token-value(color blue piv);
    background-color: token-value(color blue piv);
    box-shadow: 0 1px 4px token-value(color box_shadow);

    &:hover:not(:disabled) {
      border-color: token-value(color blue, regular);
      background-color: token-value(color blue, regular);
    }

    &:focus:not(:disabled) {
      border-color: token-value(color blue, dark);
      background-color: token-value(color blue, regular);
      box-shadow:
        0 2px 8px token-value(color, box_shadow),
        0 0 0 2px token-value(color blue, light);
    }

    &:active:not(:disabled) {
      border-color: token-value(color blue, regular_light);
      background-color: token-value(color blue, regular_light);
    }
  }

  &.qc-secondary {
    color: token-value(color blue, piv);
    border-color: token-value(color blue, piv);

    &:not(:disabled):hover {
      background-color: rgba(token-value(color blue, piv), 0.16);
    }

    &:not(:disabled):focus {
      border-color: token-value(color blue, dark);
      background-color: rgba(token-value(color blue, piv), 0.16);
      box-shadow: 0 0 0 2px token-value(color blue, light);
    }

    &:not(:disabled):active {
      background-color: rgba(token-value(color blue, piv), 0.08);
    }
  }


  &:disabled,
  &.disabled {
    background-color: token-value(color grey, light);
    border-color: token-value(color grey, light);
    color: token-value(color, white);
    cursor: not-allowed;
    box-shadow: none;
    opacity: 1;
  }

  &.inverted {

  }
}
