@use "function/colors" as colors;
@use "function/utils" as *;
@use "variables" as *;
@use "mixins/grid" as *;
@use "mixins/link" as *;
@use "mixins/typography" as *;

:root{
  font-size: #{$percent-root-font-size}#{"%"};
  body {
    @include content-font(100);
    font-family: $content-font-family;
    color: colors.color("blue", "dark");
  }
}

h1, .qc-h1 {
  @include header-font(h1);
  margin-top: rem(9 * $base-spacer);
  margin-bottom: rem(4 * $base-spacer);

  &:after{
    content: "";
    display:block;
    margin: 0;
    width: rem(6 * $base-spacer);
    padding-top: rem($base-spacer);
    border-bottom: 4px solid colors.color("accent","pink");
  }
}

h2, .qc-h2 {
  @include header-font(h2);
  margin-top: rem(6 * $base-spacer);
  margin-bottom: spacer(sm);
}
h3, .qc-h3 {
  @include header-font(h3);
  margin-top: spacer(sm);
  margin-bottom: spacer(sm);

}
h4, .qc-h4 {
  @include header-font(h4);
  margin-top: spacer(md);
  margin-bottom: rem($base-spacer);
}
h5,.qc-h5 {
  @include header-font(h5);
  margin-top: spacer(sm);
  margin-bottom: 0;
}
h6,.qc-h6 {
  @include header-font(h6);
  margin-top: spacer(md);
  margin-bottom: 0;
}

.qc-subhead {
  @include content-font(90);
  + {
    h1,h2,h3,h4,h5,h6,
    .qc-h1,.qc-h2,.qc-h3,.qc-h4,.qc-h5,.qc-h6 {
      margin-top: spacer(sm);
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: spacer(md);
}

img {
  border: none;
  vertical-align: middle;
}

a {
  color: colors.color("link");
  &:visited {
    color: colors.color("link", "visited");
  }
  &:hover,&:focus {
      @include hover-link();
  }
  .external-link-tail {
    white-space: nowrap;
    img {
      max-height: rem(11);
      max-width: rem(11);
      margin-bottom: rem(1.6);
    }
  }
}
