@use "function/colors" as colors;
@use "variables" as *;
@use "mixins/grid" as *;


:root{
  font-size:62.5%;
  body {
    @include content-font(16);
    font-family: $content-font;
    color: $color-dark-blue;
  }
}

h1, .qc-h1 {
  @include header-font(49);
  margin-top: $spacer-72;
  margin-bottom: $spacer-32;
  @include media-tablet() {
    @include header-font(36);
  }

  &:after{
    content: "";
    display:block;
    margin: 0;
    width:$spacer-48;
    padding-top: $spacer-4;
    border-bottom: 4px solid $color-pink;
  }
}

h2, .qc-h2 {
  @include header-font(35);
  margin-top: $spacer-48;
  margin-bottom: $spacer-16;
  @include media-tablet(){
    @include header-font(29);
  }
}
h3, .qc-h3 {
  @include header-font(28);
  font-weight:bold;
  margin-top: $spacer-24;
  margin-bottom: $spacer-16;
  @include media-tablet(){
    @include header-font(25);
  }
}
h4, .qc-h4 {
  @include header-font(28);
  margin-top: $spacer-24;
  margin-bottom: $spacer-8;
}
h5,.qc-h5 {
  @include header-font(19);
  margin-top: $spacer-16;
  margin-bottom: 0;
}
h6,.qc-h6 {
  @include header-font(16);
  margin-top: $spacer-16;
  margin-bottom: 0;
}

.qc-subhead {
  @include content-font(14);
  + {
    h1,h2,h3,h4,h5,h6,
    .qc-h1,.qc-h2,.qc-h3,.qc-h4,.qc-h5,.qc-h6 {
      margin-top: $spacer-16;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: $spacer-24;
}

a {
  &, &:visited {
    color: colors.color("blue", "piv");
  }
}
