@import "variables";

figcaption,
.qc-gallery figcaption {
  @include content-font(10);
  display: table-caption;
  caption-side: bottom;
  background-color: $color-light-grey;
  padding: $spacer-8 $spacer-8;
  margin-bottom: 0;
  margin-top: $spacer-8;
}

.qc-gallery {
  overflow: hidden;
  margin-top: $spacer-8;

  figure {
    display: table;
    margin: 0;

    &.qc-image {
      margin-bottom: $spacer-32;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;

    &.qc-image-caption {
      p {
        line-height: $spacer-24;
        margin-bottom: 0;
      }
    }
  }
}

