@use "function/colors" as *;
@use "function/utils" as *;
@use "mixins/typography" as *;
@import "variables";

.qc-gallery {
  overflow: hidden;
  margin-top: spacer(sm);

  figure {
    display: table;
    margin: 0 0 spacer(xl) 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  figcaption {
    @include content-font(14);
    display: table-caption;
    caption-side: bottom;
    background-color: #{color("grey","pale")};
    padding: spacer(sm);
    margin-bottom: 0;
    margin-top: spacer(sm);

    p {
      line-height: spacer(lg);
      margin-bottom: 0;
    }
  }
}

