
//---------------
// spacer
//---------------
$base-spacer: .8rem;
$spacer-4: .5 * $base-spacer;
$spacer-8: $base-spacer;
$spacer-16: 2 * $base-spacer;
$spacer-24: 3 * $base-spacer;
$spacer-32: 4 * $base-spacer;
$spacer-40: 5 * $base-spacer;
$spacer-48: 6 * $base-spacer;
$spacer-56: 7 * $base-spacer;
$spacer-64: 8 * $base-spacer;
$spacer-72: 9 * $base-spacer;
$spacer-80: 10 * $base-spacer;
$spacer-96: 12 * $base-spacer;
$spacer-120: 15 * $base-spacer;