<qc-notice type="advice"
           icon="ligth-bulb"
           title="Nouvelle règlementation"
           content="Les nouveaux règlements de pêche seront en vigeur à partir du 12 mai.">
</qc-notice>
<qc-notice type="note"
           icon="note"
           title="Nouvelle règlementation"
           content="Les nouveaux règlements de pêche seront en vigeur à partir du 12 mai.">
</qc-notice>
<qc-notice type="information"
           title="Nouvelle règlementation"
           content="Les nouveaux règlements de pêche seront en vigeur à partir du 12 mai.">
</qc-notice>
<qc-notice type="warning">
  <h2>Migration des contenus</h2>
  <p>Les contenus seront transférés dans Québec.ca à partir du 16 février et le site sera fermé le 20
    avril.</p>
</qc-notice>
<qc-notice type="success"
           title="Votre demande d’inscription a été reçue"
           content="Votre code de confirmation sera envoyé par courriel.">
</qc-notice>
<qc-notice type="error"
           title="Des erreurs sont présentes dans le formulaire :">
  <ul>
    <li>
      <a href="#">Le champ « Nom de famille » est obligatoire ;</a>
    </li>
    <li>
      <a href="#">Le champ « Prénom » est obligatoire ;</a>
    </li>
    <li>
      <a href="#">Le champ « Numéro de dossier » est obligatoire.</a>
    </li>
  </ul>
</qc-notice>
