@import "main";
.sd-typo-demo {
  font-size: 6.3rem;
  line-height: 6.3rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.sd-typo-demo-maj {
  font-size:2rem;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  word-break: break-all;
}
.sd-typo-demo-min {
  font-size: 2rem;
  text-transform: lowercase;
  letter-spacing: 0.13rem;
  word-break: break-all;
}

.sd-exemple{
  font-size:1.2rem;
  color: $dark-blue;
  border-top: 0.1rem solid $normal-gray;
  padding-top:0.48rem;
  margin-top:1.2rem;
  margin-bottom: 0;
  line-height:1.8rem;
}

.sd-cercle-couleur {
  background: #000;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  float: left;
  margin: 0 1rem 0 0;
}

.sd-flecheHaut {
  margin-top: 1rem;
  cursor: pointer;
  -moz-box-shadow: 0.1rem 0.1rem 7px rgba(34, 54, 84, 0.4);
  -webkit-box-shadow: 0.1rem 0.1rem rgba(34, 54, 84, 0.4);
  box-shadow: 0.1rem 0.1rem 7px rgba(34, 54, 84, 0.4);
}
.sd-flecheHaut, .sd-flecheHaut img {
  width: 40px;
  height: 40px;
}

.sd-cercle-couleur-separateur {
  clear: both;
  margin: 3rem;
}

.sd-cercle-couleur-container {
  padding: 2.5rem 0 2.6rem;
  border-bottom: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
  margin: 0.6rem 0 5rem;

  p {
    margin-bottom: 0;
    margin-top: 0.4rem;
  }
}

.petitTexte {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 1.5em;
}

.a-faire, .a-ne-pas-faire {
  margin-bottom: 0;
  margin-top: 1.8rem;
  & + hr {
    margin-top: 0.4rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:before {
    content:"";
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 1.75em;
    background-size: 1.25em;
  }
}

.a-faire:before {
  background-image: url(../Images/Templates/ico-faire.svg);
}
.a-ne-pas-faire:before {
  background-image: url(../Images/Templates/ico-ne-pas-faire.svg);
}

hr {
  border-top: 1px solid $normal-gray!important;
  padding: 1rem 0;
  margin: 2rem 0 0;
}

// UTILITIES
.invisible{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.linkExtImg{
  max-height:11px;
  max-width:11px;
  margin-bottom:0.16rem;
}

.dateMiseAJour{
  font-size:1.2rem;
  padding-top:2.4rem;
}
.frame-type-menu_section {
  border-top: 0.1rem solid #c5cad2;
  border-bottom: 0.1rem solid #c5cad2;
  padding: 3.2rem 1.6rem;
  background-color: #f7f7f7;
  margin-bottom: 3.2rem;
  p {
    margin: 0;
    font-weight:bold;
  }
  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
    border: none;
    li {
      padding: 0;
      line-height: 2.4rem;
      margin: 1.6rem 0 0 0;
      a{
        text-decoration: none;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}

.image-caption p {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//
//.systeme-design-contenu .flecheDroiteRTE {
//  text-decoration: none;
//}
//
//.systeme-design-contenu .zoneClick, .systeme-design-contenu .zoneClickLeft {
//  width: auto;
//  display: inline-block;
//  padding: 1rem;
//  min-width: 156px;
//  max-width: none;
//  margin-right: 1.875rem;
//  margin-bottom: 0;
//  border: 2px solid #095797;
//  box-shadow: 0.1rem 0.1rem 7px #c4c8ce;
//  -moz-box-shadow: 0.1rem 0.1rem 7px #c4c8ce;
//  -webkit-box-shadow: 0.1rem 0.1rem 7px #c4c8ce;
//  font-size: 1rem;
//}
//.systeme-design-contenu .zoneClickLeft.actif,
//.systeme-design-contenu .zoneClickLeft:focus,
//.systeme-design-contenu .zoneClick:focus,
//.systeme-design-contenu .zoneClickLeft.focus {
//  background-color: #156bb2;
//  color: #fff;
//  border: 2px solid $dark-blue;
//}
//.systeme-design-contenu .zoneClickLeft.survol {
//  background-color: #156bb2;
//  text-decoration: none;
//  color: #fff;
//  border: 0;
//}
//.systeme-design-contenu .zoneClick-sec,
//.systeme-design-contenu .zoneClick-ter {
//  box-shadow: none;
//  -moz-box-shadow: none;
//  -webkit-box-shadow: none;
//}
//.systeme-design-contenu .zoneClick.zoneClick-sec {
//  background: #fff;
//  color: #095797;
//}
//.systeme-design-contenu .zoneClick-sec:hover,
//.systeme-design-contenu .zoneClick-sec.actif {
//  background-color: #095797;
//  color: #fff;
//  border: 2px solid #095797;
//  box-shadow: none;
//  -moz-box-shadow: none;
//  -webkit-box-shadow: none;
//}
//.systeme-design-contenu .zoneClick-sec:focus,
//.systeme-design-contenu .zoneClick-sec.focus {
//  background-color: #095797;
//  color: #fff;
//  border: 2px solid $dark-blue;
//  box-shadow: none;
//  -moz-box-shadow: none;
//  -webkit-box-shadow: none;
//}
//.systeme-design-contenu .zoneClick.zoneClick-ter {
//  background: #fff;
//  color: #095797;
//  border: none;
//}
//.systeme-design-contenu .zoneClick-ter:hover,
//.systeme-design-contenu .zoneClick-ter:focus,
//.systeme-design-contenu .zoneClick-ter.actif {
//  background-color: #fff;
//  color: #095797;
//  border: none;
//  box-shadow: none;
//  -moz-box-shadow: none;
//  -webkit-box-shadow: none;
//}
//.systeme-design-contenu .zoneClick-ter:hover,
//.systeme-design-contenu .zoneClick-ter:focus,
//.systeme-design-contenu .zoneClick-ter.actif,
//.systeme-design-contenu .zoneClick-ter.focus {
//  text-decoration: underline;
//}
//
//h2.systeme-design-titre {
//  margin-top: 1.5rem;
//}
//.systeme-design-contenu h4 {
//  margin-top: 2rem;
//  margin-bottom: 0;
//}
//
//.systeme-design-contenu .frame-avis,
//.systeme-design-contenu .frame-avisExclam,
//.systeme-design-contenu .frame-avisInterr,
//.systeme-design-contenu .frame-avisTeleph,
//.systeme-design-contenu .frame-avisCoords {
//  margin-bottom: 0;
//}
//#main.systeme-design-contenu li {
//  padding: 0 0 0 0.5rem;
//  margin: 0;
//}
//#main.systeme-design-contenu .frame-type-menu_section ul li { padding: 0; }
//#main.systeme-design-contenu .menuSousPagesAncres li,
//#main.systeme-design-contenu .menuAncres li{
//  padding: 0;
//  margin: 1rem 0;
//}
//#main.systeme-design-contenu .listePiv { list-style: none; }
//.systeme-design-contenu .frame-type-menu_section ul {
//  margin-bottom: 0;
//  padding-bottom: 0;
//}
//.systeme-design-contenu .ce-gallery figcaption {
//  display: table-caption;
//  caption-side: bottom;
//  background-color: #f2f1f1;
//  font-size: 0.875rem;
//  padding: 0.5rem 0.5rem;
//  margin-bottom: 0;
//  margin-top: 0.5rem;
//  line-height: 1.375rem;
//}
//
//.systeme-design {
//  background-color: $dark-blue;
//  color:#fff;
//  padding-top: 20px;
//  padding-bottom: 20px;
//}
//.systeme-design .sd-id {
//  font-size: 2rem;
//  font-family: Roboto, sans-serif;
//}
//.systeme-design .sd-beta {
//  font-size: 0.875rem;
//  font-family: 'Open Sans', sans-serif;
//  line-height: 1rem;
//  background-color: #1375c6;
//  padding: 2px 7px;
//  vertical-align: middle;
//  margin-left: 7px;
//  display: none;
//}
//.systeme-design-titre {
//  margin-top: 1.5rem;
//}
//
//h2.systeme-design-titre {
//  margin-top: 3rem;
//}
//
//.systeme-design-contenu ul.menuSousPagesAncres {
//  padding-bottom: 0;
//}
//
//
//.systeme-design-contenu p.noMarginBottom {
//  margin-bottom: 0;
//}
//
//.systeme-design-contenu ol.filAriane {
//  padding-left: 0;
//}
//#main.systeme-design-contenu ol.filAriane li.first {
//  padding-left: 0;
//}


