@use "../../scss/qc-sdg-lib" as *;
@use "../CheckFieldGroup/checkRow" as *;

input[type=radio] {
  .qc-check-row & {
    border-radius: 100%;

    &::before {
      width: rem(14);
      height: rem(14);
      border-radius: 100%;
      background-color: token-value(color, blue, regular);
    }

    &:checked::before {
      opacity: 1;
    }
  }

  .qc-compact &::before {
    width: rem(10);
    height: rem(10);
  }
}



