<h2 id="radio-button">Boutons radio</h2>
<p>Les boutons radio sont aussi disponibles au format de <a href="#selection-button">boutons de sélection</a>.</p>
<h3>Exemples</h3>


  <qc-radio-group id="exemple-radio-md"
                  legend="Choisissez une option :"
                  name="ex-md"
                  selection-button
  >
    <label>
      <input type="radio"
             name="ma-radio"
             value="option1">
      <span>Option 1</span>
    </label>
    <label>
      <input type="radio"
             name="ma-radio"
             value="option2">
      <span>Option 2</span>
    </label>
  </qc-radio-group>

