@use "qc-sdg-lib" as *;
@use "sass:math";
@use "../Icon/icons" as *;

a {
  color: token-value(color, link, text);
  &:visited {
    color: token-value(color, link, visited);
  }
  &:hover {
    @include hover-link();
  }
  &:focus, &:focus-visible {
    @include focus-link();
  }
  &:active {
    @include active-link();
  }
  .img-wrap {
    white-space: nowrap;
  }

}
div.qc-ext-link-img {

  @extend .icon-external-link;
  $ratio : math.div(11,16) * 1em;
  height: $ratio;
  width: $ratio;
  display: inline-block;
  background: token-value(color link text);
  mask-size: $ratio;
  margin-left: 4px;
  a:visited  & {
    background: token-value(color link visited);
  }
  a:focus  & {
    background: token-value(color link hover);
  }
  a:hover  & {
    background: token-value(color link hover);
  }
  a:active  & {
    background: token-value(color link active);
  }


  .img-wrap + & {
    display: none;
  }
}