@use "qc-sdg-lib" as *;
@use "sass:math";
@use "../Icon/icons" as *;

a {
  color: token-value(color, link, text);
  &:has(.qc-ext-link-text) {
    white-space: nowrap;
    text-decoration: none;
  }
  &:visited {
    color: token-value(color, link, visited);
  }
  &:hover {
    @include hover-link();
  }
  &:focus, &:focus-visible {
    @include focus-link();
  }
  &:active {
    @include active-link();
  }
  .img-wrap {
    white-space: nowrap;
  }
}

.qc-external-link {
  .qc-ext-link-text {
    white-space: normal;
    text-decoration: underline;
  }
}

.qc-ext-link-img {
  @extend .icon-external-link;
  $ratio : math.div(11,16) * 1em;
  height: $ratio;
  width: $ratio;
  background: token-value(color link text);
  mask-size: $ratio;
  display: inline-block;
  mask-repeat: no-repeat;

  a:visited & {
    background: token-value(color link visited);
  }
  a:focus & {
    background: token-value(color link hover);
  }
  a:hover & {
    background: token-value(color link hover);
  }
  a:active & {
    background: token-value(color link active);
  }
}