@use "../../scss/qc-sdg-lib" as *;
// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

label {
  @include content-font('md', 'bold');
  display: inline-block;
}

legend {
  padding: 0;
}

qc-select select {
  appearance: none;
}
