@use "../../scss/qc-sdg-lib" as *;
// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

select {
  appearance: none;

  color: token-value(color, text, primary);
  @include content-font('md');
  @include qc-formcontrol-box();

  padding: token-value(spacer, xs);

  background-image: getImageUrl("chevron-blue-thin", $base64: true);
  background-repeat: no-repeat;
  background-position: right token-value(spacer, xs) top 50%;

  &:disabled {
    background-image: getImageUrl("chevron-grey-thin", $base64: true);
    background-color: token-value(color, grey, pale);
    color: token-value(color, grey, medium);
    cursor: not-allowed;
  }
}

label {
  @include content-font('md', 'bold');
  display: inline-block;
  margin-bottom: rem(4);
}

legend {
  padding: 0;
}
