@use "sass:map";
//---------------
// System colours QC
//---------------

$color-white: #fff;
$color-black: #000;

// Main colors
$color-blue-piv: #095797;
$color-blue-pale: #dae6f0;
$color-blue-light: #4a98d9;
$color-blue: #1479cc;
$color-blue-medium: #19406c;
$color-blue-dark: #223654;

//Accent colors
$color-pink: #e58271;

// Grey levels
$color-grey-pale: #f1f1f2;
$color-grey-light: #c5cad2;
$color-grey: #8893a2;
$color-grey-medium: #6b778a;
$color-grey-dark: #4e5662;


// Functional colors
$color-errors: #cb381f;
$color-validation: #4f813d;

$colors: (
  "blue" : (
    "pale" : #dae6f0,
    "light" : #4a98d9,
    "" : #1479cc,
    "piv": #095797,
    "medium" : #19406C,
    "dark": #223654,
  ),
  "grey" : (
    "pale" : #f1f1f2,
    "light" : #c5cad2,
    "": #8893a2,
    "medium" : #6b778a,
    "dark": #4e5662,
    ),
  "pink" : (
    "pale": #ffdbd6,
    "": #e58271,
  ),
  "red": (
    "": #cb381f,
    "dark": #692519,
  ),
  "green": (
    "pale": #d7f0bb,
    "": #4f813d,
    "dark": #2c4024,
  ),
  "yellow" : (
    "pale" : #f8e69a,
    "": #e0ad03,
    "dark": #ad781c,
  ),
) !default;
$colors: map.merge($colors,(
  "accent": (
    "pink": map.get($colors, "pink", "")
  ),
  "success": (
    "": map.get($colors, "green", ""),
  ),
  "error": (
    "": map.get($colors, "red", ""),
  ),
  "danger": (
    "": map.get($colors, "red", "dark"),
  ),
  "link": (
      "": map.get($colors, "blue", "piv"),
      "hover": map.get($colors, "blue",""),
  )
));



