//---------------
// grid
//---------------
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

// Grid containers
$container-max-widths: (
        mobile: $mobile,
        tablet: $tablet,
        desktop: $desktop,
);

$container-max-widths-aliases: (
        sm: $mobile,
        md: $tablet,
        lg: $desktop,
);
//Gutters
$grid-gutter-width: 32px  !default;

// Grid breakpoints
$grid-breakpoints: (xs: 0,mobile:$mobile, tablet: $tablet,desktop: $desktop);


