//---------------
// grid
//---------------
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$xdesktop: 1140px;

//Gutters
$grid-gutter-width: 32px !default;

$container-max-widths: (
        xs: 0,
        sm: $mobile,
        md: $tablet,
        lg: $desktop,
        xl: $xdesktop,
);

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm:$mobile,
        md: $tablet,
        lg: $desktop,
        xl: $xdesktop,
);


