@use "sass:map";
@use "../function/map" as qc;


$percent-root-font-size: 62.5 !default;

$font-dir: "../fonts" !default;

// QC Font Family
$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$content-font: $font-open-sans;
$header-font: $font-roboto;

// QC Font Weight
$font-weight-regular : 400;
$roboto-font-weight-medium : 500;
$open-sans-font-weight-semi-bold : 600;
$font-weight-bold : 700;


// Font sizes and line height associations
// … for content
$font-sizes: (
  "content": (
      14: 20,
      16: 24,
      18: 28,
      22: 32,
      31: 48
  ),
  "header": (
      16: 20,
      19: 24,
      21: 24,
      25: 32,
      28: 32,
      36: 40,
      48: 56
  )
);



