//---------------
// System colours QC
//---------------

// Main colors
$color-blue-piv: #095797;

//Accent colors
$color-pink: #f09686;
$color-blue: #1479cc;

// Secondary colors
$color-light-blue: #dae6f0;
$color-light-grey: #f2f1f1;
$color-dark-blue: #223654;
$color-pale-sky: #647287;
$color-grey: #c5cad2;
$color-white: #fff;
$color-black: #000;

// Functional colors
$color-errors: #cb381f;
$color-validation: #4f813d;