/.idea
.DS_Store
node_modules/
/sandbox

/dist/qc-sdg-design-tokens.js
/public/js/rewrite-bs.js
/dist/js/qc-sdg-design-tokens.js
/dist/js/qc-sdg-no-grid.js
/public/js/assets/asset-*
*dev.html

# Playwright
*.test.html
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/**/*.png
/public/js/qc-sdg-test.js
