@use "../modules/tokens" as *;
@use "../modules/utils" as *;
@use "../modules/grid" as *;

qc-piv-footer {
  display: block;
  margin-top: rem(40);
  margin-bottom: token-value(spacer content-block);
  @include content-font(sm);

  a {
    text-decoration: none;
  }

  ul {
    margin: 0 0 rem(16) 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 rem(16) rem(8);
      margin: 0;
    }
  }

}

.qc-piv-footer {
  a {
    text-decoration: none;
  }

  .qc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}