@use "../variables/typography";
@use "../function/utils";
@use "../function/map" as qc;
@use "sass:map";

// toujours utiliser ces mixins pour la déclarations des tailles de police:
// cela garantit que la taille police est conforme aux exigences du SDG
// et ajoute automatiquement le bon interlignage
@mixin content-font($scale) {
  font-size: var(--qc-content-font-size-#{$scale}) ;
  line-height: var(--qc-content-line-height-#{$scale}) ;
}

@mixin header-font($header) {
  font-size: var(--qc-header-font-size-#{$header}) ;
  line-height: var(--qc-header-line-height-#{$header}) ;
  font-weight: var(--qc-header-font-weight-bold);
}
