.qc-container {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .qc-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .qc-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .qc-container {
    max-width: 960px;
  }
}

.qc-container-fluid, .qc-container-desktop, .qc-container-tablet, .qc-container-mobile {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .qc-container-mobile {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .qc-container-tablet, .qc-container-mobile {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .qc-container-desktop, .qc-container-tablet, .qc-container-mobile {
    max-width: 960px;
  }
}
.qc-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
}

.qc-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.qc-no-gutters > .qc-col,
.qc-no-gutters > [class*=qc-col-] {
  padding-right: 0;
  padding-left: 0;
}

.qc-col-desktop,
.qc-col-desktop-auto, .qc-col-desktop-12, .qc-col-desktop-11, .qc-col-desktop-10, .qc-col-desktop-9, .qc-col-desktop-8, .qc-col-desktop-7, .qc-col-desktop-6, .qc-col-desktop-5, .qc-col-desktop-4, .qc-col-desktop-3, .qc-col-desktop-2, .qc-col-desktop-1, .qc-col-tablet,
.qc-col-tablet-auto, .qc-col-tablet-12, .qc-col-tablet-11, .qc-col-tablet-10, .qc-col-tablet-9, .qc-col-tablet-8, .qc-col-tablet-7, .qc-col-tablet-6, .qc-col-tablet-5, .qc-col-tablet-4, .qc-col-tablet-3, .qc-col-tablet-2, .qc-col-tablet-1, .qc-col-mobile,
.qc-col-mobile-auto, .qc-col-mobile-12, .qc-col-mobile-11, .qc-col-mobile-10, .qc-col-mobile-9, .qc-col-mobile-8, .qc-col-mobile-7, .qc-col-mobile-6, .qc-col-mobile-5, .qc-col-mobile-4, .qc-col-mobile-3, .qc-col-mobile-2, .qc-col-mobile-1 {
  position: relative;
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

@media (min-width: 576px) {
  .qc-col-mobile {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-mobile-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-mobile-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-mobile-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-mobile-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-mobile-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-mobile-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-mobile-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-mobile-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-mobile-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-mobile-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-mobile-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-mobile-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-mobile-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-mobile-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-mobile-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-mobile-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-mobile-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-mobile-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-mobile-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-mobile-first {
    order: -1;
  }
  .qc-order-mobile-last {
    order: 13;
  }
  .qc-order-mobile-0 {
    order: 0;
  }
  .qc-order-mobile-1 {
    order: 1;
  }
  .qc-order-mobile-2 {
    order: 2;
  }
  .qc-order-mobile-3 {
    order: 3;
  }
  .qc-order-mobile-4 {
    order: 4;
  }
  .qc-order-mobile-5 {
    order: 5;
  }
  .qc-order-mobile-6 {
    order: 6;
  }
  .qc-order-mobile-7 {
    order: 7;
  }
  .qc-order-mobile-8 {
    order: 8;
  }
  .qc-order-mobile-9 {
    order: 9;
  }
  .qc-order-mobile-10 {
    order: 10;
  }
  .qc-order-mobile-11 {
    order: 11;
  }
  .qc-order-mobile-12 {
    order: 12;
  }
  .qc-offset-mobile-0 {
    margin-left: 0;
  }
  .qc-offset-mobile-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-mobile-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-mobile-3 {
    margin-left: 25%;
  }
  .qc-offset-mobile-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-mobile-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-mobile-6 {
    margin-left: 50%;
  }
  .qc-offset-mobile-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-mobile-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-mobile-9 {
    margin-left: 75%;
  }
  .qc-offset-mobile-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-mobile-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .qc-col-tablet {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-tablet-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-tablet-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-tablet-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-tablet-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-tablet-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-tablet-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-tablet-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-tablet-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-tablet-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-tablet-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-tablet-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-tablet-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-tablet-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-tablet-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-tablet-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-tablet-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-tablet-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-tablet-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-tablet-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-tablet-first {
    order: -1;
  }
  .qc-order-tablet-last {
    order: 13;
  }
  .qc-order-tablet-0 {
    order: 0;
  }
  .qc-order-tablet-1 {
    order: 1;
  }
  .qc-order-tablet-2 {
    order: 2;
  }
  .qc-order-tablet-3 {
    order: 3;
  }
  .qc-order-tablet-4 {
    order: 4;
  }
  .qc-order-tablet-5 {
    order: 5;
  }
  .qc-order-tablet-6 {
    order: 6;
  }
  .qc-order-tablet-7 {
    order: 7;
  }
  .qc-order-tablet-8 {
    order: 8;
  }
  .qc-order-tablet-9 {
    order: 9;
  }
  .qc-order-tablet-10 {
    order: 10;
  }
  .qc-order-tablet-11 {
    order: 11;
  }
  .qc-order-tablet-12 {
    order: 12;
  }
  .qc-offset-tablet-0 {
    margin-left: 0;
  }
  .qc-offset-tablet-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-tablet-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-tablet-3 {
    margin-left: 25%;
  }
  .qc-offset-tablet-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-tablet-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-tablet-6 {
    margin-left: 50%;
  }
  .qc-offset-tablet-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-tablet-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-tablet-9 {
    margin-left: 75%;
  }
  .qc-offset-tablet-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-tablet-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .qc-col-desktop {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-desktop-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-desktop-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-desktop-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-desktop-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-desktop-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-desktop-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-desktop-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-desktop-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-desktop-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-desktop-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-desktop-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-desktop-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-desktop-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-desktop-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-desktop-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-desktop-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-desktop-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-desktop-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-desktop-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-desktop-first {
    order: -1;
  }
  .qc-order-desktop-last {
    order: 13;
  }
  .qc-order-desktop-0 {
    order: 0;
  }
  .qc-order-desktop-1 {
    order: 1;
  }
  .qc-order-desktop-2 {
    order: 2;
  }
  .qc-order-desktop-3 {
    order: 3;
  }
  .qc-order-desktop-4 {
    order: 4;
  }
  .qc-order-desktop-5 {
    order: 5;
  }
  .qc-order-desktop-6 {
    order: 6;
  }
  .qc-order-desktop-7 {
    order: 7;
  }
  .qc-order-desktop-8 {
    order: 8;
  }
  .qc-order-desktop-9 {
    order: 9;
  }
  .qc-order-desktop-10 {
    order: 10;
  }
  .qc-order-desktop-11 {
    order: 11;
  }
  .qc-order-desktop-12 {
    order: 12;
  }
  .qc-offset-desktop-0 {
    margin-left: 0;
  }
  .qc-offset-desktop-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-desktop-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-desktop-3 {
    margin-left: 25%;
  }
  .qc-offset-desktop-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-desktop-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-desktop-6 {
    margin-left: 50%;
  }
  .qc-offset-desktop-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-desktop-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-desktop-9 {
    margin-left: 75%;
  }
  .qc-offset-desktop-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-desktop-11 {
    margin-left: 91.6666666667%;
  }
}

/*# sourceMappingURL=12col-grid.css.map */
