.alerte-generale {
  padding: 24px 0;
  &.messageAlerte {
    background-color: $yellow-alert;
    .alerte-icone {
      background-image: url("../Images/Templates/Avis/important.svg");
    }
  }
  &.messageGeneral {
    background-color: $bleu-pale;
    .alerte-icone {
      background-image: url("../Images/Templates/Avis/general.svg");
    }
  }
  &.messageCatastrophe {
    background-color: $errors;
    .alerte-icone {
      background-image: url("../Images/Templates/Avis/catastrophe.svg");
    }
    p,
    a {
      color: $white;
    }
  }
  .alerte-icone {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 24px;
    flex-shrink: 0;
  }
  p {
    font-size: rem-calc(14);
    font-weight: 600;
    margin: 0;
    @media (min-width: 768px) {
      font-size: rem-calc(16);
    }
  }
}
