#main {
  .avis-titre {
    font-family: $f-body;
    font-weight: 700;
    font-size: rem-calc(14);
    line-height: rem-calc(20);
    margin: 0;
    padding: 0;
  }
}
.frame + .avis {
  margin-top: calc(48px - 1.5rem);
}
.avis {
  display: flex;
  margin: 48px 0;
  .avis-icone {
    padding: 24px 8px;
    border: 1px solid $normal-grey;
    border-width: 1px 0 1px 1px;
    &.general {
      background-color: $bleu-pale;
    }
    &.important {
      background-color: $yellow-alert;
    }
    &.succes {
      background-color: $success-green;
    }
    &.erreur {
      background-color: $error-red;
    }
  }
  .avis-contenu {
    padding: 24px 24px 24px 16px;
    border: 1px solid $normal-grey;
    border-width: 1px 1px 1px 0;
    flex-grow: 1;
    @media (min-width: 768px) {
      padding: 24px 40px 24px 16px;
    }
    p {
      word-break: break-word;
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      &:last-child {
        margin: 0;
      }
    }
  }
}
