button,
a {
  &.zoneClickLeft {
    display: block;
    min-width: 156px;
    text-align: center;
    padding: 16px;
    border: 0;
    font-weight: 700;
    text-decoration: none;
    max-width: 340px;
    width: auto;
    font-size: rem-calc(16);
    line-height: 1.5;
    margin: 30px auto;
    background-color: $bleu-piv;
    color: $white;
    box-shadow: 0 3px 6px transparentize($bleu-fonce, 0.85);
    &:hover {
      background-color: $bleu-medium;
      border: 0;
    }
    &:focus {
      background-color: #156bb2;
      color:#fff;
      border:3px solid #223654;
      outline:none;
    }
    @media (min-width: 768px) {
      display: inline-block;
      margin: 16px 0;
      & + .button-base {
        margin-left: 30px;
      }
    }
    @media (max-width: 576px) {
      width: 100%;
      max-width: auto;
    }
    .frame-infolettre & {
      margin-top: 0;
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
      // colonne droite
      .colonneDroitePetite & {
        position: inherit;
        transform: none;
        @media (max-width: 992px) {
          transform: none;
        }
        @media (max-width: 576px) {
          max-width: 100%;
        }
        @media (max-width: 476px) {
          max-width: 100%;
        }
      }
      // colonne normal (à côté de la zone complémentaire)
      .col-md-7 & {
        top: auto;
        transform: none;
        left: 1.75rem;
        bottom: 1rem;
        width: 50%;
        @media (max-width: 992px) {
          width: 90%;
        }
        @media (max-width: 576px) {
          max-width: 90%;
        }
      }
      @media (max-width: 992px) {
        max-width: 562px;
        margin: 10px auto;
        display: block;
        width: fit-content;
        position: inherit;
        transform: none;
        top: 0;
        left: 0;
      }
      @media (max-width: 767px) {
        max-width: 446px;
      }
      @media (max-width: 576px) {
        max-width: 90%;
      }
      @media (max-width: 476px) {
        max-width: 80%;
      }
    }
  }
}