#main {
  .consulter-aussi-liens {
    list-style: none;
  }
  .consulter-aussi-titre {
    font-size: rem-calc(28);
    font-weight: 500;
    margin: 40px 0 16px;
    padding: 0;
  }
  .consulter-aussi-doc {
    margin-top: 0;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.consulter-aussi {
  border-top: 2px solid $bleu-fonce;
  border-bottom: 1px solid $normal-grey;
  margin-top: 70px;
  .consulter-aussi-liens {
    margin: 0 0 40px;
    padding: 0;
  }
  .consulter-aussi-lien {
    margin-bottom: 16px;
  }
  .consulter-aussi-docs {
    list-style: none;
    margin: 0;
    border-top: 1px solid $normal-grey;
    padding: 40px 0;
  }
  .consulter-aussi-doc {
    display: flex;
    img {
      margin-right: 8px;
    }
  }
}
