.en-demande {
  font-size: rem-calc(16);
  font-weight: bold;
  margin-bottom: rem-calc(8);
  margin-top: rem-calc(96);
  p {
    margin: 0;
  }
}
#main {
  &.accueil {
    .en-demande {
      margin-top: rem-calc(40);
    }
    ul.en-demande-liste {
      padding-bottom: rem-calc(28);
      margin-bottom: rem-calc(12);
      border-bottom: 1px solid $normal-grey;
    }
  }
  ul.en-demande-liste {
    padding: 0;
    margin: 0;
    margin-bottom: rem-calc(56);
    display: flex;
    flex-wrap: wrap;
  }
  .en-demande-liste {
    li {
      list-style: none;
      display: inline-block;
      margin: 0 8px 8px 0;
    }
  }
}
.en-demande-liste {
  li {
    a {
      color: $bleu-piv;
      background-color: $bleu-pale;
      border: 1px solid $bleu-pale;
      font-weight: 600;
      text-decoration: none;
      padding: 11px 8px;
      font-size: rem-calc(14);
      line-height: rem-calc(16);
      transition: border-color 0.25s linear;
      display: inline-block;
      &:hover {
        border: 1px solid #6991d1;
        transition: border-color 0.25s linear;
      }
    }
  }
  .linkExtImg {
    float: right;
    position: relative;
    top: 8px;
    right: 0;
    height: 11px;
  }
}
// Filters
.btn-info,
.btn-info:hover,
.btn-info:active {
  padding: 11px 8px;
  font-size: rem-calc(14);
  line-height: rem-calc(16);
  font-weight: 600;
  .close-icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
