.rangee-1-accueil {  
  .titre_accueil {
    margin-top: 72px;
    padding-top: 0;
    h1 {
      font-size: rem-calc(36);
      font-family: $f-titles;
      margin-top: 0;
      margin-bottom: 0;
      letter-spacing: inherit;
      @media (min-width: 768px) {
        font-size: rem-calc(48);
      }
      &::after {
        display: block;
      }
    }
  }
  .intro-accueil {
    font-size: rem-calc(18);
    line-height: rem-calc(26);
    margin: 24px 0 32px;
    @media (min-width: 768px) {
      font-size: rem-calc(20);
      line-height: rem-calc(30);
    }
  }
  .tx_solr {
    padding: 0;
  }
  #tx-solr-search-form-pi-results {
    input[type="text"] {
      margin-bottom: 0;
      color: $bleu-fonce;
      font-size: rem-calc(14);
      border-color: #808a9d;
      height: 40px;
      &::placeholder {
        font-size: rem-calc(14);
        color: #647287;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $white inset !important;
    }
    input:-webkit-autofill {
      -webkit-text-fill-color: $bleu-fonce !important;
    }
    .input-group-btn {
      .tx-solr-submit {
        width: 40px;
        height: 40px;
      }
      button {
        border-color: #808a9d;
        &:hover {
          background-color: #156bb2;
        }
      }
    }
  }
}
