
/* CSS réutilisables */
%no-space {
  margin: 0;
  padding: 0;
}
%no-margin{margin:0;}

/* Écraser les valeurs par défaut de #main */
#main {
  .frame-presentation {
    ul {
      list-style: none;
      @extend %no-space;

      li{
        @extend %no-margin;
      }
    }
  }
}
/**********************************/
/* Frame - Présentation personnes [presentation] */
.frame-presentation{
  margin: 1.5rem 0;

  .ce-textpic{
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction:column;
    }
  }

  .ce-gallery {
    flex-grow: 1;
    flex-shrink: 0;
  }

  img{
    border: 1px solid $bleu-fonce;
  }

  .ce-bodytext {
    flex-grow:1;
  }

  h2{
    @extend %no-space;
    font-size:1.3125rem;
  }

  p{
    font-size:0.875rem;
    margin-top:0;
    padding-top: 0;
    margin-bottom: 1.1rem;
    line-height: 1.1rem;
    &:last-of-type{
      margin-bottom: 0.5rem;
    }
  }

  a img{
    border: none;
  }

  ul{
    &:before {
      content: "";
      display: block;
      margin: 0 0 0.6rem 0;
      width: 1.2rem;
      border-bottom: 1px solid $bleu-fonce;
    }
  }
}
/**********************************/