
.membres-liens {
  text-decoration : none;
  padding-top : 0.5rem;
}

.list-ministres {

  ul {
    margin-left : -2rem;
    li {
      list-style : none;
      line-height: 1.1em;
      font-size : 16px;
    }
  }
    .item-ministre{
      margin-bottom : 0.6rem;
    }
    border-bottom: 0.1rem solid #C5CAD2;
}
h1 {
  font-family : "Open Sans";
}


