
.partie-ministre {
  width : 150%;
}
.description-ministre {
  ul {
    margin-left : -0.7rem;
  }
}

.details-ministre {
  > {
    h1,h2,h3,h4,h5,h5 {
      @extend %h4;
      margin-bottom: 1.5rem;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .fonctions-ministre {
    margin-top: 1.5rem;
    strong,dt {
      display: block;
      font-weight: 900;
      margin-bottom: 0;
    }
    dd {
      display: block;
      margin: 0;
      paddind:0;
    }
    .details {
      margin-top: -1rem;
    }
  }
}

@media(min-width : 768px ) {
  .details-ministre{
    margin-left : 1rem;
  }
}

.fleche-icon {
  margin-top : -0.125rem;
  margin-right : 0.5rem;
  [aria-expanded=true] & {
    transform: rotate(180deg);
  }
}

.ministres-list {
  @extend %my-0;
  p { margin-bottom: 0;}
  &.anciens-membres li {
    @extend %my-0;
  }
}


