#main {
  .theme-accueil {
    margin: 32px 0;
    padding-left: 15px;
    padding-right: 15px;
    .theme-accueil-img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
    .theme-accueil-page {
      display: flex;
      text-decoration: none;
      &:hover {
        .theme-accueil-titre {
          text-decoration: underline;
        }
        .theme-accueil-icone {
          opacity: 1;
        }
      }
      @media (min-width: 768px) {
        .theme-accueil-icone {
          opacity: 0;
          display: inline-block;
          background-image: url("../Images/Templates/fleche-lien-orange.svg");
          width: 8px;
          height: 9px;
          margin-left: 8px;
        }
      }
    }
    .icone-wrapper {
      white-space: nowrap;
    }
    .theme-accueil-titre {
      display: inline;
      font-size: rem-calc(18);
      line-height: rem-calc(26);
      font-weight: 700;
      font-family: $f-body;
      margin-top: 0;
      padding: 0;
    }
    .theme-accueil-liens {
      margin-left: 56px;
    }
    .theme-accueil-liste {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .theme-accueil-item {
      margin: 4px 0;
    }
    .theme-accueil-tous,
    .theme-accueil-lien {
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      text-decoration: none;
      color: $bleu-piv;
      &:hover {
        text-decoration: underline;
      }
    }
    .theme-accueil-lien {
      font-weight: 600;
    }
  }
}
