#main .tuiles-section {
  padding: 56px 0 26px;
  position: relative;
  margin: 40px 0;
  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &.bleu-tres-pale {
    &::before {
      background-color: transparentize($bleu-pale, 0.5);
    }
  }
  &.gris-tres-pale {
    &::before {
      background-color: transparentize($gris-pale, 0.5);
    }
  }
  &.gris {
    &::before {
      background-color: $gris-pale;
    }
  }
  &.bleu-pale {
    &::before {
      background-color: $bleu-pale;
    }
  }
  &.bleu-fonce {
    &::before {
      background-color: $bleu-fonce;
    }
    .tuiles-titre, p, ol, ul, dl, a, table{
      color: $white;
    }
    .tuiles-liste {
      a, p{
        color: $bleu-fonce;
      }
    }
  }
  & > .container {
    position: relative;
  }
  .tuiles-container {
    width: 100%;
  }
  .tuiles-titre {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
  }
  .tuiles-liste {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    @media (max-width: 403px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    li {
      @media (max-width: 403px) {
        padding-left: 0;
        padding-right: 0;
      }
      margin: 0 0 30px;
    }
  }
  .tuile-lien {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    text-decoration: none;
    color: $bleu-fonce;
    background-color: $white;
    border: 1px solid $normal-grey;
    padding: 32px 24px 24px;
    box-shadow: 0px 1px 4px 0px transparentize($bleu-fonce, 0.76);
    height: 100%;
    @media (min-width: 768px) {
     // box-shadow: 0 3px 6px transparentize($bleu-fonce, 0.85);
    }
    &:hover {
      box-shadow: 0px 2px 8px 0px transparentize($bleu-fonce, 0.76);
      border-color: transparentize($bleu-piv, 0.3);
      .tuile-fleche {
        opacity: 1;
      }
    }
  }
  .tuile-titre-wrapper {
    display: flex;
    margin-bottom: 8px;
    &.sans-description {
      flex-direction: column;
      .tuile-icone {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
    .tuile-titre {
      font-size: rem-calc(18);
      line-height: rem-calc(22);
      margin: 0;
      font-weight: 700;
      font-family: $f-body;
    }
    .tuile-icone {
      margin-right: 16px;
      width: 40px;
      height: 40px;
    }
  }
  .tuile-texte {
    font-size: rem-calc(14);
    line-height: rem-calc(20);
    margin-bottom: 5px;
  }
  .tuile-fleche {
    display: block;
    margin-left: auto;
    width: 11px;
    height: 12px;
    margin-top: 4px;
    @media (min-width: 768px) {
      opacity: 0;
    }
  }
}
