// Base
@import "../base/variables";

// Entête des Campagnes
#campagne-pleine-largeur-entete{
 .frame-messageCatastrophe, .frame-messageAlerte{
     a{
       color:$bleu-fonce;
     }
   }
  .rangee-1{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h1 {
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
  }
  .filAriane.ellipse{
    .ellipse-item{
      &::after{
        background-image: none;
        border-width: 0 0.01rem 0.01rem 0;
        border-style: solid;
        display: inline-block;
        padding: 1px;
        height: 4px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    a {
      &::after{
        background-image: none;
        margin: 0 0 0.1rem 0.5rem;
        border-width: 0 0.01rem 0.01rem 0;
        border-style: solid;
        display: inline-block;
        padding: 1px;
        height: 4px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        @media (max-width: 767px){
          display:none;
        }
      }
    }
    .ellipse-options{
      a{
        color:$bleu-fonce;
        &::after{
          display:none;
          @media (max-width: 767px){
            display:none;
          }
        }
      }
    }
    li{
      &.last{
        a{
          &::before{
            @media (max-width: 767px){
              background-image: none;
              border-width: 0 0.01rem 0.01rem 0;
              border-style: solid;
              display: inline-block;
              padding: 1px;
              height: 4px;
              transform: rotate(135deg);
              -webkit-transform: rotate(135deg);
              position: relative;
              top: -2px;
              left: -4px;
            }
          }
        }
      }
    }
  }
}

// Premières tuiles dans la zone pour les tuiles uniquement
#premieres-tuiles-campagne{
  &.tuiles-section {
    padding:0;
    margin:0;
    &::before {
      display:none;
    }
    .tuile-titre-wrapper{
      &.sans-description{
        .tuile-icone{
          margin-bottom: 0;
        }
      }
    }
    .tuiles-liste {
      margin: 0;
      padding: 1.5rem 0;
      &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      li {
        margin: 0;
        @media (min-width: 992px) {
          &:first-child {
          padding-right: 17px;
          padding-left: 0;
          }
          &:nth-child(2n) {
            padding-right: 13px;
            padding-left: 13px;
          }
          &:nth-child(3n) {
            padding-right: 0;
            padding-left: 17px;
          }
        }
        @media (max-width: 991px) {
          margin-bottom: 1rem;
          padding:0;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a{
          padding: 0;
          min-height: 100px;
          flex-direction: row;
          .tuile-titre-wrapper{
            margin-bottom:0;
            height: 100%;
            &.sans-description{
              flex-direction: inherit;
            }
            .tuile-titre{
              line-height: initial;
              align-self: center;
              margin-left: 1rem;
              padding-right: 0.3rem;
              @media (max-width: 991px) {
                padding-right:1.5rem;
              }
            }
            .tuile-icone{
              max-height: 40px;
              max-width: 40px;
              align-self: center;
              margin-left: 1.5rem;
              margin-right:0;
            }
          }
          .tuile-fleche{
            align-self: center;
            margin: 0 1rem 0 0;
            &.linkExtImg{
              margin-left: auto;
              margin-right: 1.3rem;
            }
            @media (max-width: 991px) {
              display: block;
              margin-right:1.5rem;
              opacity:1;
            }
          }
          .linkExtImg:not(.tuile-fleche){
            display:none;
          }
        }
      }
      @media (max-width: 575px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @media (max-width: 403px){
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/* Gabarit général de la Campagne */
.gabarit-pleine-largeur{
  padding-top:1rem;
}
/* Bas de page */
.campagne-bas-page .avisBasPage h2:after{
  display:none;
}

/* Vidéos - permettre la couleur sur les flèches */
.campagne-pleine-visuel{
  div.scrollHaut{
    display: inline-block;
    background-color: #0B5796;
    -webkit-mask: url(/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/crochet-bas.svg) no-repeat center;
    mask: url(/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/crochet-bas.svg) no-repeat center;
  }
  div.scrollBas{
    display: inline-block;
    background-color: #0B5796;
    -webkit-mask: url(/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/crochet-bas.svg) no-repeat center;
    mask: url(/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/crochet-bas.svg) no-repeat center;
  }
  .thumbnails-videos {
    margin-top: 2.1rem;
    padding-bottom: 2.4rem;
  }
}
