.rangee-footer {
  .footer-title {
    font-family: $f-titles;
    display: inline-block;
    font-size: rem-calc(24);
    margin-top: 36px;
    font-weight: 500;
  }
  .footer-main {
    @media (max-width: 403px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  h3 {
    font-family: $f-body;
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: rem-calc(16);
    font-weight: 700;
    a {
      font-size: rem-calc(16);
		}
	}
  a {
    font-size: rem-calc(14);
	}
  .iconesHorizontal {
    li {
      margin: 0 9px;
    }
    img {
      margin-top: 4px;
      max-height: 27px;
    }
  }
  .last-column {
    @media (max-width: 403px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      display: flex;
    }
  }
  .nous-joindre,
  .suivez-nous {
    @media (min-width: 768px) and (max-width: 991px) {
      width: 50%;
      display: inline-block;
    }
    @media (min-width: 992px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .suivez-nous {
    margin-top: 72px;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 0;
      padding-left: 15px;
    }
  }
}
.piv_bas {
  padding-top: 40px;
  padding-bottom: 12px;
  ul {
    margin-bottom: 8px;
    li {
      padding: 0 15px 10px;
    }
  }
  a {
    font-size: rem-calc(14);
  }
}
