qc-code {
  display: block;
  max-inline-size: var(--qc-max-content-width);
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  overflow: scroll;
}
pre code, pre .qc-code {
  font-family: var(--qc-font-family-code);
}
pre code button, pre .qc-code button {
  float: right;
  right: var(--qc-spacer-xs);
  top: var(--qc-spacer-xs);
  padding: var(--qc-spacer-xs) var(--qc-spacer-sm);
  color: white;
  background-color: var(--qc-color-blue-piv);
  border: 1px solid;
  white-space: nowrap;
  transition: none !important;
}
pre code button .copy, pre .qc-code button .copy {
  display: inline;
}
pre code button .copied, pre .qc-code button .copied {
  display: none;
}
pre code button.copied, pre .qc-code button.copied {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: var(--qc-color-blue-piv) !important;
}
pre code button.copied .copy, pre .qc-code button.copied .copy {
  display: none;
}
pre code button.copied .copied, pre .qc-code button.copied .copied {
  display: inline;
}

@keyframes fadeout {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* + qc-code {
  margin-top: var(--qc-spacer-md);
}
* + qc-code + * {
  margin-top: var(--qc-spacer-lg);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 0.4rem;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.6rem;
}

code.hljs {
  padding: 0.4rem;
}

/* end baseline CSS */
.hljs {
  background: var(--qc-color-grey-pale);
  color: var(--qc-color-blue-dark);
}

/* Base color: saturation 0; */
.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-comment {
  color: var(--qc-color-grey-dark);
}

.hljs-tag,
.hljs-punctuation {
  color: var(--qc-color-blue-medium);
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: var(--qc-color-blue-dark);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--qc-color-red-dark);
}

.hljs-title,
.hljs-section {
  color: var(--qc-color-red-dark);
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: var(--qc-color-pink-regular);
}

/* Language color: hue: 90; */
.hljs-literal {
  color: var(--qc-color-green-regular);
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: var(--qc-color-green-dark);
}

/* Meta color: hue: 200 */
.hljs-meta {
  color: var(--qc-color-blue-medium);
}

.hljs-meta .hljs-string {
  color: var(--qc-color-blue-regular);
}

/* Misc effects */
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.qc-button, .qc-button-rounded, .qc-button-compact {
  font-family: var(--qc-font-family-content);
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.24s ease-in-out;
  cursor: pointer;
  font-weight: var(--qc-font-weight-bold);
  min-width: 11.2rem;
  min-height: 5.6rem;
  padding: 1.4rem 2.2rem;
  margin: 2.4rem 3.2rem 2.4rem 0;
  border: 2px solid transparent;
  border-radius: 0;
}
@media (max-width: 767.98px) {
  .qc-button, .qc-button-rounded, .qc-button-compact {
    width: 100%;
    height: 100%;
    margin: 0 0 2.4rem 0;
  }
}
.qc-button.qc-primary, .qc-primary.qc-button-rounded, .qc-primary.qc-button-compact {
  color: var(--qc-color-white);
  border-color: var(--qc-color-blue-piv);
  background-color: var(--qc-color-blue-piv);
  box-shadow: 0 1px 4px var(--qc-box-shadow-color);
}
.qc-button.qc-primary:hover, .qc-primary.qc-button-rounded:hover, .qc-primary.qc-button-compact:hover {
  border-color: var(--qc-color-blue-regular);
  background-color: var(--qc-color-blue-regular);
}
.qc-button.qc-primary:focus, .qc-primary.qc-button-rounded:focus, .qc-primary.qc-button-compact:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: var(--qc-color-blue-regular);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-primary:visited, .qc-primary.qc-button-rounded:visited, .qc-primary.qc-button-compact:visited {
  border-color: var(--qc-color-blue-light);
  background-color: var(--qc-color-blue-light);
}
.qc-button.qc-primary[disabled], .qc-primary[disabled].qc-button-rounded, .qc-primary[disabled].qc-button-compact {
  color: var(--qc-color-grey-medium);
  border-color: var(--qc-color-grey-light);
  background-color: var(--qc-color-grey-light);
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-primary[disabled]:not(.inverted), .qc-primary[disabled].qc-button-rounded:not(.inverted), .qc-primary[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-regular);
}
.qc-button.qc-primary.inverted, .qc-primary.inverted.qc-button-rounded, .qc-primary.inverted.qc-button-compact {
  color: var(--qc-color-blue-dark);
  border-color: var(--qc-color-white);
  background-color: var(--qc-color-white);
}
.qc-button.qc-primary.inverted:hover, .qc-primary.inverted.qc-button-rounded:hover, .qc-primary.inverted.qc-button-compact:hover {
  border-color: var(--qc-color-blue-pale);
  background-color: var(--qc-color-blue-pale);
}
.qc-button.qc-primary.inverted:focus, .qc-primary.inverted.qc-button-rounded:focus, .qc-primary.inverted.qc-button-compact:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: var(--qc-color-blue-pale);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-primary.inverted:visited, .qc-primary.inverted.qc-button-rounded:visited, .qc-primary.inverted.qc-button-compact:visited {
  border-color: var(--qc-color-grey-extra);
  background-color: var(--qc-color-grey-extra);
}
.qc-button.qc-primary.inverted[disabled], .qc-primary.inverted[disabled].qc-button-rounded, .qc-primary.inverted[disabled].qc-button-compact {
  color: var(--qc-color-grey-medium);
  border-color: var(--qc-color-grey-regular);
  background-color: var(--qc-color-grey-regular);
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-primary.inverted[disabled]:not(.inverted), .qc-primary.inverted[disabled].qc-button-rounded:not(.inverted), .qc-primary.inverted[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-regular);
}
.qc-button.qc-secondary, .qc-secondary.qc-button-rounded, .qc-secondary.qc-button-compact {
  color: var(--qc-color-blue-piv);
  border-color: var(--qc-color-blue-piv);
}
.qc-button.qc-secondary:hover, .qc-secondary.qc-button-rounded:hover, .qc-secondary.qc-button-compact:hover {
  border-color: var(--qc-color-blue-piv);
  background-color: var(--qc-color-blue-pale);
}
.qc-button.qc-secondary:focus, .qc-secondary.qc-button-rounded:focus, .qc-secondary.qc-button-compact:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: var(--qc-color-blue-pale);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-secondary:visited, .qc-secondary.qc-button-rounded:visited, .qc-secondary.qc-button-compact:visited {
  border-color: var(--qc-color-blue-piv);
  background-color: var(--qc-color-blue-extra);
}
.qc-button.qc-secondary[disabled], .qc-secondary[disabled].qc-button-rounded, .qc-secondary[disabled].qc-button-compact {
  color: var(--qc-color-grey-regular);
  border-color: var(--qc-color-grey-light);
  background-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-secondary[disabled]:not(.inverted), .qc-secondary[disabled].qc-button-rounded:not(.inverted), .qc-secondary[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-light);
}
.qc-button.qc-secondary.inverted, .qc-secondary.inverted.qc-button-rounded, .qc-secondary.inverted.qc-button-compact {
  color: var(--qc-color-white);
  border-color: var(--qc-color-white);
  background-color: transparent;
}
.qc-button.qc-secondary.inverted:hover, .qc-secondary.inverted.qc-button-rounded:hover, .qc-secondary.inverted.qc-button-compact:hover {
  border-color: var(--qc-color-white);
  background-color: rgba(218, 230, 240, 0.07);
}
.qc-button.qc-secondary.inverted:focus, .qc-secondary.inverted.qc-button-rounded:focus, .qc-secondary.inverted.qc-button-compact:focus {
  border-color: var(--qc-color-white);
  background-color: rgba(218, 230, 240, 0.07);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-secondary.inverted:visited, .qc-secondary.inverted.qc-button-rounded:visited, .qc-secondary.inverted.qc-button-compact:visited {
  border-color: var(--qc-color-white);
  background-color: rgba(218, 230, 240, 0.1);
}
.qc-button.qc-secondary.inverted[disabled], .qc-secondary.inverted[disabled].qc-button-rounded, .qc-secondary.inverted[disabled].qc-button-compact {
  color: var(--qc-color-grey-regular);
  border-color: var(--qc-color-grey-regular);
  background-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-secondary.inverted[disabled]:not(.inverted), .qc-secondary.inverted[disabled].qc-button-rounded:not(.inverted), .qc-secondary.inverted[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-light);
}
.qc-button.qc-tertiary, .qc-tertiary.qc-button-rounded, .qc-tertiary.qc-button-compact {
  color: var(--qc-color-blue-piv);
}
.qc-button.qc-tertiary:hover, .qc-tertiary.qc-button-rounded:hover, .qc-tertiary.qc-button-compact:hover {
  border-color: var(--qc-color-grey-pale);
  background-color: var(--qc-color-grey-pale);
}
.qc-button.qc-tertiary:focus, .qc-tertiary.qc-button-rounded:focus, .qc-tertiary.qc-button-compact:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: var(--qc-color-grey-pale);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-tertiary:visited, .qc-tertiary.qc-button-rounded:visited, .qc-tertiary.qc-button-compact:visited {
  border-color: var(--qc-color-grey-extra);
  background-color: var(--qc-color-grey-extra);
}
.qc-button.qc-tertiary[disabled], .qc-tertiary[disabled].qc-button-rounded, .qc-tertiary[disabled].qc-button-compact {
  color: var(--qc-color-grey-regular);
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-tertiary[disabled]:not(.inverted), .qc-tertiary[disabled].qc-button-rounded:not(.inverted), .qc-tertiary[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-light);
}
.qc-button.qc-tertiary:hover, .qc-tertiary.qc-button-rounded:hover, .qc-tertiary.qc-button-compact:hover, .qc-button.qc-tertiary:focus, .qc-tertiary.qc-button-rounded:focus, .qc-tertiary.qc-button-compact:focus, .qc-button.qc-tertiary:visited, .qc-tertiary.qc-button-rounded:visited, .qc-tertiary.qc-button-compact:visited {
  text-decoration: underline;
}
.qc-button.qc-tertiary.inverted, .qc-tertiary.inverted.qc-button-rounded, .qc-tertiary.inverted.qc-button-compact {
  color: var(--qc-color-white);
  border-color: transparent;
  background-color: transparent;
}
.qc-button.qc-tertiary.inverted:hover, .qc-tertiary.inverted.qc-button-rounded:hover, .qc-tertiary.inverted.qc-button-compact:hover {
  border-color: transparent;
  background-color: rgba(218, 230, 240, 0.07);
}
.qc-button.qc-tertiary.inverted:focus, .qc-tertiary.inverted.qc-button-rounded:focus, .qc-tertiary.inverted.qc-button-compact:focus {
  border-color: rgba(74, 152, 217, 0.07);
  background-color: rgba(218, 230, 240, 0.07);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-tertiary.inverted:visited, .qc-tertiary.inverted.qc-button-rounded:visited, .qc-tertiary.inverted.qc-button-compact:visited {
  border-color: var(--qc-color-blue-pale);
  background-color: var(--qc-color-blue-pale);
}
.qc-button.qc-tertiary.inverted[disabled], .qc-tertiary.inverted[disabled].qc-button-rounded, .qc-tertiary.inverted[disabled].qc-button-compact {
  color: var(--qc-color-grey-regular);
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-tertiary.inverted[disabled]:not(.inverted), .qc-tertiary.inverted[disabled].qc-button-rounded:not(.inverted), .qc-tertiary.inverted[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-light);
}
.qc-button.qc-danger, .qc-danger.qc-button-rounded, .qc-danger.qc-button-compact {
  color: var(--qc-color-white);
  border-color: var(--qc-color-red-regular);
  background-color: var(--qc-color-red-regular);
}
.qc-button.qc-danger:hover, .qc-danger.qc-button-rounded:hover, .qc-danger.qc-button-compact:hover {
  border-color: var(--qc-color-red-medium);
  background-color: var(--qc-color-red-medium);
}
.qc-button.qc-danger:focus, .qc-danger.qc-button-rounded:focus, .qc-danger.qc-button-compact:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: var(--qc-color-red-medium);
  box-shadow: 0 0 0 2px var(--qc-color-blue-light);
}
.qc-button.qc-danger:visited, .qc-danger.qc-button-rounded:visited, .qc-danger.qc-button-compact:visited {
  border-color: var(--qc-color-pink-regular);
  background-color: var(--qc-color-pink-regular);
}
.qc-button.qc-danger[disabled], .qc-danger[disabled].qc-button-rounded, .qc-danger[disabled].qc-button-compact {
  color: var(--qc-color-grey-medium);
  border-color: var(--qc-color-grey-light);
  background-color: var(--qc-color-grey-light);
  box-shadow: none;
  cursor: not-allowed;
}
.qc-button.qc-danger[disabled]:not(.inverted), .qc-danger[disabled].qc-button-rounded:not(.inverted), .qc-danger[disabled].qc-button-compact:not(.inverted) {
  color: var(--qc-color-grey-regular);
}
.qc-button .qc-icon, .qc-button-rounded .qc-icon, .qc-button-compact .qc-icon {
  min-width: 1.6rem;
  height: 1.6rem;
  margin: -2px 0.8rem 0 0;
}
.qc-button .custom-icon, .qc-button-rounded .custom-icon, .qc-button-compact .custom-icon {
  background-image: url(../img/qc-sprite.svg?v=1.4.0-develop.1#arrow-right-white);
  position: relative;
  top: 0.2rem;
}
.qc-button .icon-next, .qc-button-rounded .icon-next, .qc-button-compact .icon-next {
  margin: 0 0 0 0.8rem;
}

.qc-button-compact {
  font-weight: var(--qc-font-weight-semi-bold);
  min-width: 8rem;
  min-height: 4rem;
  padding: 0.7rem 1.5rem;
  margin: 1.6rem 2.4rem 1.6rem 0;
  border: 1px solid transparent;
}

.qc-button-rounded {
  border-radius: 0.4rem;
}

#boutons-exemple5 {
  background-color: var(--qc-color-blue-medium);
  padding: 0 2.4rem;
}

table.qc-table {
  margin-bottom: 0;
  background-color: var(--qc-color-white);
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
  /* ----- Striped tables ----- */
  /* ----- Bordered tables ----- */
  /* ----- TODO add footer style ----- */
}
table.qc-table > thead {
  background-color: var(--qc-color-blue-dark);
  color: var(--qc-color-white);
  border: 1px solid var(--qc-color-blue-dark);
}
table.qc-table > thead th {
  font-size: var(--qc-font-size-md);
  line-height: var(--qc-line-height-md);
  font-weight: var(--qc-font-weight-bold);
}
table.qc-table thead th, table.qc-table tbody th, table.qc-table tbody td {
  vertical-align: middle;
  text-align: left;
  padding: var(--qc-spacer-xs);
}
table.qc-table.qc-striped tbody tr:nth-of-type(even) {
  background-color: var(--qc-color-grey-pale);
}
table.qc-table.qc-bordered tbody th, table.qc-table.qc-bordered tbody td {
  border-bottom: 1px solid var(--qc-color-grey-light);
}

.ui-autocomplete {
  max-height: calc(16rem + 2px) !important;
  overflow-y: auto !important;
  list-style-type: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
  border: 1px solid var(--qc-color-grey-medium);
  background-color: var(--qc-color-background);
  box-shadow: 0 var(--qc-box_shadow-4-offset) var(--qc-box_shadow-4-blur) var(--qc-color-box_shadow);
  cursor: pointer;
}

.ui-menu-item {
  padding: 0 !important;
  margin: 0 !important;
}

.ui-menu-item-wrapper {
  padding: 0.8rem;
}

.ui-state-active {
  background-color: var(--qc-color-blue-pale);
}

.ui-autocomplete::-webkit-scrollbar {
  width: 8px;
  margin-left: 5px;
}

/* Track */
.ui-autocomplete::-webkit-scrollbar-track {
  background: var(--qc-color-background);
}

/* Handle */
.ui-autocomplete::-webkit-scrollbar-thumb {
  background: var(--qc-color-blue-piv);
  border-radius: 15px;
}

/* Handle on hover */
.ui-autocomplete::-webkit-scrollbar-thumb:hover {
  background: var(--qc-color-blue-piv);
}

.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  margin-bottom: var(--qc-spacer-lg);
}

qc-color-doc {
  display: block;
  margin-bottom: var(--qc-spacer-md);
}

.title-samples {
  border: 1px solid var(--qc-color-grey-light);
}
.title-samples figure {
  width: 100%;
  padding: var(--qc-spacer-md) var(--qc-spacer-md);
  border-bottom: 1px solid var(--qc-color-grey-pale);
}
.title-samples figure:first-child {
  padding-top: 0;
}
.title-samples figure:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.title-samples figure + figure {
  margin-top: var(--qc-spacer-md);
}

.font-titles {
  font-family: var(--qc-font-family-header);
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 9.6rem;
}

#grid-samples {
  position: relative;
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 5%;
}
#grid-samples .qc-row {
  margin-top: var(--qc-spacer-md);
}
#grid-samples .qc-row > div > div {
  background-color: var(--qc-color-blue-piv);
  opacity: 0.7;
  height: 100%;
  color: white;
  padding: 0.8rem 0;
}
#grid-samples .qc-row:first-child {
  margin-top: 0;
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  top: -5%;
}
#background .qc-row > div > div {
  background-color: var(--qc-color-grey-pale);
}
#background div {
  height: 100%;
}

#liste-elevation {
  display: flex;
  gap: var(--qc-grid-gutter);
  flex-wrap: wrap;
}
#liste-elevation [class*=qc-shading-] {
  display: flex;
  width: 12rem;
  height: 12rem;
  justify-content: center;
  align-items: center;
}
#liste-elevation [class*=qc-shading-].qc-shading-0 {
  border: 1px solid var(--qc-color-grey-light);
}

a.pseudo-hover {
  color: var(--qc-color-link-hover);
  text-decoration: none;
}
a.pseudo-active {
  color: var(--qc-color-link-active);
  text-decoration: none;
}
a.pseudo-focus {
  color: var(--qc-color-link-hover);
  text-decoration: none;
  outline: 2px solid var(--qc-color-link-focus-outline);
  outline-offset: 1px;
}
a.pseudo-visited {
  color: var(--qc-color-link-visited) !important;
}
a.not-visited:visited:not(:hover) {
  color: var(--qc-color-link-text);
}

a.pseudo-visited span.qc-ext-link-img {
  background: var(--qc-color-link-visited) !important;
}
a.pseudo-focus span.qc-ext-link-img {
  background: var(--qc-color-link-hover) !important;
}
a.pseudo-hover span.qc-ext-link-img {
  background: var(--qc-color-link-hover) !important;
}
a.pseudo-active span.qc-ext-link-img {
  background: var(--qc-color-link-active) !important;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
          hyphens: auto;
}

table.component-attributes-description td:first-child {
  white-space: nowrap;
}

qc-piv-footer + qc-code {
  margin-top: 0;
}

qc-doc-exemple {
  display: block;
  margin-bottom: var(--qc-spacer-xl);
}

dl {
  margin: 0 0 var(--qc-spacer-content-block-mb);
}
dl dt {
  font-weight: var(--qc-font-weight-content-medium);
}
dl dd {
  margin-left: 0;
  margin-bottom: var(--qc-spacer-list-item-mb);
}
dl dd + dd {
  margin-top: calc(-1 * var(--qc-spacer-list-item-mb));
}
dl dd + dd:has(.pseudo-focus) {
  margin-top: calc(-1 * var(--qc-spacer-list-item-mb) + 6px);
}
dl.qc-list-inline dt, dl.qc-list-inline dd {
  display: inline;
}
dl.qc-list-inline dt::before {
  display: block;
  content: "";
  margin-bottom: var(--qc-spacer-list-item-mb);
}

.table-overflow {
  width: 100%;
  overflow-x: auto;
  margin-bottom: var(--qc-spacer-content-block-mb);
}

hr {
  max-width: var(--qc-max-content-width);
}