@charset "UTF-8";
/*
Return rem size from pixel size according to root font-size as define in settings
Always use this function for rem values
// root font-size : 100 %,
// foo.scss
.foo { font-size: rem(16); }
// foo.css
.foo { font-size: 1rem; }

// root font-size : 62.5 %,
// foo.scss
.foo { font-size: rem(16); }
// foo.css
.foo { font-size: 1.6rem; }
*/
/*
Return rem size from pixel size according to root font-size as define in settings
Always use this function for rem values
// root font-size : 100 %,
// foo.scss
.foo { font-size: rem(16); }
// foo.css
.foo { font-size: 1rem; }

// root font-size : 62.5 %,
// foo.scss
.foo { font-size: rem(16); }
// foo.css
.foo { font-size: 1.6rem; }
*/
/* TODO voir si meilleure façon d'intégrer en scss... */
.qc-icon {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-width: 32px;
  height: 32px;
}
.qc-icon.qc-icon-sm {
  min-width: 12px;
  height: 12px;
}
.qc-icon.qc-icon-md {
  min-width: 20px;
  height: 20px;
}
.qc-icon.qc-icon-lg {
  min-width: 40px;
  height: 40px;
}
.qc-icon.qc-external-link {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#external-link);
}
.qc-icon.qc-warning {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#warning);
}
.qc-icon.qc-arrow-up-white {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#arrow-up-white);
}
.qc-icon.qc-clipboard {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#clipboard);
}
.qc-icon.qc-error {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#error);
}
.qc-icon.qc-error-white {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#error-white);
}
.qc-icon.qc-information {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#information);
}
.qc-icon.qc-information-white {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#information-white);
}
.qc-icon.qc-minus {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#minus);
}
.qc-icon.qc-plus {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#plus);
}
.qc-icon.qc-question-mark {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#question-mark);
}
.qc-icon.qc-success {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#success);
}
.qc-icon.qc-success-white {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#success-white);
}
.qc-icon.qc-xclose-white {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-image: url(../img/qc-sprite.svg?v=1.2.2#xclose-white);
}
.qc-icon.qc-xclose-blue {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-image: url(../img/qc-sprite.svg?v=1.2.2#xclose-blue);
}
.qc-icon.qc-chevron-blue, .qc-icon.qc-chevron-white {
  width: 16px;
  min-width: 16px;
  height: 10px;
}
.qc-icon.qc-chevron-blue {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#chevron-blue);
}
.qc-icon.qc-chevron-white {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#chevron-white);
}
.qc-icon.qc-facebook {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#facebook);
}
.qc-icon.qc-linkedin {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#linkedin);
  height: 30px;
}
.qc-icon.qc-twitter {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#twitter);
}
.qc-icon.qc-youtube {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#youtube);
}
.qc-icon.qc-warning-alert-icon {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#warning);
}
.qc-icon.qc-general-alert-icon {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#information);
}
.qc-icon.qc-search {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#loupe-piv-droite);
}
.qc-icon.qc-search-submit {
  background-image: url(../img/qc-sprite.svg?v=1.2.2#loupe-piv-fonce);
}

qc-code {
  display: block;
  max-inline-size: var(--qc-max-content-width);
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  overflow: scroll;
}
pre code, pre .qc-code {
  font-family: var(--qc-font-family-code);
}
pre code button, pre .qc-code button {
  float: right;
  right: var(--qc-spacer-xs);
  top: var(--qc-spacer-xs);
  padding: var(--qc-spacer-xs) var(--qc-spacer-sm);
  color: white;
  background-color: var(--qc-color-blue-piv);
  border: 1px solid;
  white-space: nowrap;
  transition: none !important;
}
pre code button .copy, pre .qc-code button .copy {
  display: inline;
}
pre code button .copied, pre .qc-code button .copied {
  display: none;
}
pre code button.copied, pre .qc-code button.copied {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: var(--qc-color-blue-piv) !important;
}
pre code button.copied .copy, pre .qc-code button.copied .copy {
  display: none;
}
pre code button.copied .copied, pre .qc-code button.copied .copied {
  display: inline;
}

@keyframes fadeout {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* + qc-code {
  margin-top: var(--qc-spacer-md);
}
* + qc-code + * {
  margin-top: var(--qc-spacer-lg);
}

.qc-shading-0 {
  box-shadow: 0 0 0 var(--qc-color-grey-light);
}

.qc-shading-1, .btn.btn-primary {
  box-shadow: 0 1px 4px var(--qc-color-grey-light);
}

.qc-shading-2 {
  box-shadow: 0 2px 8px var(--qc-color-grey-light);
}

.qc-shading-3 {
  box-shadow: 0 4px 16px var(--qc-color-grey-light);
}

.qc-shading-4 {
  box-shadow: 0 6px 24px var(--qc-color-grey-light);
}

.btn {
  /* si Compact font-weight: 600; */
  font-size: var(--qc-font-size-md);
  line-height: var(--qc-line-height-md);
  font-weight: var(--qc-font-weight-regular);
  display: inline-block;
  box-sizing: border-box;
  min-width: 11.2rem;
  transition: all 0.24s ease-in-out;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: calc(var(--qc-spacer-sm) - 2px) calc(var(--qc-spacer-md) - 2px);
  border: 2px solid transparent;
  border-radius: 0;
  cursor: pointer;
}
.btn.btn-sm {
  min-width: 8rem;
  padding: calc(var(--qc-spacer-xs) - 1px) calc(var(--qc-spacer-sm) - 1px);
  border: 1px solid transparent;
}
.btn.btn-primary {
  color: #fff;
  border-color: var(--qc-color-blue-piv);
  background-color: var(--qc-color-blue-piv);
}
.btn.btn-primary:hover {
  border-color: #156bb2;
  background-color: #156bb2;
}
.btn.btn-primary:focus {
  border-color: var(--qc-color-blue-dark);
  background-color: #156bb2;
  box-shadow: 0 2px 8px rgba(34, 54, 84, 0.24), 0 0 0 2px var(--qc-color-blue-light);
}
.btn.btn-primary:active {
  border-color: #3783c9;
  background-color: #3783c9;
}

table.qc-table {
  margin-bottom: 0;
  background-color: var(--qc-color-white);
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
  /* ----- Striped tables ----- */
  /* ----- Bordered tables ----- */
  /* ----- TODO add footer style ----- */
}
table.qc-table > thead {
  background-color: var(--qc-color-blue-dark);
  color: var(--qc-color-white);
  border: 1px solid var(--qc-color-blue-dark);
}
table.qc-table > thead th {
  font-size: var(--qc-font-size-md);
  line-height: var(--qc-line-height-md);
  font-weight: var(--qc-font-weight-bold);
}
table.qc-table thead th, table.qc-table tbody th, table.qc-table tbody td {
  vertical-align: middle;
  text-align: left;
  padding: var(--qc-spacer-xs);
}
table.qc-table.qc-striped tbody tr:nth-of-type(even) {
  background-color: var(--qc-color-grey-pale);
}
table.qc-table.qc-bordered tbody th, table.qc-table.qc-bordered tbody td {
  border-bottom: 1px solid var(--qc-color-grey-light);
}

main {
  padding-bottom: var(--qc-spacer-lg);
}

.color-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.color-details > div + div {
  margin-left: var(--qc-spacer-md);
}
.color-details + .color-details {
  margin-top: var(--qc-spacer-md);
}

.color-sample {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.title-samples {
  border: 1px solid var(--qc-color-grey-light);
}
.title-samples figure {
  width: 100%;
  padding: var(--qc-spacer-md) var(--qc-spacer-md);
  border-bottom: 1px solid var(--qc-color-grey-pale);
}
.title-samples figure:first-child {
  padding-top: 0;
}
.title-samples figure:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.title-samples figure + figure {
  margin-top: var(--qc-spacer-md);
}

.font-titles {
  font-family: var(--qc-font-family-header);
}

#grid-samples {
  position: relative;
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 5%;
}
#grid-samples .qc-row {
  margin-top: var(--qc-spacer-md);
}
#grid-samples .qc-row > div > div {
  background-color: var(--qc-color-blue-piv);
  opacity: 0.7;
  height: 100%;
  color: white;
  padding: 0.8rem 0;
}
#grid-samples .qc-row:first-child {
  margin-top: 0;
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  top: -5%;
}
#background .qc-row > div > div {
  background-color: var(--qc-color-grey-pale);
}
#background div {
  height: 100%;
}

.square-box {
  display: flex;
  width: 12rem;
  height: 12rem;
  justify-content: center;
  align-items: center;
}
.square-box.qc-shading-0 {
  border: 1px solid var(--qc-color-grey-light);
}

a.pseudo-hover {
  color: var(--qc-color-link-hover);
  text-decoration: none;
}
a.pseudo-active {
  color: var(--qc-color-link-active);
}
a.visited {
  color: var(--qc-color-link-visited);
}
a.not-visited:visited:not(:hover) {
  color: var(--qc-color-link-text);
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
          hyphens: auto;
}

table.component-attributes-description td:first-child {
  white-space: nowrap;
}

#custom-piv-search-form .input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#custom-piv-search-form .input-group input {
  width: 100%;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--qc-color-blue-dark);
  border-right: none;
}
#custom-piv-search-form .input-group input:focus {
  outline: 0.2rem solid var(--qc-color-blue-light);
  border-right: 1px solid black;
  z-index: 1;
}
#custom-piv-search-form .input-group input::-moz-placeholder {
  font-size: var(--qc-font-size-sm);
}
#custom-piv-search-form .input-group input::placeholder {
  font-size: var(--qc-font-size-sm);
}
#custom-piv-search-form .input-group button {
  display: flex;
  justify-content: center;
  border: 1px solid var(--qc-color-blue-dark);
  border-left: none;
  background-color: white;
  width: 4.16rem;
}
#custom-piv-search-form .input-group button:focus {
  outline: 0.2rem solid var(--qc-color-blue-light);
  border-left: 1px solid black;
}
#custom-piv-search-form .input-group button .qc-search-submit {
  min-width: 2.4rem;
  height: 2.4rem;
  align-self: center;
}
#custom-piv-search-form .input-group button .sr-description {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

qc-piv-footer + qc-code {
  margin-top: 0;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/* end baseline CSS */
.hljs {
  background: #F3F3F3;
  color: #444;
}

/* Base color: saturation 0; */
.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-comment {
  color: #697070;
}

.hljs-tag,
.hljs-punctuation {
  color: rgba(68, 68, 68, 0.6666666667);
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: #444;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: #ab5656;
}

/* Language color: hue: 90; */
.hljs-literal {
  color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199;
}

.hljs-meta .hljs-string {
  color: #38a;
}

/* Misc effects */
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}