@import "params";


.nav {
  border-bottom: 1px solid $grey;
  list-style: none !important;
  padding-bottom: 0;

  .nav-item,
  .tab-v1 & li {
    @extend %mb-0, %px-0;

    a {
      display: block;
      text-decoration: none;
      background: none;
      color: $king-blue;
      border: none;
      border-bottom: 0.25rem solid transparent;
      padding: 0 0.8rem 0.25rem 0.8rem;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      transition: border-bottom 0.2s ease;

      &:hover, &:focus, &.active {
        border-bottom: 0.25rem solid $king-blue;
      }

      &.active {
        color: $dark-blue;
        font-weight: bold;
        cursor: default;
      }

      @include media-breakpoint-down(xs) {
        text-align: center;
        padding: 0 0 .25rem;

      }
    }

    @include media-breakpoint-down(xs) {
      flex: 1 1 auto !important;
    }

  }
}

@include media-breakpoint-down(xs) {
  .tab-pane {
    > .row {
      padding-left: $grid-gutter-width/2 !important;
      padding-right: $grid-gutter-width/2 !important;
    }
  }
}