<h2 id="icons">Icônes</h2>

<h3>Exemples</h3>
<qc-doc-exemple caption="Exemples d'utilisation d'icônes avec différentes propriétés."
  id="icons-exemple">
  <qc-icon type="error" color="error" size="xs"></qc-icon>
  <qc-icon type="error" color="error" size="sm"></qc-icon>
  <qc-icon type="error" color="error" size="md"></qc-icon>
  <qc-icon type="error" color="error" size="lg"></qc-icon>
  <qc-icon type="error" color="error" size="xl"></qc-icon>

</qc-doc-exemple>
<style>
  #icons-exemple qc-icon {
    margin-right: var(--qc-spacer-sm);
  }
</style>

<h3>Documentation technique</h3>

<h4>Attributs</h4>
<div class="table-overflow">
  <table class="qc-table qc-striped component-attributes-description">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Valeur attendue</th>
      <th>Valeur par défaut</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>type</td>
      <td>Texte</td>
      <td>""</td>
      <td>Nom de l’icône à afficher.</td>
    </tr>
    <tr>
      <td>label</td>
      <td>Texte</td>
      <td>""</td>
      <td>Texte alternatif pour l’accessibilité. Sert de libellé pour les lecteurs d’écran.</td>
    </tr>
    <tr>
      <td>size</td>
      <td>"xs", "sm", "md", "lg" ou "xl"</td>
      <td>"md"</td>
      <td>Taille de l’icône.</td>
    </tr>
    <tr>
      <td>color</td>
      <td>Toute valeur correspondant à un jeton de couleur une fois précédée de <code>‑‑qc‑color‑</code>. Par exemple, "text-primary" donne la couleur de <code>--qc-color-text-primary</code></td>
      <td>text-primary</td>
      <td>Couleur de l'icône.</td>
    </tr>
    <tr>
      <td>width</td>
      <td>Texte</td>
      <td>"auto"</td>
      <td>Largeur personnalisée de l’icône.</td>
    </tr>
    <tr>
      <td>height</td>
      <td>Texte</td>
      <td>"auto"</td>
      <td>Hauteur personnalisée de l’icône.</td>
    </tr>
    <tr>
      <td>src</td>
      <td>URL</td>
      <td>""</td>
      <td>Chemin vers une image personnalisée à utiliser comme icône.</td>
    </tr>
    </tbody>
  </table>
</div>
