
//---------------
// spacer
//---------------
$qc-base-spacer = .8rem;
$qc-spacer-4: .5 * $qc-base-spacer;
$qc-spacer-8: $qc-base-spacer;
$qc-spacer-16: 2 * $qc-base-spacer;
$qc-spacer-24: 3 * $qc-base-spacer;
$qc-spacer-32: 4 * $qc-base-spacer;
$qc-spacer-40: 5 * $qc-base-spacer;
$qc-spacer-48: 6 * $qc-base-spacer;
$qc-spacer-56: 7 * $qc-base-spacer;
$qc-spacer-64: 8 * $qc-base-spacer;
$qc-spacer-72: 9 * $qc-base-spacer;
$qc-spacer-80: 10 * $qc-base-spacer;
$qc-spacer-96: 12 * $qc-base-spacer;
$qc-spacer-120: 15 * $qc-base-spacer;