/* Couleurs */
%border-pink-accent {
  border-bottom:5px solid $rose-accent;
}
/* Espacement */
@mixin zero-espace-droite {
  padding-right: 0;
  margin-right: 0;
}
// À appliquer à tous les niveaux de titres
@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}
/* Base CSS réutilisée par les avis et les autres frames avec icônes*/
%boite-base-frame{
  background-image: url("../Images/Templates/ico-telephone.svg?v=1");
  background-position: 1.4rem 0.2rem;
  background-repeat: no-repeat;
  background-size: 27px 35px;
  padding-left: 5.2rem;
}