// Colors
// Primary color
$bleu-piv: #095797;

// Secondary colors
$bleu-pale: #dae6f0;
$bleu-medium: #156bb2;
$gris-pale: #f2f1f1;
$gris-fonce : #C5CAD2;
$bleu-fonce: #223654;
$normal-grey: #c5cad2;
$white: #fff;
$black: #000;

// Accent colors
$rose-accent: #f09686;
$bleu-accent: #3374cc;

// Functional colors
$errors: #cb381f;
$validation-green: #4f813d;
$yellow-alert: #f8e69a;
$success-green: #bcda9a;
$error-red: #edbab1;

// Fonts
$f-body: "Open Sans", sans-serif;
$f-titles: "Roboto", sans-serif;

// Font-size - for rem calc
$base_root_font_size : 16;
