@use "modules/tokens" as *;
@use "modules/utils" as *;

:root {
  font-size: token-value(font size root-percent);
}

body {
  @include content-font(md);
  font-family: token-value(font, family, content);
  background-color: token-value(color, white);
  color: token-value(color, text, primary);
}


@for $i from 1 through 6 {
  h#{$i}, .qc-h#{$i} {
    @include header-font(h#{$i});
    margin-top: token-value(spacer h#{$i} mt);
    margin-bottom: token-value(spacer h#{$i} mb);
  }
}

h1, .qc-h1 {
  &:after {
    content: "";
    display:block;
    margin: 0;
    width: rem(6 * $base-spacer);
    padding-top: rem($base-spacer);
    border-bottom: 4px solid token-value(color, accent);
  }
}

.qc-subhead {
  @include content-font(sm);
  + {
    h1,h2,h3,h4,h5,h6,
    .qc-h1,.qc-h2,.qc-h3,.qc-h4,.qc-h5,.qc-h6 {
      margin-top: 0;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: token-value(spacer,md);
}

img {
  border: none;
  vertical-align: middle;
}

a {
  color: token-value(color, link, text);
  &:visited {
    color: token-value(color, link, visited);
  }
  &:hover,&:focus {
    @include hover-link();
  }
  &:active {
    @include active-link();
  }
  /* to assure non breaking space inter last word and icon */
  .qc-external-link-tail {
    white-space: nowrap;
    img {
      @include external-link-img();
      content:url(#{$img-dir}/external-link.svg?v={{pkg-version}});
    }
  }

}

code, .qc-code {
  font-family: token-value(font, family, code);
}
