/* Error: Undefined variable.
 *   ,
 * 9 |     margin: $spacing-8 $spacing-0;
 *   |             ^^^^^^^^^^
 *   '
 *   blockquote.scss 9:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502      margin: $spacing-8 $spacing-0;\a   \2502              ^^^^^^^^^^\a   \2575 \a   blockquote.scss 9:13  root stylesheet";
}
