@import "../variables/spacing.variables.scss";
@import "../../sass/variables/colors.variables";

//QC
.qc-sd-elevation {
  width: $qc-spacing-16;
  height: $qc-spacing-16;
  border-radius: 0;
  background-color: $qc-color-white;
  margin: $qc-spacing-4 0 $qc-spacing-6 0;
  text-align: center;
  line-height: $qc-spacing-16;
  font-size: $qc-spacing-3-1;
  font-weight: 600;
}

%qc-p0-shading {
  border: 0.063rem solid $qc-color-grey;
}

%qc-p1-shading {
  box-shadow: $qc-spacing-0 0.063rem $qc-spacing-1;
  color: $qc-color-dark-blue;
  opacity: 24%;
}

%qc-p2-shading {
  box-shadow: $qc-spacing-0 0.125rem $qc-spacing-2;
  color: $qc-color-dark-blue;
  opacity: 24%;
}

%qc-p3-shading {
  box-shadow: $qc-spacing-0 $qc-spacing-1 $qc-spacing-4;
  color: $qc-color-dark-blue;
  opacity: 24%;
}

%qc-p4-shading {
  box-shadow: $qc-spacing-0 $qc-spacing-1 $qc-spacing-5;
  color: $qc-color-dark-blue;
  opacity: 24%;
}
