$base-spacing: 1.6rem;
$qc-spacing-1: .25 * $base-spacing;
$qc-spacing-2: .5 * $base-spacing;
$qc-spacing-3: .975 * $base-spacing; // 1.4rem / 14px
$qc-spacing-4: $base-spacing;
$qc-spacing-5: 1.5 * $base-spacing;
$qc-spacing-6: 2 * $base-spacing;
$qc-spacing-7: 2.5 * $base-spacing;
$qc-spacing-8: 3 * $base-spacing;
$qc-spacing-9: 3.5 * $base-spacing;
$qc-spacing-10: 4 * $base-spacing;
$qc-spacing-11: 4.5 * $base-spacing;
$qc-spacing-12: 5 * $base-spacing;
