$qc-spacing-0: 0;
$qc-spacing-1: 0.25rem;
$qc-spacing-2: 0.5rem;
$qc-spacing-3: 0.75rem;
$qc-spacing-3-1: 0.875rem;
$qc-spacing-4: 1rem;
$qc-spacing-5: 1.5rem;
$qc-spacing-6: 2rem;
$qc-spacing-7: 2.5rem;
$qc-spacing-8: 3rem;
$qc-spacing-8-1: 3.375rem;
$qc-spacing-9: 4rem;
$qc-spacing-10: 4.5rem;
$qc-spacing-11: 5rem;
$qc-spacing-12: 5.5rem;
$qc-spacing-13: 5.5rem;
$qc-spacing-14: 5.5rem;
$qc-spacing-15: 6rem;
$qc-spacing-16: 6.25rem;
$qc-spacing-16: 7rem;
