@import "../variables/spacing.variables.scss";
@import "../variables/breakpoints.variables.scss";
@import "../../sass/variables/colors.variables";

$font-dir: "../fonts" !default;

// QC Font Family
$qc-font-roboto: "Roboto", sans-serif;
$qc-font-open-sans: "Open Sans", sans-serif;
// QC Font Weight
$qc-font-weigh-bold: bold;
$qc-font-weigh-normal: normal;

%qc-header-styles {
  font-style: normal;
  font-weight: $qc-font-weigh-bold;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  color: $qc-color-dark-blue;
  font-family: $qc-font-roboto;
}

%qc-h1-styles {
  @extend %qc-header-styles;
  font-size: 3rem;
  line-height: $qc-spacing-8-1;
  margin-top: $qc-spacing-10;
  margin-bottom: $qc-spacing-6;

  @media (max-width: $xl) {
    font-size: 2.25rem;
    line-height: $qc-spacing-7;
    margin-top: $qc-spacing-8;
    margin-bottom: $qc-spacing-4;
  }

  &:after {
    content: "";
    display: block;
    margin: $qc-spacing-0;
    width: $qc-spacing-8;
    padding-top: $qc-spacing-1;
    border-bottom: 0.25rem solid $qc-color-pink;
  }
}

%qc-h2-styles {
  @extend %qc-header-styles;
  font-size: 2.188rem;
  line-height: 2.5rem;
  margin-top: $qc-spacing-8;
  margin-bottom: $qc-spacing-4;

  @media (max-width: $xl) {
    font-size: 1.813rem;
    line-height: $qc-spacing-6;
  }
}

%qc-h3-styles {
  @extend %qc-header-styles;
  font-size: 1.75rem;
  line-height: $qc-spacing-6;
  margin-top: $qc-spacing-5;
  margin-bottom: $qc-spacing-4;

  @media (max-width: $xl) {
    font-size: 1.563rem;
    line-height: $qc-spacing-6;
  }
}

%qc-h4-styles {
  @extend %qc-header-styles;
  font-size: 1.313rem;
  line-height: $qc-spacing-5;
  margin-top: $qc-spacing-5;
  margin-bottom: $qc-spacing-2;
}

%qc-h5-styles {
  @extend %qc-header-styles;
  font-size: 1.188rem;
  line-height: $qc-spacing-5;
  margin-top: $qc-spacing-4;
  margin-bottom: $qc-spacing-0;
}

%qc-h6-styles {
  @extend %qc-header-styles;
  font-size: 1rem;
  line-height: $qc-spacing-5;
  margin-top: $qc-spacing-4;
  margin-bottom: $qc-spacing-0;
}

%qc-span-surtitre {
  font-family: $qc-font-open-sans;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: $qc-font-weigh-normal;
  color: $qc-color-pale-sky;
  margin-top: $qc-spacing-0;
  margin-bottom: $qc-spacing-0;
}