<qc-textfield label="Petit"
              class="qc-sm">
    <input type="text"
           name="text-sm"
           placeholder="25"
    />
</qc-textfield>

<qc-textfield class="qc-md"
    >
    <label for="text-md">Moyen</label>
    <input type="text"
           id="text-md"
           name="text-md"
           placeholder="25"
    />
</qc-textfield>

<qc-textfield label="Large"
              class="qc-lg"
              invalid
>
    <input type="text"
           name="text-lg"
           placeholder="Long placeholder lorem ipsum dolor sit amet"
    />
</qc-textfield>

<qc-textfield name="text-xl"
              label="Très large"
              class="qc-xl"
              placeholder="Long placeholder lorem ipsum dolor sit amet"
              required>
    <input type="text"
           name="text-xl"
    />
</qc-textfield>

<qc-textfield
        label="Extra large"
        class="qc-xxl"

>
    <input type="text"
           placeholder="Long placeholder lorem ipsum dolor sit amet"
           name="text-xxl"
           disabled
    />
</qc-textfield>

<div class="qc-textfield-row">
    <qc-textfield
            label="Combiné 1"
            class="qc-md"
    >
        <input type="text"
               placeholder="Long placeholder lorem ipsum dolor sit amet"
               name="combo-1"
        />
    </qc-textfield>

    <qc-textfield
            label="Combiné 2"
            class="qc-sm"
    >
        <input type="text"
               name="combo-2"
        />
    </qc-textfield>
</div>
<div class="qc-textfield-row">
    <qc-textfield
            label="Combiné 1 invalide"
            class="qc-md"
            invalid
            invalid-text="Lorsque combinés, le message d'erreur décale les champs…"
    >
        <input type="text"
               name="invalid-combo-1"
        />
    </qc-textfield>

    <qc-textfield
            label="Combiné 2"
            class="qc-sm"
    >
        <input type="text"
               name="invalid-combo-2"
        />
    </qc-textfield>

</div>

<qc-textfield for="zone-xl"
              class="qc-xl"
              label="Commentaires"
              description="Vous pouvez entrer des commentaires dans la zone de texte ci-dessous."
>
    <textarea name="zone-xl" id="zone-xl"></textarea>
</qc-textfield>

<qc-textfield
        label="Suggestions"
        description="Vous pouvez entrer des suggestions dans la zone de texte ci-dessous."
        class="qc-xxl"
        max-length="50"
        required
>
    <textarea name="zone-xxl"></textarea>
</qc-textfield>

<qc-textfield label="Suggestions"
              description="Vous pouvez entrer des suggestions dans la zone de texte ci-dessous."
              class="qc-xxl"
              max-length="50"
              required
              invalid-text="Message d'erreur personnalisé"
              invalid
>
    <textarea name="zone-xxl-invalid"
              id="zone-xxl-invalid"
    ></textarea>
</qc-textfield>