<qc-textfield name="text-sm"
              label="sm"
              size="sm"
              placeholder="25"></qc-textfield>
<qc-textfield name="text-md"
              label="Entrez votre code postal"
              size="md"
              placeholder="ex : G1A 1A1"></qc-textfield>

<div class="qc-textfield-row">
    <qc-textfield name="telephone"
                  label="Combiné 1"
                  size="md"
                  placeholder="(123) 456-7890"></qc-textfield>

    <qc-textfield name="poste"
                  label="Combiné 2"
                  size="sm"
                  placeholder="1234"></qc-textfield>
</div>
<qc-textfield name="text-lg"
              label="Lg"
              size="lg"
              placeholder="Long placeholder lorem ipsum dolor sit amet"></qc-textfield>
<qc-textfield name="text-xl"
              label="xl"
              size="xl"
              placeholder="Long placeholder lorem ipsum dolor sit amet"
              required></qc-textfield>

<qc-textfield name="text-xxl"
              label="Entrez votre adresse"
              size="xxl"
              disabled=""></qc-textfield>

<qc-textfield name="zone-xl"
              label="Commentaires"
              description="Vous pouvez entrer des commentaires dans la zone de texte ci-dessous."
              size="xl"
              display="area"></qc-textfield>

<qc-textfield name="zone-xxl"
              label="Suggestions"
              description="Vous pouvez entrer des suggestions dans la zone de texte ci-dessous."
              size="xxl"
              display="area"
              max-length="50"
              required=""
              invalid-text="Message d'erreur personnalisé"></qc-textfield>

