@use "qc-sdg-lib" as *;

.qc-dropdown-list-multiple {
  margin: 0;

  label {
    margin: 0;
    padding: token-value(spacer, xs);
    flex-grow: 1;
  }
  .qc-choicefield:focus {
    outline: none;
  }
}
