@use "qc-sdg-lib" as *;

.qc-label {
  display: inline-block;
  width: fit-content;
  white-space: nowrap;
  margin: 0;

  &.qc-compact {
    font-size: token-value(font size sm);
  }

  &.qc-bold {
    font-weight: token-value(font weight content bold);
  }

  &:has(~ :disabled) {
    color: token-value(color, grey, regular);
    cursor: not-allowed;
  }
}

.qc-label-text {
  white-space: wrap;
  margin: 0;

  @include content-font(md, bold);
}
