@use "../../scss/qc-sdg-lib" as *;

.qc-label {
  font-weight: token-value(font weight content medium);
  display: block;

  &.qc-label-compact {
    font-size: token-value(font size sm);
  }

  &.qc-label-bold {
    font-weight: token-value(font weight content bold);
  }
}
