@use "modules/tokens" as *;
@use "modules/utils" as *;

img,
picture {
  max-width: 100%;
  display: block;
}

img {
  border: none;
  vertical-align: middle;
}

figure {
  margin: 0;
  display: inline-block;
  flex-direction: column;
  overflow-x: auto;
  img {
    height: auto;
  }
}
figcaption {
  @include content-font(sm);
  background-color: token-value(color, grey, pale);
  padding: rem($base-spacer);
  margin-top: rem($base-spacer);
  p {
    @include content-font(sm);
    &:last-child {
      margin-bottom: 0;
    }
  }
  //margin-bottom: token-value(spacer md);
}

