@use "qc-sdg-lib" as *;

ul {
    max-inline-size: token-value(max-content-width);
    list-style: disc;
    margin-top: 0;
    margin-bottom: token-value(spacer content-block mb);
    padding-left: token-value(spacer list pl);
    li {
        margin-bottom: token-value(spacer list-item mb);
        margin-top: token-value(spacer list-item mb);
    }
    ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style: circle;
    }
}