@use "qc-sdg-lib" as *;
dl,
dd {
    margin: 0;
}

ul {
    max-inline-size: token-value(max-content-width);
    list-style: disc;
    margin-top: 0;
    margin-bottom: token-value(spacer list mb);
    padding-left: token-value(spacer list pl);
    li {
        margin-bottom: token-value(spacer list-item mb);
    }
    ul {
        margin-top: token-value(spacer list-item mb);
        margin-bottom: token-value(spacer list embedded-mb);
        list-style: circle;
    }
}