@use "qc-sdg-lib" as *;

@for $i from 1 through 6 {
  h#{$i}, .qc-h#{$i} {
    @include heading($i);
  }
}

h1, .qc-h1 {

  .qc-subhead {
    @include content-font(sm, $include-family: 1);
    color : token-value(color, grey, medium);
    display: block;
    margin: 0;
  }

  &:after {
    content: "";
    display:block;
    margin: 0;
    width: rem(6 * $base-spacer);
    padding-top: rem($base-spacer);
    border-bottom: 4px solid token-value(color, accent);
  }
}

p {
  margin-top: 0;
  margin-bottom: token-value(spacer,md);
  max-inline-size: token-value(max-content-width);
}

a {
  color: token-value(color, link, text);
  &:visited {
    color: token-value(color, link, visited);
  }
  &:hover {
    @include hover-link();
  }
  &:focus {
    @include focus-link();
  }
  &:active {
    @include active-link();
  }
   //DEPRECATED: use <qc-external-link> instead.
   // to assure non breaking space inter last word and icon
  .qc-external-link-tail {
    white-space: nowrap;
    img {
      @include external-link-img('a:hover');
      content:getImageUrl(external-link);
    }
  }
  .img-wrap {
    //display: inline-flex;
    //align-items: center;
    white-space: nowrap;

  }


}
span.qc-ext-link-img {
  @include external-link-img();
}

code, .qc-code {
  font-family: token-value(font, family, code);
}

// pour les très petites résolutions, on ajoute des tirets aux mots.
@media (max-width: 320px) {
  body {
    overflow-wrap: break-word;
    hyphens: auto;
  }
}


.qc-font-size-sm {
  @include content-font("sm");
}

.qc-font-size-lg {
  @include content-font("lg");
}
.qc-font-size-xl {
  @include content-font("xl");
}
.qc-font-size-md {
  @include content-font("md");
}
