@use "../../scss/qc-sdg-lib" as *;
@use "sass:math";

$min-height: 40;
$max-height: 370;
$border: 1;

.qc-dropdown-list {
  position: relative;
  border: rem($border) solid token-value(color, grey, medium);
  width: var(--dropdown-width);
  min-height: rem($min-height);
  background-color: token-value(color, background);
}

.qc-dropdown-list-search {
  margin: token-value(spacer, sm) token-value(spacer, xs);

  * {
    z-index: 12 !important;
  }
}

.qc-dropdown-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: rem($min-height);
  align-items: center;
  background-color: token-value(color, background);
  border: none;
  padding-left: token-value(spacer, xs);
  padding-right: token-value(spacer, xs);

  @include qc-formcontrol-box();
  @include content-font(md);

  &:hover {
    cursor: pointer;
  }
}

.qc-dropdown-button-icon {
  display: flex;
  align-items: center;
  rotate: 180deg;
}

.qc-dropdown-button-icon-expanded {
  transform: rotate(180deg);
}

.qc-dropdown-placeholder {
  color: token-value(color, grey, medium);
}

.qc-dropdown-choice {
  color: token-value(color, blue, dark);
}

.qc-dropdown-list-items {
  position: absolute;
  max-height: rem($max-height - $min-height);
  width: calc(100% + 2px);
  left: -(rem($border));
  right: -(rem($border));
  top: 100%;
  z-index: 11; // Index supérieur à l'index du mixin qc-formcontrol-box
  overflow-y: auto;
  overflow-x: hidden;

  background-color: token-value(color, background);
  border-left: rem($border) solid token-value(color, grey, medium);
  border-right: rem($border) solid token-value(color, grey, medium);
  border-bottom: rem($border) solid token-value(color, grey, medium);

  scrollbar-color: token-value(color, blue, regular) token-value(color, background);

  &::-webkit-scrollbar-track {
    background: token-value(color, background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: token-value(color, blue, regular);
  }

  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.qc-dropdown-list-items-hidden {
  display: none;
}

.qc-dropdown-list-multiple, .qc-dropdown-list-single {
  display: flex;
  align-items: center;
  height: rem($min-height);

  &:hover, &:focus, &:has(input[type=checkbox]:focus) {
    background-color: token-value(color, blue, pale);
    outline: none;
    cursor: pointer;
  }
}

.qc-dropdown-list-single {
  padding-left: token-value(spacer, xs);
  padding-right: token-value(spacer, xs);
}

.qc-dropdown-list-multiple {
  label {
    padding-left: token-value(spacer, xs);
    padding-right: token-value(spacer, xs);
    padding-top: token-value(spacer, xs);
    flex-grow: 1;
  }

  .qc-check-row {
    height: 100%;
  }
}

.qc-dropdown-list-single-selected {
  background-color: token-value(color, blue, regular) !important;
  color: token-value(color, white);
}
