@use "../../scss/qc-sdg-lib" as *;
@use "DropdownListItems/dropdownListItems";
@use "DropdownListButton/dropdownListButton";
@use "sass:math";

$min-height: 40;
$border: 1;

.qc-select {
  display: block;
  margin-bottom: rem(32);

  max-width: 100%;
}

.qc-dropdown-list-container {
  width: 100%;

  .qc-label {
    margin-bottom: rem(4);
  }
}

.qc-dropdown-list {
  display: flex;
  position: relative;
  border: rem($border) solid token-value(color, grey, medium);
  min-height: rem($min-height);
  background-color: token-value(color, background);
  max-width: 100%;
  min-width: 0;

  &.qc-dropdown-list-invalid {
    border: rem(2) solid token-value(color, red, regular) !important;

    & > .qc-dropdown-button {
      height: rem(36);
    }
  }

  &-xs { width: token-value(size, max-width, xs); }
  &-sm { width: token-value(size, max-width, sm); }
  &-md { width: token-value(size, max-width, md); }
  &-lg { width: token-value(size, max-width, lg); }
  &-xl { width: token-value(size, max-width, xl); }
}

.qc-dropdown-list-search {
  margin: token-value(spacer, xs);

  * {
    z-index: 12;
  }
}

.qc-dropdown-list-expanded {
  position: absolute;
  width: calc(100% + 2px);
  left: -(rem($border));
  right: -(rem($border));
  top: calc(var(--dropdown-items-top-offset) * $rem-ratio * 1rem);
  //top: 100%;
  z-index: 11; // Index supérieur à l'index du mixin qc-formcontrol-box

  background-color: token-value(color, background);
  border-left: rem($border) solid token-value(color, grey, medium);
  border-right: rem($border) solid token-value(color, grey, medium);
  border-bottom: calc(var(--dropdown-items-bottom-border) * $rem-ratio * 1rem) solid token-value(color, grey, medium);
  border-top: calc(var(--dropdown-items-top-border) * $rem-ratio * 1rem) solid token-value(color, grey, medium);
}

.qc-dropdown-list-hidden {
  display: none;
}
