<h2 id="select">Liste déroulante (qc-select)</h2>

<h3>Exemples</h3>

<qc-doc-exemple caption="Exemple de listes déroulantes en sélection dans différents états">
    <qc-select label="Choix unique">
        <select id="select-single-choice">
            <option value="1" selected>Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            <option value="6">Option 6</option>
            <option value="7">Option 7</option>
            <option value="8">Option 8</option>
            <option value="9">Option 9</option>
            <option value="10">Option 10</option>
            <option value="11">Option 11</option>
            <option value="12">Option 12</option>
            <option value="13">Option 13</option>
            <option value="14">Option 14</option>
            <option value="15">Option 15</option>
            <option value="16" disabled>Option 16 (désactivée)</option>
        </select>
    </qc-select>

    <qc-select enable-search>
        <label for="select-single-choice-disabled"
               >Choix unique avec recherche:</label>
        <select id="select-single-choice-disabled">
            <option value="1" selected>Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            <option value="6">Option 6</option>
            <option value="7">Option 7</option>
            <option value="8">Option 8</option>
            <option value="9">Option 9</option>
            <option value="10">Option 10</option>
            <option value="11">Option 11</option>
            <option value="12">Option 12</option>
            <option value="13">Option 13</option>
            <option value="14">Option 14</option>
            <option value="15">Option 15</option>
            <option value="16" >Option 16</option>
        </select>
    </qc-select>

    <qc-select multiple>
        <label for="select-qc-select">Choix multiple:</label>
        <select multiple id="select-qc-select">
            <option value="1">Option 1</option>
            <option value="2" selected>Option 2</option>
            <option value="3" selected>Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            <option value="6">Option 6</option>
            <option value="7">Option 7</option>
            <option value="8">Option 8</option>
            <option value="9">Option 9</option>
            <option value="10">Option 10</option>
            <option value="11">Option 11</option>
            <option value="12">Option 12</option>
            <option value="13">Option 13</option>
            <option value="14">Option 14</option>
            <option value="15">Option 15</option>
            <option value="16" disabled>Option 16 (désactivée)</option>
        </select>
    </qc-select>

    <qc-select disabled>
        <label for="qc-select-disabled">Désactivé:</label>
        <select id="qc-select-disabled">disabled</select>
    </qc-select>
</qc-doc-exemple>


<h4>Attributs de <code>qc-dropdown-list</code></h4>
<div class="table-overflow">
    <table class="qc-table qc-striped component-attributes-description">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur attendue</th>
            <th>Valeur par défaut</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>label</td>
            <td>Contenu HTML</td>
            <td>""</td>
            <td>Libellé de la liste déroulante<br/>
                NB : l'autre possibilité est d'ajouter un élément <code>&lt;label&gt;</code> dans le composant.
            </td>
        </tr>
        <tr>
            <td>width</td>
            <td>"xs", "sm", "md", "lg", "xl"</td>
            <td>"md"</td>
            <td>Largeur de la liste déroulante</td>
        </tr>
        <tr>
            <td>value</td>
            <td>Texte</td>
            <td></td>
            <td>Valeur(s) sélectionnée(s) dans la liste déroulante</td>
        </tr>
        <tr>
            <td>enable-search</td>
            <td>na</td>
            <td>na</td>
            <td>Affiche un champ de recherche dans le haut des options de la liste déroulante</td>
        </tr>
        <tr>
            <td>required</td>
            <td>na</td>
            <td>na</td>
            <td>Marque le champ comme obligatoire en ajoutant un astérisque dans le libellé</td>
        </tr>
        <tr>
            <td>disabled</td>
            <td>na</td>
            <td>na</td>
            <td>Désactive la liste déroulante</td>
        </tr>
        <tr>
            <td>invalid</td>
            <td>na</td>
            <td>na</td>
            <td>
                Affiche le message d'erreur.
                <br/>NB : <code>invalid</code> prend automatiquement la valeur <code>false</code> dès qu'une donnée est sélectionnée..
            </td>
        </tr>
        <tr>
            <td>invalid-text</td>
            <td>Texte</td>
            <td>Le champ `label` est obligatoire.</td>
            <td>Message d’erreur à afficher lorsque la liste déroulante est invalide</td>
        </tr>
        <tr>
            <td>placeholder</td>
            <td>Texte</td>
            <td>""</td>
            <td><i>Placeholder</i> de la boîte de la liste déroulante</td>
        </tr>
        <tr>
            <td>search-placeholder</td>
            <td>Texte</td>
            <td>""</td>
            <td><i>Placeholder</i> réservé du champ de recherche</td>
        </tr>
        <tr>
            <td>no-options-message</td>
            <td>Contenu HTML</td>
            <td>Aucun élément/No item</td>
            <td>Texte en cas d'absence d'options dans la liste</td>
        </tr>
        <tr>
            <td>multiple</td>
            <td>na</td>
            <td>na</td>
            <td>Active la sélection multiple</td>
        </tr>
        </tbody>
    </table>
</div>
