<qc-piv-footer>
    <nav aria-label="Navigation du pied de page">
        <ul>
            <li><a href="/">Accessibilité</a></li>
            <li><a href="/">Plan du site</a></li>
            <li><a href="/">Accès à l’information</a></li>
            <li><a href="/">Politique de confidentialité</a></li>
            <li><a href="/">Conditions d’utilisation</a></li>
            <li><a href="/">À propos de Québec.ca</a></li>
        </ul>
    </nav>
</qc-piv-footer>

<qc-piv-footer
        logo-src="img/piv-MCE-theme-clair.svg"
        logo-src-dark-theme="img/piv-MCE-theme-sombre.svg"
>
    <nav aria-label="Navigation du pied de page">
        <ul>
            <li><a href="/">Accès à l’information</a></li>
            <li><a href="/">Politique de confidentialité</a></li>
        </ul>
    </nav>
    <qc-external-link slot="copyright">
        <a
                id="copyright-link"
                target="_blank"
                rel="noopener"
                href="https://www.quebec.ca/droit-auteur">
        </a>
    </qc-external-link>
</qc-piv-footer>

<script>
    const copyrightSlot = document.getElementById('copyright-link');
    copyrightSlot.innerHTML = `© Gouvernement du Québec, ${new Date().getFullYear()}`;
</script>