@use "qc-sdg-lib" as *;
@use "components/code" as *;
@use "components/button" as *;
@use "tables";
@use "jQueryUI/jquery-ui.autocomplete";

main {
  margin-bottom: token-value(spacer lg);
}

qc-color-doc {
  display: block;
  margin-bottom: token-value(spacer,md);;
}
.title-samples {
  border: 1px solid token-value(color,grey,light);

  figure {
    width: 100%;
    padding: token-value(spacer,md) token-value(spacer,md);
    border-bottom: 1px solid token-value(color,grey,pale);

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    + figure {
      margin-top: token-value(spacer,md);
    }
  }
}

.font-titles {
  font-family: token-value(font,family,header);
}

h1,h2,h3,h4,h5,h6 {
  scroll-margin-top: rem(96);
}

#grid-samples {
  position: relative;
  text-align: center;
  margin-top: rem(6 * $base-spacer);
  margin-bottom: 5%;
  .qc-row {
    margin-top: token-value(spacer,md);
    > div > div {
      background-color: token-value(color,blue,piv);
      opacity: .7;
      height: 100%;
      color: white;
      padding: rem($base-spacer) 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  top: -5%;
  .qc-row > div > div {
    background-color: token-value(color,grey,pale);
  }
  div {
    height: 100%;
  }
}

#liste-elevation {
  display: flex;
  gap: token-value(grid gutter);
  flex-wrap: wrap;
  [class*=qc-shading-] {
    display: flex;
    width: rem(15 * $base-spacer);
    height: rem(15 * $base-spacer);
    justify-content: center;
    align-items: center;

    &.qc-shading-0 {
      border: 1px solid token-value(color, grey, light)
    }
  }
}

a {

  &.pseudo-hover {
    @include hover-link();
  }
  &.pseudo-active {
    @include active-link();
  }
  &.pseudo-focus {
    @include focus-link();
  }
  &.pseudo-visited {
    color: token-value(color,link,visited);
  }
  &.not-visited:visited:not(:hover) {
    color: token-value(color,link,text);
  }
}

p,h1,h2,h3,h4,h5,h6 {
  hyphens: auto;
}

table.component-attributes-description td:first-child {
  white-space: nowrap;
}

qc-piv-footer + qc-code {
  margin-top: 0;
}

qc-doc-exemple {
  display: block;
  margin-bottom: token-value(spacer xl);
}

dl {
  margin: 0 0 token-value(spacer content-block mb);
  dt { font-weight: token-value(font weight content medium)}
  dd {
    margin-left: 0;
    margin-bottom : token-value(spacer list-item mb);
  }
  &.qc-list-inline {
    dt, dd { display: inline;}
    dt::before {
      display: block;
      content: "";
      margin-bottom: token-value(spacer list-item mb);
    }
  }

}

.table-overflow {
  width: 100%;
  overflow-x: auto;

}

