@use "qc-sdg-lib" as *;
@use "../Fieldset/fieldset" as *;


input[type="checkbox"].qc-choicefield {
  &:checked {

    background-color: token-value(color blue regular)!important;

    &::before {
      width: rem(12);
      height: rem(7);
      border: rem(3) solid token-value(color, blue, regular);
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      top: rem(2);
    }

    &::after {
      content: "\e5ca"; // Caractère "check" de la font Material Symbols
      font-family: 'Material Symbols Rounded';
      font-style: normal;
      font-feature-settings: 'liga';
      font-variation-settings: 'opsz' 40, 'FILL' 0, 'GRAD' 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: token-value(color, white);
      font-size: rem(24);
      font-weight: 600;
      line-height: 1;
    }
  }
  &.qc-compact {
    &:checked {
      &::before {
        width: rem(8);
        height: rem(5);
        border: rem(2) solid token-value(color, blue, regular);
        border-top: 0;
        border-right: 0;
        transform: rotate(-45deg);
        top: rem(1);
      }

      &::after {
        font-size: rem(16);
        font-weight: 600;
      }
    }
  }
}

.qc-checkbox-single {
  display: flex;
  flex-direction: column;
  margin-bottom: token-value(spacer content-block mb);
  width: fit-content;

  label {
    flex-grow: 0;
  }

  &.qc-checkbox-single-invalid {
    @extend .qc-fieldset-invalid;
  }
}
