@use "../../scss/qc-sdg-lib" as *;
@use "sass:map";

$colors : map.get($themes-tokens, light, lg, color);

%piv-links {
  &, & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      padding: 0;
      margin: 0;
      @include content-font(sm);
    }

    a {
      font-size: rem(12.8);
    }
  }
}

qc-piv-header {
  --qc-piv-header-bg: 1;
  display: block;
  // pas de token ici ; le PIV a toujours ce fond, indépendamment du thème
  // on se base donc sur les valeurs scss
  background-color: map.get($colors, blue, piv);
  width: 100%;

  [slot=links] {
    @extend %piv-links;
  }
}

.qc-piv-header {
  color: map.get($colors, white);
  .go-to-content {
    position: relative;
  }
  .piv-top {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    align-items: start;
    > * {
      min-height: rem(72);
    }
    .signature-group {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      align-items: start;
      margin-right: auto;
      * {
        min-height: rem(72);
      }
      .logo {
        display: flex;
        flex-basis: rem(256);
        //margin-right: rem(64);
        [role=img] {
          background-image: var(--logo-src);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          margin-right: 16px;
          min-width: 150px;
          //object-fit: fill;
          width: 100%;
          max-width: rem(200);
          min-height: rem(72);
        }
      }
      .title {
        display: flex;
        flex-grow: 1;
        align-items: center;
        @include content-font(100);
        flex-basis: fit-content;
        //margin-top: auto;
        //margin-bottom: auto;
        //margin-right: auto;
        //padding-right: 40px;
        > * {
          //display: -webkit-box;
          //-webkit-line-clamp: 2;
          //-webkit-box-orient: vertical;
          //overflow: hidden;
          //max-height: rem(72);
        }
      }
    }




    .right-section {
      min-width: fit-content;
      display: flex;
      align-items: center;
      flex-basis: fit-content;
      .links ul {
        @extend %piv-links;
      }

      @include media-mobile() {
        min-width: auto;
      }
    }

    .qc-search {
      background-image: getImageUrl(loupe-piv-droite);
      background-repeat: no-repeat;
      min-width: rem(24);
      height: rem(24);
      margin-right: token-value(spacer md);;
      @include media-mobile() {
        margin-right: token-value(spacer sm);
      }

      span {
        @include sr-only();
      }
    }
  }

  .piv-bottom {
    .search-zone {
      padding-bottom: token-value(spacer md);
    }
  }
}

qc-piv-header,
.qc-piv-header {
  a {
    --qc-color-link-focus-outline: #{token-value(color blue pale)};
    --qc-color-link-hover: white;
    --qc-color-link-text: white;
    --qc-color-link-visited: white;
    --qc-color-link-active: white;

    font-family: token-value(font family header);
    text-decoration: none;
    font-weight: token-value(font weight regular);

    &:hover {
      text-decoration: underline;
    }
  }
  a:focus-visible, a:focus {
    &:has(img) {
      outline-offset: -2px;
    }
  }
}

.go-to-content {
  display: flex;
  height: 0;

  a {
    @include sr-only();

    &:focus {
      top: 2px;
      width: inherit;
      height: 24px;
      overflow: inherit;
      clip: inherit;
      white-space: inherit;
      color: map.get($colors, white);
      background-color: map.get($colors, blue, piv);
      margin:0;
    }
  }
}

@include media-mobile(){
  .qc-piv-header {
    .piv-top {
      flex-wrap: wrap;
      .logo {
        flex-shrink: 1;
        margin-right: auto;
        min-width: 0;
        img {
          width: 100%;
          margin-right: rem(16);
        }
      }

      .title {
        min-width: 100%;
        padding: 0;
        //height: auto;
        height: fit-content;
        max-height: fit-content;
        order: 2;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
      }

      .right-section {
        min-width: 0;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}




