@use "../../scss/qc-sdg-lib" as *;

.qc-required {
  @include content-font(md, bold);
  color: token-value(color, red, regular);
  margin-left: token-value(spacer, xs);
}

.qc-disabled {
  color: token-value(color, grey, regular);
  cursor: not-allowed;
}

