@use "../../scss/qc-sdg-lib" as *;

.qc-required {
  @include content-font(md, bold);
  color: token-value(color, red, regular);
  margin-left: rem(3.85); // 8px - espace implicite de 4.15px
}

.qc-disabled {
  color: token-value(color, grey, regular);
  cursor: not-allowed;
}
