@use "../../scss/qc-sdg-lib" as *;
@use "../SearchInput/searchInput" as *;

qc-search-bar {
  position: relative;
  display: block;
}
.qc-search-bar {
  background: token-value(color background);
  display: flex;
  align-items: center;
  border: 1px solid token-value(color formfield border);

  button {
    border: none;
    &.qc-icon-button {
      width: rem(38);
      height: rem(38);
    }

    &:focus {
      border: solid 2px token-value(color blue dark);
      outline: 2px solid token-value(color formfield focus outline);
    }

    &:hover {
      background-color: token-value(color blue regular);
    }

    background: token-value(color blue piv);

    width: rem(40);
    flex-shrink: 0;
  }

  &:has([type=search]:focus) {
    border: solid 2px token-value(color blue dark);
    outline: 2px solid token-value(color formfield focus outline);
  }

  max-width: token-value(size search-bar max-width);
  width: 100%;
  &:has(input:focus) {
    [type=submit] {
      width: rem(36);
      height: rem(36);
    }
  }
  .qc-search-input {
    margin:0;
    width: 100%;
    outline: none!important;
    &::before {
      content:none!important;
    }

    & > input{
      padding: rem(6) rem(0) rem(6) rem(7);

      &:focus {
        padding: rem(4) 0 rem(4) rem(6);
      }
    }
  }
}

.qc-search-bar.piv-background {
  --qc-color-formfield-focus-outline: #{token-value(color blue pale)};
  [type=submit] {
    background: token-value(color background);

    &:focus {
      background-color: rgba(token-value(color grey light rgb), .24);
    }
    &:hover {
      background-color: rgba(token-value(color grey light rgb), .24);
    }
    &:active {
      background-color: rgba(token-value(color grey light rgb), .16);
    }
  }
}

