@use "modules/tokens" as *;
@use "modules/utils" as *;
@use "modules/grid" as *;

qc-search-bar {
  display: block;
}

.qc-search-bar {
  display: flex;
  max-width: rem(640);
  height: rem(40);
  flex-grow: 1;
  align-items: stretch;
  border: 1px solid token-value(color blue dark);
  &:has(:focus) {
    // fonctionne indépendamment du bg
    outline: 2px solid token-value(color background);
  }
  input, .search-bar {
    border-width: 0;
  }
  [type=submit] {
    border-left-width: 1px;
    margin-left: -1px;
  }
  input {
    border-right-width: 1px;
  }

}

.search-bar {
  input {

  }
}