@use "../../scss/qc-sdg-lib" as *;
@use "sass:list" as *;

%qc-notice-title {
  h1,h2,h3,h4,h5,h6,[role=heading] {
    margin: 0;
    padding: 0;
    @include content-font(sm, bold);
    font-family: token-value(font, family, content);
  }
}

%qc-notice-error {
  color: token-value(color, red, regular);
  &::marker {
    color:token-value(color text primary);
  }
  & a {
    color: inherit;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.qc-notice {
  max-inline-size: token-value(max-content-width);
  display: flex;
  border: 1px solid token-value(color,grey,light);
  background-color: token-value(color,white);
  word-break: break-word;
  @include content-font(sm);

  @extend %qc-notice-title;
  & ul {
    padding-left: token-value(spacer, sm) !important;
  }

  .icon-container {
    display: flex;  
    padding: token-value(spacer, md) token-value(spacer, xs);
    background-color: token-value(color,blue,pale);      

    .qc-icon {
      background-size: 100% auto;
      min-width: token-value(spacer, md);      
      height: token-value(spacer, md);
    }    
  }
  .content-container {
    width: 100%;
  }

  //TODO Quelle est la marge entre le titre et le texte? Rien de spécifié dans le SDG.


  .content {
      margin:
          token-value(spacer md)
          token-value(spacer md)
          token-value(spacer md)
          token-value(spacer, sm);
  }

  @each $type, $color in (
      "information": ("blue", "piv"),
      "warning": ("yellow" , "dark"),
      "neutral": ("grey", "dark"),
      "error": ("red", "regular"),
      "success": ("green","regular"),
  ) {
    &.qc-#{$type} .icon-container {
      background-color: token-value(color, nth($color, 1), pale);
      [role=img] {
        background-color: token-value(color,nth($color, 1), nth($color, 2));
      }
    }
  }

  &.qc-error * ul li {
    @extend %qc-notice-error;
  }
  margin-bottom: rem(4 * $base-spacer);
}

qc-notice {
  @extend %qc-notice-title;

  &[type="error"] ul li {
    @extend %qc-notice-error;
  }
}
