@import "../Solr/facets.scss";

.facet-wrap {
  border-bottom: 1px solid $grey;
  margin-bottom: 2rem;
  legend {
    font-weight: 600!important;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}