@use "../../../scss/qc-sdg-lib" as *;

$min-height: 40;

.qc-dropdown-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: rem($min-height - 2);
  align-items: center;
  background-color: token-value(color, background);
  border: none;
  padding-left: token-value(spacer, xs);
  padding-right: token-value(spacer, xs);
  gap: token-value(spacer, xs);

  @include qc-formcontrol-box();
  @include content-font(md);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;

    &::before {
      background-color: token-value(color, grey, pale);
    }
  }
}

%dropdown-placeholder-text {
  display: block;
  justify-content: start;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qc-dropdown-placeholder {
  @extend %dropdown-placeholder-text;
  color: token-value(color, grey, medium);
}

.qc-dropdown-choice {
  @extend %dropdown-placeholder-text;
  color: token-value(color, blue, dark);
}

.qc-dropdown-button-icon {
  display: flex;
  align-content: center;
}
