@use "../lib/functions" as *;
@use "../lib/mixins" as *;

.qc-checkbox-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0.001em 0 0 0; //Ce padding est nécessaire pour contrôler les marges de <legend>.
  margin-left: token-value(spacer, xs);
  margin-bottom: token-value(spacer, sm);
  @include content-font(md, bold);
}

%checkbox-group {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.qc-checkbox-legend {
  display: flex;
  flex-direction: row;
}

.qc-checkbox-group-sm {
  @extend %checkbox-group;
  margin-top: token-value(spacer, sm);
  row-gap: token-value(spacer, xs);
}

.qc-checkbox-group-md {
  @extend %checkbox-group;
  margin-top: token-value(spacer, md);
  row-gap: token-value(spacer, sm);
}

.qc-radio-required {
  display: flex;
  color: token-value(color, red, regular);
  margin-left: token-value(spacer, xs);
}

.qc-checkbox-invalid {
  display: flex;
  color: token-value(color, red, regular);
  margin-top: token-value(spacer, sm);
  align-items: center;

  .qc-checkbox-invalid-icon {
    display: flex;
    align-items: center;
    margin-right: token-value(spacer, xs);
  }

  &.qc-checkbox-invalid-visible {
    min-height: token-value(spacer, md);
  }
}