@use "qc-sdg-lib" as *;

.qc-fieldset {
  //display: flex;
  //flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 token-value(spacer content-block mb);
  justify-items: start;
  row-gap: token-value(spacer, sm);
  legend {
    font-weight: token-value(font weight content bold);
    display: -webkit-box;
    margin-bottom: token-value(spacer, sm);
  }
  &.qc-compact {
    margin-bottom: token-value(spacer, sm);
  }
}
.qc-fieldset-disabled {
  legend {
    color: token-value(color, grey, regular);
  }
}

.qc-fieldset-required {
  @include content-font(md, bold);
  display: flex;
  color: token-value(color, red, regular);
  margin-left: token-value(spacer, xs);
}

$invalid-offset: token-value(spacer, xs);
$invalid-border-width: 2px;
.qc-fieldset-invalid,
.qc-fieldset-invalid legend {
  border-left: $invalid-border-width solid token-value(color, red, regular);
  padding-left: $invalid-offset;
}
.qc-fieldset-invalid legend {
  margin-left: calc(-1 * #{$invalid-offset} - $invalid-border-width);
}

%grid {
  display: grid;
  grid-gap: token-value(spacer, xs);
}

.qc-field-elements-grid-row {
  @extend %grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--elements-per-row-or-col), 1fr);
}

.qc-field-elements-grid-column {
  @extend %grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(var(--elements-per-row-or-col), 1fr);
}
