@use "qc-sdg-lib" as *;

%fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: token-value(spacer content-block mb);
}

%group {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

%legend {
  display: -webkit-box;
  @include content-font(md, bold);
}

%group-sm {
  @extend %group;
  margin-top: token-value(spacer, xs);
  row-gap: token-value(spacer, xs);
}

%group-md {
  @extend %group;
  margin-top: token-value(spacer, sm);
  row-gap: token-value(spacer, sm);
}

%required {
  display: flex;
  color: token-value(color, red, regular);
  margin-left: token-value(spacer, xs);
  @include content-font(md, bold);
}

%fieldset-invalid {
  box-shadow: -2px 0 token-value(color, red, regular) ;
  //border-left: 2px solid token-value(color, red, regular);
  padding-left: token-value(spacer, xs);
  //margin-left: rem(-1 * $base-spacer);
}

%group-tiles {
  display: inline-grid;
  margin-top: token-value(spacer, md);
}

%group-tiles-row {
  @extend %group-tiles;
  grid-auto-flow: column;
}

%group-tiles-column {
  @extend %group-tiles;
  grid-auto-flow: row;
}

.qc-fieldset-invalid {
  @extend %fieldset-invalid;
}

@mixin fieldgroup($type) {
  .qc-#{$type}-fieldset {
    @extend %fieldset;
  }

  .qc-#{$type}-legend {
    @extend %legend;
  }

  .qc-#{$type}-required {
    @extend %required;
  }

  .qc-#{$type}-group-sm {
    @extend %group-sm;
  }

  .qc-#{$type}-group-md {
    @extend %group-md;
  }

  .qc-radio-group-tiles-row {
    @extend %group-tiles-row;

    //qc-radio-tile {
    //  margin-right: token-value(spacer, xs);
    //  &:last-child {
    //    margin: 0;
    //  }
    //}
    grid-gap: token-value(spacer, xs);
  }

  .qc-radio-group-tiles-column {
    @extend %group-tiles-column;

    //qc-radio-tile {
    //  margin-bottom: token-value(spacer, xs);
    //  &:last-child {
    //    margin: 0;
    //  }
    //}
    grid-gap: token-value(spacer, xs);
  }
}
