@use "modules/tokens" as *;
@use "modules/utils" as *;
@use "modules/grid" as *;

qc-icon {
  display: inline-flex;
  align-items: stretch;
}

// TODO retirer une fois toutes les icônes remplacées par Icon dans les composants
.qc-icon {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-width: 32px;
  height: 32px;

  &.qc-icon-sm {
    min-width: 12px;
    height: 12px;
  }

  &.qc-icon-md {
    min-width: 20px;
    height: 20px;
  }

  &.qc-icon-lg {
    min-width: 40px;
    height: 40px;
  }

  &.qc-external-link {
    background-image: getImageUrl(external-link);
  }

  &.qc-warning {
    background-image: getImageUrl(warning);
  }

  &.qc-arrow-up-white {
    background-image: getImageUrl(arrow-up-white);
  }


  &.qc-clipboard {
    background-image: getImageUrl(clipboard);
  }

  &.qc-error {
    background-image: getImageUrl(error);
  }

  &.qc-error-white {
    background-image: getImageUrl(error-white);
  }

  &.qc-information {
    background-image: getImageUrl(information);
  }

  &.qc-information-white {
    background-image: getImageUrl(information-white);
  }

  &.qc-minus {
    background-image: getImageUrl(minus);
  }

  &.qc-plus {
    background-image: getImageUrl(plus);
  }

  &.qc-question-mark {
    background-image: getImageUrl(question-mark);
  }

  &.qc-success {
    background-image: getImageUrl(success);
  }
  &.qc-success-white {
    background-image: getImageUrl(success-white);
  }

  &.qc-xclose-white {
    width: 16px;
    height: 16px;
    min-width: 16px;
    background-image: getImageUrl(xclose-white);
  }
  &.qc-xclose-blue {
    width: 16px;
    height: 16px;
    min-width: 16px;
    background-image: getImageUrl(xclose-blue);
  }

  &.qc-chevron-blue,
  &.qc-chevron-white {
    width: 16px;
    min-width: 16px;
    height: 10px;
  }

  &.qc-chevron-blue {
    background-image: getImageUrl(chevron-blue);
  }

  &.qc-chevron-white {
    background-image: getImageUrl(chevron-white);
  }

  &.qc-facebook {
    background-image: getImageUrl(facebook);
  }

  &.qc-linkedin {
    background-image: getImageUrl(linkedin);
    height: 30px;
  }

  &.qc-twitter {
    background-image: getImageUrl(twitter);
  }

  &.qc-youtube {
    background-image: getImageUrl(youtube);
  }

  &.qc-warning-alert-icon {
    background-image: getImageUrl(warning);
  }

  &.qc-general-alert-icon {
    background-image: getImageUrl(information);
  }

  &.qc-search {
    background-image: getImageUrl(loupe-piv-droite);
  }
  &.qc-search-submit {
    background-image: getImageUrl(loupe-piv-fonce);
  }

}