@use "qc-sdg-lib" as *;

.qc-notice {
  max-inline-size: token-value(max-content-width);
  display: flex;
  border: 1px solid token-value(color,grey,light);
  background-color: token-value(color,white);
  word-break: break-word;
  @include content-font(sm);
  margin-bottom: rem(4 * $base-spacer);

  .icon-container {
    display: flex;  
    padding: token-value(spacer, md) token-value(spacer, xs);
    background-color: token-value(color,blue,pale);      

    .qc-icon {
      background-size: 100% auto;
      min-width: token-value(spacer, md);      
      height: token-value(spacer, md);
    }    
  }
  .content-container {
    width: 100%;
  }



  //TODO Quelle est la marge entre le titre et le texte? Rien de spécifié dans le SDG.
  .title {
    margin: 0;
    padding: 0;
    @include content-font(sm, bold);
    font-family: token-value(font, family, content); 
  }

  .content {
      margin:
          token-value(spacer notice my)
          token-value(spacer notice mx)
          token-value(spacer notice my)
          token-value(spacer, sm);

    .text {
      ::slotted(ul) {
        padding-left: token-value(spacer, sm) !important;
        margin-top: token-value(spacer, sm) !important;
      }
    }
  }
}

// Links in a error notice (eg. error summary)
qc-notice[type="error"] ul li a {
  color: token-value(color,red,regular);
  &:hover, &:focus {
    text-decoration: none;
  }  
}


@include media-mobile(){
  .qc-notice {
    .content {
      margin-right: token-value(spacer notice my);
    }
  }
}
