@use "../modules/tokens" as *;
@use "../modules/utils" as *;
@use "../modules/grid" as *;


qc-piv-header {
  display: block;
  min-height: rem(72);
  background-color: token-value(color, blue, piv);
  width: 100%;

  [slot=links] {
    @extend %piv-links;
  }
}

.qc-piv-header {
  color: token-value(color white);

  a {
    color: token-value(color white);
    text-decoration: none;

    &:hover, &:focus {
      color: token-value(color white);
      text-decoration: underline;
    }
  }

  .piv-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-right: rem(64);
      @include media-mobile() {
        margin: 0;
      }

      a {
        display: block;
      }

      img {
        height: rem(72);
        min-width: rem(200);
      }
    }

    .title {
      width: 100%;
      padding: token-value(spacer sm) 0;
      min-height: rem(72);
      align-items: center;
      display: flex;
      margin-right: rem(40);

      a {
        @include content-font(100);
        font-family: token-value(font, family, header);

        &:hover, &:focus {
          text-decoration: underline;
        }

        .description {
          font-size: token-value(font size sm);
        }
      }
    }

    .right-section {
      min-width: fit-content;
      display: flex;
      align-items: center;

      .links ul {
        @extend %piv-links;
      }

      @include media-mobile() {
        min-width: auto;
      }
    }

    .qc-search {
      min-width: rem(24);
      height: rem(24);
      span {
        @include sr-only();
      }
    }
  }

  .piv-bottom {
    .title {
      display: none;
    }
    .search-zone {
      padding-bottom: token-value(spacer md);
      form {
        .input-group {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          input {
            width: 100%;
            padding: rem(6) rem(12) ;
            border: 1px solid token-value(color blue dark);
            border-right: none;
            &:focus {
              outline: rem(2) solid token-value(color blue light);
              border-right: 1px solid black;
              z-index: 1;
            }
            &::placeholder {
              font-size: token-value(font size sm);
            }
          }
          button {
            display: flex;
            justify-content: center;
            border: 1px solid token-value(color blue dark);
            border-left: none;
            background-color: white;
            width: rem(2.6 * 16);
            &:focus{
              outline: rem(2) solid token-value(color blue light);
              border-left: 1px solid black;
            }
            .qc-search-submit {
              min-width: rem(24);
              height: rem(24);
              align-self: center;
            }
            .sr-description {
              position: absolute;
              width: 1px;
              height: 1px;
              clip: rect(0 0 0 0);
            }
          }

        }
      }
    }

  }
}


%piv-links {
  &, & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-left: token-value(spacer md);
    @include media-mobile() {
      margin-left: token-value(spacer sm);
    }

    li {
      padding: 0;
      margin: 0;
      @include content-font(sm);
    }

    a {
      font-family: token-value(font family header);
      text-decoration: none;
      font-size: rem(12);
      color: token-value(color white);
      font-weight: token-value(font weight regular);

      &:focus, &:hover {
        text-decoration: underline;
        color: token-value(color white);
      }
    }
  }
}

.go-to-content {
  display: flex;
  height: 0;

  a {
    @include sr-only();

    &:focus {
      width: inherit;
      height: inherit;
      overflow: inherit;
      clip: inherit;
      white-space: inherit;
      color: token-value(color white);
      background-color: token-value(color blue piv);
    }
  }
}


@include media-tablet() {
  .qc-piv-header {
    .piv-top {
      .logo img {
        min-width: rem(175);
        width: rem(175);
      }

      .title {
        display: none;
      }

      .right-section {
        min-width: rem(130);
      }
    }

    .piv-bottom {
      .title {
        margin: 0;
        display: flex;
        padding-bottom: token-value(spacer sm);
      }
    }
  }
}

@include media-mobile() {
  .qc-piv-header {
    .piv-top {
      height: rem(72);

      .right-section {
        min-width: fit-content;
      }
    }
  }
}
