@use "../modules/tokens" as *;
@use "../modules/utils" as *;


qc-piv-footer {

  ul {
    margin: 0 0 token-value(spacer sm) 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 token-value(spacer sm) token-value(spacer xs);
      margin: 0;
      text-align: center;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

