@use "qc-sdg-lib" as *;

qc-piv-footer {
  margin-top: rem(40);
  padding-bottom: rem(4 * $base-spacer);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include content-font(sm);

  ul {
    max-inline-size: none;
    margin: 0 0 token-value(spacer sm) 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 token-value(spacer sm) token-value(spacer xs);
      margin: 0;
      text-align: center;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

.qc-piv-footer {
  margin-top: rem(40);
  padding-bottom: rem(4 * $base-spacer);
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    margin-top: rem(32);
  }

  svg {
    fill: token-value(color text primary)
  }

}

