@use "../lib/functions" as *;
@use "../lib/mixins" as *;

%radio-style {
  display: flex;
  align-items: center;
  height: token-value(spacer, md);
  margin: 0;

  // Reference pour le style: https://www.scottohara.me/blog/2021/09/24/custom-radio-checkbox-again.html
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    display: flex;
    position: relative;

    margin-right: token-value(spacer, xs);
    margin-top: 0;
    margin-left: 0;

    background-color: token-value(color, white);
    border-style: solid;
    border-color: token-value(color, blue, dark);
    border-radius: 100%;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      overflow: hidden;
    }

    &:focus {
      outline: rem(2) solid token-value(color, blue, light);
      outline-offset: 0;
      border-color: token-value(color, blue, dark) !important;
    }

    &:checked {
      border-color: token-value(color, blue, regular);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: token-value(color, grey, light);
    }

    &:disabled+label {
      color: token-value(color, grey, regular);
      cursor: not-allowed;
    }
  }

  label {
    display: flex;
    align-items: end;
    cursor: pointer;
    margin-right: token-value(spacer, xs);
    margin-bottom: 0;
    @include content-font(md);
  }
}

input[type=radio]::before {
  height: 0;
  width: 0;
}

.qc-radio-sm {
  @extend %radio-style;

  input {
    width: token-value(spacer, sm);
    height: token-value(spacer, sm);
    border-width: rem(1);
  }

  input[type=radio]:checked::before {
    // Rayon de l'espace entre la bordure et l'interieur
    border: rem(5) solid transparent;
    border-radius: 100%;
    background: token-value(color, blue, regular);
  }
}

.qc-radio-md {
  @extend %radio-style;

  input {
    width: token-value(spacer, md);
    height: token-value(spacer, md);
    border-width: rem(2);
  }

  input[type=radio]:checked::before {
    // Rayon de l'espace entre la bordure et l'interieur
    border: rem(7) solid transparent;
    border-radius: 100%;
    background: token-value(color, blue, regular);
  }
}
