@use "../lib/functions" as *;
@use "../lib/mixins" as *;

%radio-fieldset {
  display: flex;
  flex-direction: column;
  border: none;

  legend {
    margin-left: token-value(spacer, xs);
    margin-bottom: 0;
  }

  .qc-radio-invalid  {
    display: none;
  }

  &:has(input:user-invalid) {
    .qc-radio-invalid {
      display: flex;
      color: token-value(color, red, regular);
      margin-left: token-value(spacer, xs);
      align-items: center;

      p {
        margin-left: token-value(spacer, xs);
        margin-bottom: 0;
        align-items: center;
      }
    }
  }
}

.qc-radio-fieldset-sm {
  @extend %radio-fieldset;
  @include content-font(sm, bold);
  .qc-radio-invalid {
    margin-top: rem(16);
  }
}

.qc-radio-fieldset-md {
  @extend %radio-fieldset;
  @include content-font(md, bold);
  .qc-radio-invalid {
    margin-top: rem(24);
  }
}

.radio-options {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: token-value(spacer, sm);
}
