@use "qc-sdg-lib" as *;
@use "checkMixin" as *;

.qc-radio-tile-parent {
  display: flex;
  flex-grow: 1;
}

.qc-radio-tile {
  @include check-style(radio, sm);
  display: flex;
  flex-grow: 1;
  align-items: start !important;
  padding: token-value(spacer, sm);
  @include qc-formcontrol-box();

  &::before {
    border-style: solid;
    border-width: rem(1);
    border-color: token-value(color, grey, light);
  }

  &:not(:has(input:disabled)):hover::before {
    border-color: token-value(color, blue, light);
    cursor: pointer;
  }

  &:has(input:checked)::before {
    background-color: token-value(color, blue, pale);
  }

  &:has(input:disabled)::before {
    color: token-value(color, grey, regular);
    background-color: token-value(color, grey, pale);
    cursor: not-allowed;
  }

  input[type=radio] {
    margin-right: token-value(spacer, xs);
    margin-top: rem(4);

    &::before {
      width: rem(10);
      height: rem(10);
    }

    &:focus::before {
      outline: none !important;
    }
  }
}

.qc-radio-tile-label-span {
  display: flex;
  flex-direction: column;
  row-gap: token-value(spacer, xs);
}

.qc-radio-tile-label-choice {
  @include content-font(md, semi-bold);
  min-height: token-value(spacer, md);
}

.qc-radio-tile-label-description {
  @include content-font(sm);
}
