@use "../lib/functions" as *;

%radio-style {
  // Reference pour le style: https://www.scottohara.me/blog/2021/09/24/custom-radio-checkbox-again.html
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    display: inline-block;
    position: relative;


    background-color: token-value(color, white);
    border-style: solid;
    border-color: token-value(color, blue, dark);
    border-radius: 100%;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }

    &:focus {
      outline: rem(2) solid token-value(color, blue, light);
    }

    &:disabled {
      border-color: (token-value(color, grey, light));
    }
  }
}

input[type=radio]::before {
  height: 0;
  width: 0;
}

.qc-radio-sm {
  @extend %radio-style;
  input {
    width: rem(16);
    height: rem(16);
    border-width: rem(1);
  }

  input[type=radio]:checked::before {
    // Espace entre la bordure et l'interieur
    border: rem(5) solid transparent;
    border-radius: 100%;
    background: token-value(color, blue, regular);
  }
}

.qc-radio-md {
  @extend %radio-style;
  input {
    width: rem(24);
    height: rem(24);
    border-width: rem(2);
  }

  input[type=radio]:checked::before {
    // Espace entre la bordure et l'interieur
    border: rem(7) solid transparent;
    border-radius: 100%;
    background: token-value(color, blue, regular);
  }
}
