@use "../lib/functions" as *;
@use "../lib/mixins" as *;

%radio-fieldset {
  //display: flex;
  border: none;

  legend {
    display: flex;
    margin-left: token-value(spacer, xs);
    margin-bottom: 0;
  }
}

.qc-radio-fieldset-sm {
  @extend %radio-fieldset;
  @include content-font(sm, bold);
}

.qc-radio-fieldset-md {
  @extend %radio-fieldset;
  @include content-font(md, bold);
}

.radio-options {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: token-value(spacer, sm);
}

.radio-required {
  color: token-value(color, red, regular);
}