@use "qc-sdg-lib" as *;

qc-textfield {
  display: block;
  width: 100%;
  max-width: rem(548);
}

.qc-textfield {
  @extend %qc-formcontrol-box;
  position: relative;
  margin-bottom: rem(24);

  &::before {
    border: 1px solid token-value(color formfield border);
  }

  input[type=text],
  textarea {
    display: block;
    position: relative;
    color: token-value(color text primary);
    width: 100%;
    background: transparent;
    padding: rem(8) rem(8);
    border: 0;

    &::placeholder {
      color: token-value(color grey medium);
      font-weight: normal;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  textarea {
    min-height: rem(108);
    resize: vertical;
  }

  // Tailles
  &--sm { width: rem(63); }  // 5ch
  &--md { width: rem(156); } // 16ch
  &--lg { width: rem(249); } // 26ch
  &--xl { width: rem(528); } // 58ch
  &--xxl { width: 100%; }

  // Gestion des erreurs
  &.error {
    &::before {
      border-color: token-value(color, red, regular);
      border-width: 2px;
    }
  }
}

// Conteneur
.qc-textfield-container {
  display: flex;
  flex-direction: column;
  gap: token-value(spacer, xs);
  margin-bottom: token-value(spacer, md);
}


// Indicateur requis
.qc-textfield-required {
  color: token-value(color, red, regular);
  margin-left: token-value(spacer, xs);
}

// Indice
.qc-textfield-description {
  font-size: token-value(font, size, sm);
  color: token-value(color, grey, medium);
}

// Message d'erreur
.qc-textfield-error-message {
  display: none;
  margin-top: rem(4);
  color: token-value(color, red, regular);
  font-size: rem(14);

  .error & {
    display: block;
  }
}