@use "qc-sdg-lib" as *;

qc-textfield {
  display: block;
  width: 100%;
}

.qc-textfield {
  @extend %qc-formcontrol-box;
  position: relative;

  &::before {
    border: 1px solid token-value(color formfield border);
  }

  input[type=text],
  textarea {
    display: block;
    position: relative;
    color: token-value(color text primary);
    width: 100%;
    background: transparent;
    padding: rem(8) rem(8);
    border: 0;
    margin-top: rem(4);

    &::placeholder {
      color: token-value(color grey medium);
      font-weight: normal;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  textarea {
    min-height: rem(108);
    resize: vertical;
  }

  // Tailles
  &--sm { width: rem(63); }
  &--md { width: rem(156); }
  &--lg { width: rem(249); }
  &--xl { width: rem(528); }
  &--xxl { width: 100%; max-width: rem(825); }

  // Gestion des erreurs
  &.error {
    &::before {
      border-color: token-value(color, red, regular);
      border-width: 2px;
    }
  }
}

// Conteneur
.qc-textfield-container {
  margin-bottom: rem(32); // Il n'y a pas de token pour 32px

  label {
    margin: 0;
  }
}

.qc-textfield-container.disabled {
  label {
    color: token-value(color, grey, regular);
    cursor: not-allowed;
  }
}

// Required
.qc-textfield-required {
  color: token-value(color, red, regular);
  margin-left: rem(4);
}

// Description
.qc-textfield-description {
  font-size: token-value(font, size, sm);
  color: token-value(color, grey, medium);
}

// Disabled
.qc-textfield.disabled {
  &::before {
    border: 1px solid token-value(color, grey, regular);
    background-color: token-value(color, grey, pale);
  }

  input[type="text"],
  textarea {
    color: token-value(color, grey, medium);
    cursor: not-allowed;
  }
}

// Message d'erreur
.qc-textfield-error-message {
  margin-top: rem(4);
  color: token-value(color, red, regular);

  .error & {
    display: block;
  }
}

// Compteur de caractère
.qc-textfield-charcount {
  text-align: right;
  color: token-value(color, grey, medium);
  font-size: token-value(font, size, sm);

  &.max-reached {
    color: token-value(color, red, regular);
    font-weight: bold;
  }
}

