@use "qc-sdg-lib" as *;

.qc-switch {
  display: inline-block;
  position: relative;
  width: rem(56);
  height: rem(32);

  input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .qc-switch-slider {
      background-color: token-value(color, blue, regular);

      &::before {
        transform: translateX(rem(24));
      }
    }
  }
}

.qc-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: token-value(color, grey, light);
  transition: all .3s ease-out;
  border-radius: token-value(spacer, sm);

  &::before {
    position: absolute;
    content: "";
    height: rem(28);
    width: rem(28);
    left: rem(2);
    bottom: rem(2);
    background-color: token-value(color, white);
    border-radius: 50%;
    transition: all .3s ease-out;
  }
}