@use "qc-sdg-lib" as *;
@use "sass:math";

$width: 56;
$height: 32;
$border: 2;

.qc-switch {
  display: flex;
  align-items: center;
  gap: token-value(spacer, sm);
  position: relative;
  cursor: pointer;

  input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;

    position: absolute;

    &:checked ~ .qc-switch-slider {
      background-color: token-value(color, blue, regular);

      &::before {
        transform: translateX(rem($width - $height));
      }
    }

    &:focus ~ .qc-switch-slider {
      outline: rem(2) solid token-value(color, blue, light);
      outline-offset: rem(2);
    }
  }

  &.qc-switch-justify {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.qc-switch-slider {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  width: rem($width);
  height: rem($height);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: token-value(color, grey, light);
  transition: background-color .3s ease-out;
  border-radius: rem(math.div($height, 2));

  &::before {
    position: absolute;
    content: "";
    height: rem($height - 2 * $border);
    width: rem($height - 2 * $border);
    left: rem($border);
    bottom: rem($border);
    background-color: token-value(color, white);
    border: rem(1) solid rgba(token-value(color, blue, dark, rgb), 50%);
    border-radius: 50%;
    transition: all .3s ease-out;
  }
}