@use "../../scss/qc-sdg-lib" as *;
@use "sass:math";

@mixin pivLinks() {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

//qc-piv-footer {
//  margin-top: rem(40);
//  padding-bottom: rem(40);
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//
//  @include content-font(sm);
//
//  ul {
//    max-inline-size: none;
//    margin: 0 0 token-value(spacer sm) 0;
//    padding: 0;
//    width: 100%;
//    display: flex;
//    list-style-type: none;
//    justify-content: center;
//    flex-wrap: wrap;
//
//    li {
//      padding: 0 token-value(spacer sm) token-value(spacer xs);
//      margin: 0;
//      text-align: center;
//    }
//  }
//
//  @include pivLinks();
//
//}
//
//.qc-piv-footer {
//  //margin-top: rem(40);
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//
//  @include pivLinks();
//
//  .logo {
//    display: block;
//    width: calc(var(--logo-width) * #{$rem-ratio}rem);
//    height: calc(var(--logo-height) * #{$rem-ratio}rem);
//    img {
//      width: 100%;
//      height: 100%;
//    }
//  }
//  .copyright {
//    margin-top: rem(8);
//  }
//
//}

