@use "settings/settings" as *;
@use "functions/utils" as *;
@use "modules/tokens" as *;
@use "modules/utils" as *;

qc-code {
  display: block;
  max-inline-size: token-value(max-content-width);
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  overflow: scroll;

  code, .qc-code {
    font-family: token-value(font, family, code);

    button {
      float: right;
      //position: absolute;
      right: token-value(spacer xs);
      top: token-value(spacer xs);
      padding: token-value(spacer xs) token-value(spacer sm) ;
      color : white;
      background-color: token-value(color blue piv);
      border: 1px solid;
      white-space: nowrap;
      transition: none!important;
      .copy {display: inline;}
      .copied {display: none;}
      &.copied {
        background-color: transparent!important;
        border-color: transparent!important;;
        box-shadow: none!important;
        color: token-value(color blue piv)!important;
        .copy {display: none;}
        .copied {
          display: inline;
          //animation: fadeout .5s;
        }
      }
    }
  }
}

@keyframes fadeout {
  0%,40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* + qc-code {
  margin-top: token-value(spacer md);
  & + * {
    margin-top: token-value(spacer lg);
  }
}
