@use "qc-sdg-lib" as *;

.exemple-area > figure {
  display: block;
  max-width: token-value(max-content-width);
  width: 100%;
  margin-bottom: token-value(spacer content-block mb);
  padding-bottom: 1px;
  .exemple {
    padding: token-value(spacer sm) token-value(spacer sm) token-value(spacer sm) token-value(spacer sm);
    @include qc-shading(0);

    & > *:last-child:not(qc-table):not(table.qc-table) {
      margin-bottom: 0;
    }
    // Conteneur utilisé dans l’exemple de tableau de données sans <qc-table>.
    .table-overflow-container {
      width: 100%;
      overflow-x: auto;
    }
  }

  & > figcaption {
    display: block;
  }
  &:has(qc-select, qc-tooltip) {
    overflow-x: visible;
  }
}

