@import "../../sass/variables/colors.variables";


/*Main palette background colours*/
.qc-bg-blue_piv {background-color: $qc-color-blue_piv;}
.qc-bg-pink {background-color: $qc-color-pink;}
.qc-bg-blue {background-color: $qc-color-blue;}
.qc-bg-light-blue {background-color: $qc-color-light-blue;}
.qc-bg-light-grey {background-color: $qc-color-light-grey;}
.qc-bg-dark-blue {background-color: $qc-color-dark-blue;}
.qc-bg-grey {background-color: $qc-color-grey;}
.qc-bg-red {background-color: $qc-color-errors;}
.qc-bg-green {background-color: $qc-color-validation;}