<qc-toggle-switch-group
        id="foo"
        max-width="25.6rem"
>
    <qc-toggle-switch
            label="1<sup>er</sup> &nbsp commutateur"
    ></qc-toggle-switch>
    <qc-toggle-switch
            label="Texte aligné sur la droite"
            text-align="end"
    ></qc-toggle-switch>
</qc-toggle-switch-group>

<qc-toggle-switch-group
        id="switch-group"
        legend="Préférences de notifications de messages"
        justified
        max-width="25.6rem"
>
    <qc-toggle-switch
            id="nouveaux-messages"
            label="Nouveaux messages"
            checked
    ></qc-toggle-switch>
    <qc-toggle-switch
            id="modifications-messages"
            label="Modifications de messages"
    ></qc-toggle-switch>
    <qc-toggle-switch
            id="messages-supprimes"
            label="Messages supprimés (désactivé)"
            disabled
    ></qc-toggle-switch>
</qc-toggle-switch-group>