<qc-dropdown-list
        id="dropdown-list-single-choice"
        label="Choix unique:"
>
  <qc-option value="1" selected>Option 1</qc-option>
  <qc-option value="2">Option 2</qc-option>
  <qc-option value="3">Option 3</qc-option>
  <qc-option value="4">Option 4</qc-option>
  <qc-option value="5">Option 5</qc-option>
  <qc-option value="6">Option 6</qc-option>
  <qc-option value="7">Option 7</qc-option>
  <qc-option value="8">Option 8</qc-option>
  <qc-option value="9">Option 9</qc-option>
  <qc-option value="10">Option 10</qc-option>
  <qc-option value="11">Option 11</qc-option>
  <qc-option value="12">Option 12</qc-option>
  <qc-option value="13">Option 13</qc-option>
  <qc-option value="14">Option 14</qc-option>
  <qc-option value="15">Option 15</qc-option>
  <qc-option value="16" disabled>Option 16 (désactivée)</qc-option>
</qc-dropdown-list>


<div style="height: 40rem;">
<qc-dropdown-list
        id="dropdown-list-single-choice-no-scroll"
        label="Choix unique avec recherche"
        enable-search
>
  <qc-option value="1" selected>Option 1</qc-option>
  <qc-option value="2">Option 2</qc-option>
  <qc-option value="3">Option 3</qc-option>
  <qc-option value="4">Option 4</qc-option>
  <qc-option value="5">Option 5</qc-option>
  <qc-option value="6">Option 6</qc-option>
  <qc-option value="7">Option 7</qc-option>
  <qc-option value="8">Option 8</qc-option>
  <qc-option value="9">Option 9</qc-option>
  <qc-option value="10">Option 10</qc-option>
  <qc-option value="11">Option 11</qc-option>
  <qc-option value="12">Option 12</qc-option>
  <qc-option value="13">Option 13</qc-option>
  <qc-option value="14">Option 14</qc-option>
  <qc-option value="15">Option 15</qc-option>
  <qc-option value="16">Option 16</qc-option>
</qc-dropdown-list>
</div>

<qc-dropdown-list
        id="dropdown-list-multiple-choices"
        label="Choix multiples"
        multiple
>
  <qc-option value="1">Option 1</qc-option>
  <qc-option value="2">Option 2</qc-option>
  <qc-option value="3">Option 3</qc-option>
  <qc-option value="4">Option 4</qc-option>
  <qc-option value="5">Option 5</qc-option>
  <qc-option value="6">Option 6</qc-option>
  <qc-option value="7">Option 7</qc-option>
  <qc-option value="8">Option 8</qc-option>
  <qc-option value="9">Option 9</qc-option>
  <qc-option value="10">Option 10</qc-option>
  <qc-option value="11">Option 11</qc-option>
  <qc-option value="12">Option 12</qc-option>
  <qc-option value="13">Option 13</qc-option>
  <qc-option value="14">Option 14</qc-option>
  <qc-option value="15">Option 15</qc-option>
  <qc-option value="16" disabled>Option 16 (désactivée)</qc-option>
</qc-dropdown-list>

<qc-dropdown-list
        id="dropdown-list-invalid"
        label="État invalide"
        invalid
>
  <qc-option value="1">Option 1</qc-option>
  <qc-option value="2">Option 2</qc-option>
  <qc-option value="3">Option 3</qc-option>
  <qc-option value="4">Option 4</qc-option>
  <qc-option value="5">Option 5</qc-option>
  <qc-option value="6">Option 6</qc-option>
  <qc-option value="7">Option 7</qc-option>
  <qc-option value="8">Option 8</qc-option>
  <qc-option value="9">Option 9</qc-option>
  <qc-option value="10">Option 10</qc-option>
  <qc-option value="11">Option 11</qc-option>
  <qc-option value="12">Option 12</qc-option>
  <qc-option value="13">Option 13</qc-option>
  <qc-option value="14">Option 14</qc-option>
  <qc-option value="15">Option 15</qc-option>
  <qc-option value="16" disabled>Option 16 (désactivée)</qc-option>
</qc-dropdown-list>

<qc-dropdown-list
        id="dropdown-list-disabled"
        label="Désactivé"
        disabled
></qc-dropdown-list>

<form id="dropdown-list-form">
  <qc-dropdown-list
          id="dropdown-list-restaurants"
          label="Type de restaurant"
          placeholder="Type de restaurant"
          enable-search
          search-placeholder="Rechercher un type restaurant"
          required
          invalid-text="Veuillez choisir un type de restaurant."
  >
    <qc-option value="Pizzeria">Pizzeria</qc-option>
    <qc-option value="Pâtisserie">Pâtisserie</qc-option>
    <qc-option value="Steakhouse">Steakhouse</qc-option>
    <qc-option value="Bar">Bar</qc-option>
    <qc-option value="Casse-croûte">Casse-croûte</qc-option>
    <qc-option value="Boîte à pâtes">Boîte à pâtes</qc-option>
    <qc-option value="Restaurant à burgers">Restaurant à burgers</qc-option>
  </qc-dropdown-list>

  <qc-dropdown-list
          id="dropdown-list-regions"
          label="Régions desservies"
          placeholder="Sélectionner une région"
          width="lg"
          enable-search
          search-placeholder="Rechercher les régions"
          multiple
  >
    <qc-option value="Capitale-nationale">Capitale-nationale</qc-option>
    <qc-option value="Centre-du-Québec" selected>Centre-du-Québec</qc-option>
    <qc-option value="Montérégie" selected>Montérégie</qc-option>
    <qc-option value="Outaouais">Outaouais</qc-option>
    <qc-option value="Saguenay-Lac-Saint-Jean">Saguenay-Lac-Saint-Jean</qc-option>
    <qc-option value="Gaspésie-Îles-de-la-Madeleine">Gaspésie-Îles-de-la-Madeleine</qc-option>
    <qc-option value="Nord-du-Québec">Nord-du-Québec</qc-option>
    <qc-option value="Bas-Saint-Laurent">Bas-Saint-Laurent</qc-option>
  </qc-dropdown-list>

  <button type="submit" class="qc-button qc-primary qc-compact">Envoyer</button>
</form>

<script>
  const dropdownListForm = document.getElementById("dropdown-list-form");

  dropdownListForm.addEventListener("submit", (event) => {
    event.preventDefault();

    let isValid = true;

    const requiredFields = dropdownListForm.querySelectorAll("qc-dropdown-list[required]");

    requiredFields.forEach(field => {
      const value = field.value?.trim();

      if (!value) {
        field.invalid = true;
        isValid = false;
      } else {
        field.invalid = false;
      }
    });

    if (isValid) {
      const formEntries = dropdownListForm.querySelectorAll("qc-dropdown-list");
      let alertParts = ["Formulaire soumis avec les données suivantes :"];
      formEntries.forEach((field) => {
        alertParts.push(`${field.label}: ${field.value}`);
      });
      alert(alertParts.join("\n"));
    }
  });
</script>