<qc-select id="qc-select-single-choice">
  <label for="select-single-choice">Choix unique</label>
  <select id="select-single-choice">
    <option value="1" selected>Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
    <option value="6">Option 6</option>
    <option value="7">Option 7</option>
    <option value="8">Option 8</option>
    <option value="9">Option 9</option>
    <option value="10">Option 10</option>
    <option value="11">Option 11</option>
    <option value="12">Option 12</option>
    <option value="13">Option 13</option>
    <option value="14">Option 14</option>
    <option value="15">Option 15</option>
    <option value="16" disabled>Option 16 (désactivée)</option>
  </select>
</qc-select>

<div style="height: 40rem;">
  <qc-select id="qc-select-single-choice-search" enable-search>
    <label for="select-single-choice-search">Choix unique avec recherche</label>
    <select id="select-single-choice-search">
      <option value="1" selected>Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
      <option value="6">Option 6</option>
      <option value="7">Option 7</option>
      <option value="8">Option 8</option>
      <option value="9">Option 9</option>
      <option value="10">Option 10</option>
      <option value="11">Option 11</option>
      <option value="12">Option 12</option>
      <option value="13">Option 13</option>
      <option value="14">Option 14</option>
      <option value="15">Option 15</option>
      <option value="16" >Option 16</option>
    </select>
  </qc-select>
</div>

<qc-select id="qc-select-multiple-choices">
  <label for="select-multiple-choices">Choix multiples</label>
  <select multiple id="select-multiple-choices">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
    <option value="6">Option 6</option>
    <option value="7">Option 7</option>
    <option value="8">Option 8</option>
    <option value="9">Option 9</option>
    <option value="10">Option 10</option>
    <option value="11">Option 11</option>
    <option value="12">Option 12</option>
    <option value="13">Option 13</option>
    <option value="14">Option 14</option>
    <option value="15">Option 15</option>
    <option value="16" disabled>Option 16 (désactivée)</option>
  </select>
</qc-select>

<div class="qc-formfield-row">
  <qc-select id="qc-select-invalid" invalid>
    <label for="select-invalid">État invalide</label>
    <select multiple id="select-invalid">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
      <option value="6">Option 6</option>
      <option value="7">Option 7</option>
      <option value="8">Option 8</option>
      <option value="9">Option 9</option>
      <option value="10">Option 10</option>
      <option value="11">Option 11</option>
      <option value="12">Option 12</option>
      <option value="13">Option 13</option>
      <option value="14">Option 14</option>
      <option value="15">Option 15</option>
      <option value="16">Option 16</option>
    </select>
  </qc-select>

  <qc-select id="qc-select-single-choice-other">
    <label for="select-single-choice-other">Autre choix</label>
    <select id="select-single-choice-other">
      <option value="1" selected>Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
      <option value="6">Option 6</option>
      <option value="7">Option 7</option>
      <option value="8">Option 8</option>
      <option value="9">Option 9</option>
      <option value="10">Option 10</option>
      <option value="11">Option 11</option>
      <option value="12">Option 12</option>
      <option value="13">Option 13</option>
      <option value="14">Option 14</option>
      <option value="15">Option 15</option>
      <option value="16" disabled>Option 16 (désactivée)</option>
    </select>
  </qc-select>
</div>

<qc-select id="qc-select-disabled">
  <label for="select-disabled">Désactivé</label>
  <select id="select-disabled" disabled>disabled</select>
</qc-select>

<form id="dropdown-list-form">
  <qc-select
          id="dropdown-list-restaurants"
          placeholder="Types de restaurants"
          enable-search
          search-placeholder="Rechercher un type restaurant"
          required
          invalid-text="Veuillez choisir un type de restaurant."
  >
    <label for="dropdown-list-restaurants-select">Types de restaurants</label>
    <select id="dropdown-list-restaurants-select">
      <option value="">Types de restaurants</option>
      <option value="Pizzeria">Pizzeria</option>
      <option value="Pâtisserie">Pâtisserie</option>
      <option value="Steakhouse">Steakhouse</option>
      <option value="Bar">Bar</option>
      <option value="Casse-croûte">Casse-croûte</option>
      <option value="Boîte à pâtes">Boîte à pâtes</option>
      <option value="Restaurant à burgers">Restaurant à burgers</option>
    </select>
  </qc-select>

  <qc-select
          id="dropdown-list-regions"
          placeholder="Sélectionner une région"
          width="lg"
          enable-search
          search-placeholder="Rechercher les régions"
  >
    <label for="dropdown-list-regions-select">Régions desservies</label>
    <select id="dropdown-list-regions-select" multiple>
      <option value="Capitale-nationale">Capitale-nationale</option>
      <option value="Centre-du-Québec" selected>Centre-du-Québec</option>
      <option value="Montérégie" selected>Montérégie</option>
      <option value="Outaouais">Outaouais</option>
      <option value="Saguenay-Lac-Saint-Jean">Saguenay-Lac-Saint-Jean</option>
      <option value="Gaspésie-Îles-de-la-Madeleine">Gaspésie-Îles-de-la-Madeleine</option>
      <option value="Nord-du-Québec">Nord-du-Québec</option>
      <option value="Bas-Saint-Laurent">Bas-Saint-Laurent</option>
    </select>
  </qc-select>

  <button id="qc-select-form-test-submit" type="submit" class="qc-button qc-primary qc-compact">Envoyer</button>
</form>

<script>
  const dropdownListForm = document.getElementById("dropdown-list-form");

  dropdownListForm.addEventListener("submit", (event) => {
    event.preventDefault();

    let isValid = true;
    const requiredFields = dropdownListForm.querySelectorAll("qc-select[required]");

    requiredFields.forEach(field => {
      const value = field.value;

      if (!value || value.length <= 0) {
        field.invalid = true;
        isValid = false;
      } else {
        field.invalid = false;
      }
    });

    if (isValid) {
      const formEntries = dropdownListForm.querySelectorAll("qc-select");
      let alertParts = ["Formulaire soumis avec les données suivantes :"];
      formEntries.forEach((field) => {
        alertParts.push(`${field.label}: ${field.value.join(", ")}`);
      });
      alert(alertParts.join("\n"));
    }
  });
</script>
