<qc-search-input
        placeholder="Rechercher un article"
        aria-label="Rechercher un article"
        clear-aria-label="Effacer le texte"
        left-icon
></qc-search-input>

<br>

<qc-search-input
        value="Climat"
        placeholder="Rechercher un sujet"
        aria-label="Rechercher un sujet"
        clear-aria-label="Effacer le texte"
        left-icon
></qc-search-input>

<br>

<qc-search-input
        placeholder="Recherche désactivée"
        aria-label="Recherche désactivée"
        disabled
        left-icon
        clear-aria-label="Effacer le texte"
></qc-search-input>