@use "../../scss/qc-sdg-lib" as *;

.qc-form-error {
  display: flex;
  color: token-value(color, red, regular);
  align-items: center;
  font-weight: token-value(font weight content medium);
  > * {
    margin-top: token-value(spacer, sm);
  }
  .qc-icon {
      display: flex;
      align-items: center;
      margin-right: token-value(spacer, xs);
      --error-icon-width: #{rem(24)}!important;
      --error-icon-height: #{rem(21)}!important;
  }
}
