.qc-h6, .qc-h5, .qc-h4, .qc-h3, .qc-h2, .qc-h1 {
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  color: #223654;
  font-family: "Roboto", sans-serif;
}

.qc-h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 75rem) {
  .qc-h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.qc-h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #f09686;
}

.qc-h2 {
  font-size: 2.188rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h2 {
    font-size: 1.813rem;
    line-height: 2rem;
  }
}

.qc-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h3 {
    font-size: 1.563rem;
    line-height: 2rem;
  }
}

.qc-h4 {
  font-size: 1.313rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.qc-h5 {
  font-size: 1.188rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-surtitre {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #647287;
  margin-top: 0;
  margin-bottom: 0;
}

.qc-sd-elevation {
  width: 7rem;
  height: 7rem;
  border-radius: 0;
  background-color: #fff;
  margin: 1rem 0 2rem 0;
  text-align: center;
  line-height: 7rem;
  font-size: 0.875rem;
  font-weight: 600;
}

p.qc-sd-elevation-0 {
  border: 0.063rem solid #c5cad2;
}

p.qc-sd-elevation-1 {
  box-shadow: 0 0.063rem 0.25rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-2 {
  box-shadow: 0 0.125rem 0.5rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-3 {
  box-shadow: 0 0.25rem 1rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-4 {
  box-shadow: 0 0.25rem 1.5rem;
  color: #223654;
  opacity: 24%;
}

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6F15M.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6F15M.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuk6F15M.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWu06F15M.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtk6F15M.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06F15M.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6F15M.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6F15M.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuk6F15M.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWu06F15M.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtk6F15M.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06F15M.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6F15M.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6F15M.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuk6F15M.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWu06F15M.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtk6F15M.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06F15M.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.qc-h1, .qc-h2, .qc-h3, .qc-h4, .qc-h5, .qc-h6 {
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  color: #223654;
  font-family: "Roboto", sans-serif;
}

.qc-h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 75rem) {
  .qc-h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.qc-h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #f09686;
}

.qc-h2 {
  font-size: 2.188rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h2 {
    font-size: 1.813rem;
    line-height: 2rem;
  }
}

.qc-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h3 {
    font-size: 1.563rem;
    line-height: 2rem;
  }
}

.qc-h4 {
  font-size: 1.313rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.qc-h5 {
  font-size: 1.188rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-surtitre {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #647287;
  margin-top: 0;
  margin-bottom: 0;
}

.qc-sd-elevation {
  width: 7rem;
  height: 7rem;
  border-radius: 0;
  background-color: #fff;
  margin: 1rem 0 2rem 0;
  text-align: center;
  line-height: 7rem;
  font-size: 0.875rem;
  font-weight: 600;
}

p.qc-sd-elevation-0 {
  border: 0.063rem solid #c5cad2;
}

p.qc-sd-elevation-1 {
  box-shadow: 0 0.063rem 0.25rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-2 {
  box-shadow: 0 0.125rem 0.5rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-3 {
  box-shadow: 0 0.25rem 1rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-4 {
  box-shadow: 0 0.25rem 1.5rem;
  color: #223654;
  opacity: 24%;
}

.qc-h1, .qc-h2, .qc-h3, .qc-h4, .qc-h5, .qc-h6 {
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  color: #223654;
  font-family: "Roboto", sans-serif;
}

.qc-h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 75rem) {
  .qc-h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.qc-h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #f09686;
}

.qc-h2 {
  font-size: 2.188rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h2 {
    font-size: 1.813rem;
    line-height: 2rem;
  }
}

.qc-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h3 {
    font-size: 1.563rem;
    line-height: 2rem;
  }
}

.qc-h4 {
  font-size: 1.313rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.qc-h5 {
  font-size: 1.188rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-surtitre {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #647287;
  margin-top: 0;
  margin-bottom: 0;
}

.qc-sd-elevation {
  width: 7rem;
  height: 7rem;
  border-radius: 0;
  background-color: #fff;
  margin: 1rem 0 2rem 0;
  text-align: center;
  line-height: 7rem;
  font-size: 0.875rem;
  font-weight: 600;
}

p.qc-sd-elevation-0 {
  border: 0.063rem solid #c5cad2;
}

p.qc-sd-elevation-1 {
  box-shadow: 0 0.063rem 0.25rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-2 {
  box-shadow: 0 0.125rem 0.5rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-3 {
  box-shadow: 0 0.25rem 1rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-4 {
  box-shadow: 0 0.25rem 1.5rem;
  color: #223654;
  opacity: 24%;
}

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  list-style: disc;
  padding: 0 0 0.8rem 1.9rem;
}
ul li {
  padding: 0 0 1.6rem 0;
  margin: 0;
  color: #223654;
  line-height: 1.5rem;
}
ul li ul {
  list-style: circle;
}

.qc-container {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .qc-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .qc-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .qc-container {
    max-width: 960px;
  }
}

.qc-container-fluid, .qc-container-desktop, .qc-container-tablet, .qc-container-mobile {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .qc-container-mobile {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .qc-container-tablet, .qc-container-mobile {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .qc-container-desktop, .qc-container-tablet, .qc-container-mobile {
    max-width: 960px;
  }
}
.qc-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
}

.qc-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.qc-no-gutters > .qc-col,
.qc-no-gutters > [class*=qc-col-] {
  padding-right: 0;
  padding-left: 0;
}

.qc-col-desktop,
.qc-col-desktop-auto, .qc-col-desktop-12, .qc-col-desktop-11, .qc-col-desktop-10, .qc-col-desktop-9, .qc-col-desktop-8, .qc-col-desktop-7, .qc-col-desktop-6, .qc-col-desktop-5, .qc-col-desktop-4, .qc-col-desktop-3, .qc-col-desktop-2, .qc-col-desktop-1, .qc-col-tablet,
.qc-col-tablet-auto, .qc-col-tablet-12, .qc-col-tablet-11, .qc-col-tablet-10, .qc-col-tablet-9, .qc-col-tablet-8, .qc-col-tablet-7, .qc-col-tablet-6, .qc-col-tablet-5, .qc-col-tablet-4, .qc-col-tablet-3, .qc-col-tablet-2, .qc-col-tablet-1, .qc-col-mobile,
.qc-col-mobile-auto, .qc-col-mobile-12, .qc-col-mobile-11, .qc-col-mobile-10, .qc-col-mobile-9, .qc-col-mobile-8, .qc-col-mobile-7, .qc-col-mobile-6, .qc-col-mobile-5, .qc-col-mobile-4, .qc-col-mobile-3, .qc-col-mobile-2, .qc-col-mobile-1 {
  position: relative;
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

@media (min-width: 576px) {
  .qc-col-mobile {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-mobile-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-mobile-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-mobile-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-mobile-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-mobile-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-mobile-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-mobile-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-mobile-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-mobile-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-mobile-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-mobile-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-mobile-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-mobile-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-mobile-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-mobile-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-mobile-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-mobile-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-mobile-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-mobile-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-mobile-first {
    order: -1;
  }
  .qc-order-mobile-last {
    order: 13;
  }
  .qc-order-mobile-0 {
    order: 0;
  }
  .qc-order-mobile-1 {
    order: 1;
  }
  .qc-order-mobile-2 {
    order: 2;
  }
  .qc-order-mobile-3 {
    order: 3;
  }
  .qc-order-mobile-4 {
    order: 4;
  }
  .qc-order-mobile-5 {
    order: 5;
  }
  .qc-order-mobile-6 {
    order: 6;
  }
  .qc-order-mobile-7 {
    order: 7;
  }
  .qc-order-mobile-8 {
    order: 8;
  }
  .qc-order-mobile-9 {
    order: 9;
  }
  .qc-order-mobile-10 {
    order: 10;
  }
  .qc-order-mobile-11 {
    order: 11;
  }
  .qc-order-mobile-12 {
    order: 12;
  }
  .qc-offset-mobile-0 {
    margin-left: 0;
  }
  .qc-offset-mobile-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-mobile-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-mobile-3 {
    margin-left: 25%;
  }
  .qc-offset-mobile-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-mobile-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-mobile-6 {
    margin-left: 50%;
  }
  .qc-offset-mobile-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-mobile-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-mobile-9 {
    margin-left: 75%;
  }
  .qc-offset-mobile-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-mobile-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .qc-col-tablet {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-tablet-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-tablet-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-tablet-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-tablet-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-tablet-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-tablet-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-tablet-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-tablet-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-tablet-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-tablet-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-tablet-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-tablet-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-tablet-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-tablet-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-tablet-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-tablet-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-tablet-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-tablet-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-tablet-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-tablet-first {
    order: -1;
  }
  .qc-order-tablet-last {
    order: 13;
  }
  .qc-order-tablet-0 {
    order: 0;
  }
  .qc-order-tablet-1 {
    order: 1;
  }
  .qc-order-tablet-2 {
    order: 2;
  }
  .qc-order-tablet-3 {
    order: 3;
  }
  .qc-order-tablet-4 {
    order: 4;
  }
  .qc-order-tablet-5 {
    order: 5;
  }
  .qc-order-tablet-6 {
    order: 6;
  }
  .qc-order-tablet-7 {
    order: 7;
  }
  .qc-order-tablet-8 {
    order: 8;
  }
  .qc-order-tablet-9 {
    order: 9;
  }
  .qc-order-tablet-10 {
    order: 10;
  }
  .qc-order-tablet-11 {
    order: 11;
  }
  .qc-order-tablet-12 {
    order: 12;
  }
  .qc-offset-tablet-0 {
    margin-left: 0;
  }
  .qc-offset-tablet-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-tablet-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-tablet-3 {
    margin-left: 25%;
  }
  .qc-offset-tablet-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-tablet-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-tablet-6 {
    margin-left: 50%;
  }
  .qc-offset-tablet-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-tablet-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-tablet-9 {
    margin-left: 75%;
  }
  .qc-offset-tablet-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-tablet-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .qc-col-desktop {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .qc-row-cols-desktop-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-row-cols-desktop-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-row-cols-desktop-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-row-cols-desktop-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-row-cols-desktop-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .qc-row-cols-desktop-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-desktop-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .qc-col-desktop-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qc-col-desktop-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qc-col-desktop-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .qc-col-desktop-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qc-col-desktop-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qc-col-desktop-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .qc-col-desktop-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qc-col-desktop-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qc-col-desktop-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .qc-col-desktop-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qc-col-desktop-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qc-col-desktop-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .qc-order-desktop-first {
    order: -1;
  }
  .qc-order-desktop-last {
    order: 13;
  }
  .qc-order-desktop-0 {
    order: 0;
  }
  .qc-order-desktop-1 {
    order: 1;
  }
  .qc-order-desktop-2 {
    order: 2;
  }
  .qc-order-desktop-3 {
    order: 3;
  }
  .qc-order-desktop-4 {
    order: 4;
  }
  .qc-order-desktop-5 {
    order: 5;
  }
  .qc-order-desktop-6 {
    order: 6;
  }
  .qc-order-desktop-7 {
    order: 7;
  }
  .qc-order-desktop-8 {
    order: 8;
  }
  .qc-order-desktop-9 {
    order: 9;
  }
  .qc-order-desktop-10 {
    order: 10;
  }
  .qc-order-desktop-11 {
    order: 11;
  }
  .qc-order-desktop-12 {
    order: 12;
  }
  .qc-offset-desktop-0 {
    margin-left: 0;
  }
  .qc-offset-desktop-1 {
    margin-left: 8.3333333333%;
  }
  .qc-offset-desktop-2 {
    margin-left: 16.6666666667%;
  }
  .qc-offset-desktop-3 {
    margin-left: 25%;
  }
  .qc-offset-desktop-4 {
    margin-left: 33.3333333333%;
  }
  .qc-offset-desktop-5 {
    margin-left: 41.6666666667%;
  }
  .qc-offset-desktop-6 {
    margin-left: 50%;
  }
  .qc-offset-desktop-7 {
    margin-left: 58.3333333333%;
  }
  .qc-offset-desktop-8 {
    margin-left: 66.6666666667%;
  }
  .qc-offset-desktop-9 {
    margin-left: 75%;
  }
  .qc-offset-desktop-10 {
    margin-left: 83.3333333333%;
  }
  .qc-offset-desktop-11 {
    margin-left: 91.6666666667%;
  }
}
.qc-h1, .qc-h2, .qc-h3, .qc-h4, .qc-h5, .qc-h6 {
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  color: #223654;
  font-family: "Roboto", sans-serif;
}

.qc-h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 75rem) {
  .qc-h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.qc-h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #f09686;
}

.qc-h2 {
  font-size: 2.188rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h2 {
    font-size: 1.813rem;
    line-height: 2rem;
  }
}

.qc-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 75rem) {
  .qc-h3 {
    font-size: 1.563rem;
    line-height: 2rem;
  }
}

.qc-h4 {
  font-size: 1.313rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.qc-h5 {
  font-size: 1.188rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.qc-surtitre {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #647287;
  margin-top: 0;
  margin-bottom: 0;
}

.qc-sd-elevation {
  width: 7rem;
  height: 7rem;
  border-radius: 0;
  background-color: #fff;
  margin: 1rem 0 2rem 0;
  text-align: center;
  line-height: 7rem;
  font-size: 0.875rem;
  font-weight: 600;
}

p.qc-sd-elevation-0 {
  border: 0.063rem solid #c5cad2;
}

p.qc-sd-elevation-1 {
  box-shadow: 0 0.063rem 0.25rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-2 {
  box-shadow: 0 0.125rem 0.5rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-3 {
  box-shadow: 0 0.25rem 1rem;
  color: #223654;
  opacity: 24%;
}

p.qc-sd-elevation-4 {
  box-shadow: 0 0.25rem 1.5rem;
  color: #223654;
  opacity: 24%;
}

/*# sourceMappingURL=qc-sdg.css.map */
