@forward "settings/images";

$percent-root-font-size: 62.5 !default; // so 1.6rem == 16px
$img-dir: "../img";
$enable-dark-theme: true !default;
$base-spacer: 8 !default;
// for local fonts, cf https://google-webfonts-helper.herokuapp.com/fonts
$google-api-font: false !default;
$google-fonts : (
  roboto: (Roboto, sans-serif),
  open-sans: ('Open Sans', sans-serif),
  roboto-mono: ('Roboto Mono', monospace)
);
$google-font-path : "../fonts" !default;
$env: "build" !default;

$enable-grid-classes: true;
$grid-aliases: (
    large-desktop: lg,
    desktop: md,
    tablet: sm,
    mobile: xs
);

