$percent-root-font-size: 100 !default; // so 1rem == 16px
$img-dir: "../img";
$base-spacer: 8 !default;
// for local fonts, cf https://google-webfonts-helper.herokuapp.com/fonts
$google-api-font: true !default;
$google-fonts : (
  roboto: (Roboto, sans-serif),
  open-sans: ('Open Sans', sans-serif),
  roboto-mono: ('Roboto Mono', monospace)
);
