// ATTENTION: CE FICHIER EST GÉNÉRÉ AUTOMATIQUEMENT PAR SCRIPT.
// NE PAS MODIFIER MANUELLEMENT !
// Pour mettre à jour ce fichier, modifiez le fichier source JSON :
// src/sdg/scss/settings/grid.json
// Puis compilez avec la commande :
// $ yarn run build-grid-tokens

$grid-config: (
	lg: (
        gutter: 32px,
        breakpoint: (
            xs: 0,
            sm: 768px,
            md: 992px,
            lg: 1200px
        ),
        container-max-width: (
            sm: 768px,
            md: 992px,
            lg: 1200px
        )
    ),
	md: (
        gutter: 24px
    ),
	sm: (
        gutter: 16px
    )
);
