@use "qc-sdg-lib" as *;
@use "sass:math";

$min-height: 40;
$max-height: 370;
$border: 1;

.qc-dropdown-list {
  position: relative;
  border: rem($border) solid token-value(color, grey, medium);
  width: var(--dropdown-width);
  min-height: rem($min-height);
  background-color: token-value(color, background);
}

.qc-dropdown-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: rem($min-height);
  align-items: center;
  background-color: token-value(color, background);
  border: none;
  padding-left: token-value(spacer, xs);
  padding-right: token-value(spacer, xs);

  @include qc-formcontrol-box();
  @include content-font(md);
  color: token-value(color, grey, medium);

  &:hover {
    cursor: pointer;
  }
}

.qc-dropdown-button-icon {
  display: flex;
  align-items: center;
  rotate: 180deg;
  transition: transform .3s ease-out;
}

.qc-dropdown-button-icon-expanded {
  transform: rotate(180deg);
}

.qc-dropdown-list-items {
  position: absolute;
  max-height: rem($max-height - $min-height);
  width: calc(100% + 2px);
  left: -(rem($border));
  right: -(rem($border));
  top: 100%;
  z-index: 1;
  overflow-y: auto;

  background-color: token-value(color, background);
  border-left: rem($border) solid token-value(color, grey, medium);
  border-right: rem($border) solid token-value(color, grey, medium);
  border-bottom: rem($border) solid token-value(color, grey, medium);

  scrollbar-color: token-value(color, blue, regular) token-value(color, background);

  &::-webkit-scrollbar-track {
    background: token-value(color, background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: token-value(color, blue, regular);
  }


  .qc-check-row {
    height: rem($min-height);
    padding-left: token-value(spacer, xs);
    padding-top: token-value(spacer, xs);
  }

  *:hover {
    background-color: token-value(color, blue, pale);
  }
}
