// Menu bleu
.headline a{
  font-family: "Open Sans";
}
// Menu de gauche
#main {
  .menu-sec-wrapper {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    .menu-sec-title {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    .menu-sec {
      a,
      .menu-sec-item-lien,
      .menu-sec-subitem-lien,
      li {
        font-size: 1.6rem;
        line-height: 2.4rem;
        @media (min-width: 992px) {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
      button {
        &:focus {
          outline: none;
        }
      }
      .menu-sec-button {
        padding-left: 0;
        @media (max-width: 992px) {
          padding-right:0;
        }
      }

      // Sous-menu
      ul.menu-sec-submenu {
        padding-top: 1rem;
        padding-bottom: 1rem;

        li {
          padding: 0;

          .menu-sec-subitem-lien {
            padding: 0.8rem 0;
            display: block;
          }

          button {
            padding: 0;
            &.menu-sec-subButton {
              padding-right: 0.5rem;
              @media (max-width: 992px) {
                padding-right:0;
              }
            }

          }
          // Sous-sous-menu
          ul.menu-sec-subsubmenu {
            padding: 1rem 0 0 0;

            li {
              padding: 0 0 0.8rem 0;
              margin-left: 1.6rem;

              &:before {
                top: 10px;
              }
            }
          }
        }
      }
      @media (min-width: 992px) {
        padding-right:0;
      }
    }

    .menu-sec-item {
      padding: 0;
    }
  }
}
.menu-sec-liste{
  padding-bottom:2.4rem;
}
.menu-sec-mobile-button {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family:"Open Sans",sans-serif;
}

// fil d'ariane
.rangee-1 .row{
  padding-top: 1.6rem;
  padding-bottom: 7.2rem;
}

// Gabarits Québec.ca et surplus d'espacements
.container-fluid{
  padding:0;
}