@use "utils" as utils;
@use "tokens" as *;
@use "map" as *;
@use "sass:map";
@import "bootstrap";
$enable-grid-classes: utils.$enable-grid-classes;
$enable-deprecation-messages : false;
$grid-breakpoints: map.get($xl-tokens, grid, breakpoint);
$grid-gutter-width: map.get($xl-tokens, grid, gutter);
$container-max-widths: ();
@each $size, $val in map.keys(map.get($xl-tokens, grid , container-max-width)) {
  $container-max-widths: map.set($container-max-widths, $size, map.get($xl-tokens, grid ,container-max-width ,$size))
}
@debug $container-max-widths;

@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/deprecate";
@import "build/grid-framework";

@mixin media-tablet() {
  @include media-breakpoint-down(md) {
    @content;
  }
}

@mixin media-mobile() {
  @include media-breakpoint-down(xs) {
    @content;
  }
}


