@use "tokens" as *;

// typography

// toujours utiliser ces mixins pour la déclarations des tailles de police:
// cela garantit que la taille police est conforme aux exigences du SDG
// et ajoute automatiquement le bon interlignage
@mixin content-font($scale) {
  font-size: token-value(font,size, $scale) ;
  line-height: token-value(line-height, $scale) ;
}

@mixin header-font($header) {
  font-family:  token-value(font, family, header) ;
  font-size: token-value(font, size, $header) ;
  line-height:  token-value(line-height, $header) ;
  font-weight: token-value(font, weight, header, bold);
}

// links

@mixin hover-link() {
  color: token-value(color, link, hover);
  text-decoration: none;
}

@mixin active-link() {
  color: token-value(color, link, active);
}