@use "../../src/scss/settings/settings" as *;
@use "../../src/scss/functions/utils" as *;
@use "../../src/scss/modules/tokens" as *;
@use "../../src/scss/modules/utils" as *;
@use "../../src/scss/components/icons" as *;
@use "components/code" as *;
@use "components/button" as *;
@use "tables";

.color-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > div + div {
    margin-left: token-value(spacer,md);
  }
  & + & {
    margin-top: token-value(spacer,md);
  }
}

.color-sample {
  width: rem(6 * $base-spacer);
  height: rem(6 * $base-spacer);
  border-radius: 50%;
  flex-shrink: 0;
}
.title-samples {
  border: 1px solid token-value(color,grey,light);

  figure {
    width: 100%;
    padding: token-value(spacer,md) token-value(spacer,md);
    border-bottom: 1px solid token-value(color,grey,pale);

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    + figure {
      margin-top: token-value(spacer,md);
    }
  }
}

.font-titles {
  font-family: token-value(font,family,header);
}


#grid-samples {
  position: relative;
  text-align: center;
  margin-top: rem(6 * $base-spacer);
  margin-bottom: 5%;
  .qc-row {
    margin-top: token-value(spacer,md);
    > div > div {
      background-color: token-value(color,blue,piv);
      opacity: .7;
      height: 100%;
      color: white;
      padding: rem($base-spacer) 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  top: -5%;
  .qc-row > div > div {
    background-color: token-value(color,grey,pale);
  }
  div {
    height: 100%;
  }
}

.square-box {
  display: flex;
  width: rem(15 * $base-spacer);
  height: rem(15 * $base-spacer);
  justify-content: center;
  align-items: center;

  &.qc-shading-0 {
    border: 1px solid token-value(color,blue,pale)
  }
}

a {

  &.pseudo-hover {
    @include hover-link();
  }
  &.pseudo-active {
    @include active-link();
  }
  &.visited {
    color: token-value(color,link,visited);
  }
  &.not-visited:visited:not(:hover) {
    color: token-value(color,link,text);
  }
}

p,h1,h2,h3,h4,h5,h6 {
  hyphens: auto;
}

#piv-search-form {
  padding-bottom: token-value(spacer md);
  .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    input {
      width: 100%;
      padding: rem(6) rem(12) ;
      border: 1px solid black;
      border-right: none;
    }
    button {
      background-size: rem(24);
      border: 1px solid;
      border-left: none;
      min-height: rem(24);
      color: token-value(color blue piv);
      background-color: white;
      background-image: url("https://www.quebec.ca/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/loupe-piv-fonce.svg?v=1");
      background-repeat: no-repeat;
      background-position: rem(8) rem(6.4);
      width: rem( 2.6 * 16);
      span {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
      }
    }

  }
}

