<qc-textfield label="Très petit"
              size="xs">
    <input type="text"
           name="text-xs"
           placeholder="25"
    />
</qc-textfield>

<qc-textfield size="sm"
>
    <label for="text-sm">Petit</label>
    <input type="text"
           id="text-sm"
           name="text-sm"
           placeholder="25"
    />
</qc-textfield>

<qc-textfield label="Moyen"
              size="md"
              invalid
>
    <input type="text"
           name="text-md"
           placeholder="Long placeholder lorem ipsum dolor sit amet"
    />
</qc-textfield>

<qc-textfield name="text-lg"
              label="Large"
              size="lg"
              placeholder="Long placeholder lorem ipsum dolor sit amet"
              required>
    <input type="text"
           name="text-lg"
    />
</qc-textfield>

<qc-textfield
        label="Très large"
        size="xl"

>
    <input type="text"
           placeholder="Long placeholder lorem ipsum dolor sit amet"
           name="text-xl"
           disabled
    />
</qc-textfield>

<div class="qc-textfield-row">
    <qc-textfield
            label="Combiné 1"
            size="sm"
    >
        <input type="text"
               placeholder="Long placeholder lorem ipsum dolor sit amet"
               name="combo-1"
        />
    </qc-textfield>

    <qc-textfield
            label="Combiné 2"
            size="xs"
    >
        <input type="text"
               name="combo-2"
        />
    </qc-textfield>
</div>
<div class="qc-textfield-row">
    <qc-textfield
            label="Combiné 1 invalide"
            size="sm"
            invalid
    >
        <input type="text"
               name="invalid-combo-1"
        />
    </qc-textfield>

    <qc-textfield
            label="Combiné 2"
            size="xs"
            invalid
    >
        <input type="text"
               name="invalid-combo-2"
        />
    </qc-textfield>

</div>

<qc-textfield label="Commentaires"
              size="lg"
              description="Vous pouvez entrer des commentaires dans la zone de texte ci-dessous."
>
    <textarea name="zone-lg" id="zone-lg"></textarea>
</qc-textfield>

<qc-textfield
        label="Suggestions"
        description="Vous pouvez entrer des suggestions dans la zone de texte ci-dessous."
        size="xl"
        max-length="10"
        required
>
    <textarea name="zone-xl"></textarea>
</qc-textfield>

<qc-textfield label="Suggestions"
              description="Vous pouvez entrer des suggestions dans la zone de texte ci-dessous."
              size="xl"
              max-length="10"
              required
              invalid
>
    <textarea name="zone-xl-invalid"
              id="zone-xl-invalid"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit</textarea>
</qc-textfield>