<h2 id="selection-button">Boutons de sélection</h2>
<h3>Exemples</h3>

<qc-doc-exemple caption="Exemple de boutons radio au format de boutons de sélection avec différents états">
    <qc-radio-group legend="Choisissez une option :"
                    name="ex-radio-select"
                    tiled
                    column-count="2"
    >
        <qc-radio-button
                label="Option 1"
                value="1"
                checked
                description="Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection."
        ></qc-radio-button>
        <qc-radio-button
                label="Option 2"
                value="2"
        ></qc-radio-button>
        <qc-radio-button
                label="Option 3 (désactivée)"
                value="3"
                disabled
        ></qc-radio-button>
    </qc-radio-group>
</qc-doc-exemple>

<qc-doc-exemple
        caption="Exemple d’un groupe de cases à cocher au format de boutons de sélection avec différents états"
>
    <qc-checkbox-group
            name="exemple-checkbox-select"
            legend="Sélectionnez vos options"
            tiled
            column-count="2">
        <qc-checkbox
                label="Option 1"
                description="Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection."
        ></qc-checkbox>
        <qc-checkbox label="Option 2 cochée par défaut" checked="true"></qc-checkbox>
        <qc-checkbox label="Option 3 désactivée" disabled="true"></qc-checkbox>
    </qc-checkbox-group>
</qc-doc-exemple>

<qc-doc-exemple caption="Exemple de boutons radio au format de boutons de sélection sur une rangée">
    <qc-radio-group legend="Choisissez une option :"
                    name="ex-radio-select-inline"
                    tiled
                    inline
    >
        <qc-radio-button
                label="1"
                value="1"
                checked
        ></qc-radio-button>
        <qc-radio-button
                label="2"
                value="2"
        ></qc-radio-button>
        <qc-radio-button
                label="3"
                value="3"
        ></qc-radio-button>
        <qc-radio-button
                label="4"
                value="4"
        ></qc-radio-button>
        <qc-radio-button
                label="5"
                value="5"
        ></qc-radio-button>
        <qc-radio-button
                label="6"
                value="6"
        ></qc-radio-button>
    </qc-radio-group>
</qc-doc-exemple>

<h3 id="selection-button-attributes">Documentation technique</h3>
<p>Ces attributs sont appliqués à <code>qc-radio-group</code> et <code>qc-checkbox-group</code></p>
<div class="table-overflow">
    <table class="qc-table qc-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur attendue</th>
            <th>Valeur par défaut</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>tiled</td>
            <td>na</td>
            <td>na</td>
            <td>Affiche les boutons radio au format de boutons de sélection dans une grille</td>
        </tr>
        <tr>
            <td>column-count</td>
            <td>Nombre</td>
            <td>1</td>
            <td>Nombre de colonnes de la grille de boutons de sélection</td>
        </tr>
        <tr>
            <td>inline</td>
            <td>na</td>
            <td>na</td>
            <td>Affiche les boutons de sélection sur une rangée</td>
        </tr>
        </tbody>
    </table>
</div>

<p>
    Pour les attributs spécifiques à chaque variante de boutons de sélection, voir les attributs des
    <a href="#radio-button-attributes">boutons radio</a> et des <a href="#checkbox-attributes">cases à cocher</a>.
</p>
