
    <qc-checkbox-group legend="Boutons de sélection"
                    tiled
                    column-count="2"
                    name="tile-1"
    >
        <qc-checkbox
                label="Option 1"
                value="1"
                checked
                description="Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection."
        ></qc-checkbox>
        <qc-checkbox
                label="Option 2"
                value="2"
        ></qc-checkbox>
        <qc-checkbox
                label="Option 3 (désactivée)"
                value="3"
                disabled
        ></qc-checkbox>
    </qc-checkbox-group>

    <qc-checkbox-group legend="Boutons de sélection inline"
                    name="tile-2"
                    tiled
                    inline
                    column-count="2"
    >
        <qc-checkbox
                label="Option 1"
                value="1"
                checked

        ></qc-checkbox>
        <qc-checkbox
                label="Option 2"
                value="2"
        ></qc-checkbox>
        <qc-checkbox
                label="Option 3 (désactivée)"
                value="3"
                disabled
        ></qc-checkbox>
    </qc-checkbox-group>



    <div class="qc-row">
        <div class="qc-col-sm-12 qc-col-lg-6">
            <qc-checkbox name="consentement-1"
                         label="J’accepte les conditions d’utilisation"
                         value="oui"
                         required></qc-checkbox>

            <qc-checkbox name="consentement-2"
                         label="J’accepte les conditions d’utilisation"
                         value="oui"
                         invalid></qc-checkbox>

            <qc-checkbox-group legend="Exemple de base"
                            name="base-1"
            >
                <qc-checkbox
                        label="Option 1"
                        value="1"
                        checked
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 2"
                        value="2"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-checkbox>
            </qc-checkbox-group>

            <qc-checkbox-group legend="Invalid"
                            name="base-1"
                            invalid
            >
                <qc-checkbox
                        label="Option 1"
                        value="1"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 2"
                        value="2"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-checkbox>
            </qc-checkbox-group>
        </div>
        <div class="qc-col-sm-12 qc-col-lg-6">
            <qc-checkbox name="consentement-1"
                         label="J’accepte les conditions d’utilisation"
                         value="oui"
                         compact
                         required></qc-checkbox>

            <qc-checkbox name="consentement-2"
                         label="J’accepte les conditions d’utilisation"
                         value="oui"
                         compact
                         invalid></qc-checkbox>

            <qc-checkbox-group legend="Compact"
                            name="compact-1"
                            compact
            >
                <qc-checkbox
                        label="Option 1"
                        value="1"
                        checked
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 2"
                        value="2"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-checkbox>
            </qc-checkbox-group>

            <qc-checkbox-group legend="Invalid"
                            name="compact-2"
                            compact
                            invalid
            >
                <qc-checkbox
                        label="Option 1"
                        value="1"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 2"
                        value="2"
                ></qc-checkbox>
                <qc-checkbox
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-checkbox>
            </qc-checkbox-group>
        </div>
    </div>


