
    <qc-radio-group legend="Boutons de sélection"
                    tiled
                    column-count="2"
    >
        <qc-radio-button
                label="Option 1"
                value="1"
                checked
                description="Ceci est une <b>longue</b> description servant à montrer l'affichage des boutons de sélection."
        ></qc-radio-button>
        <qc-radio-button
                label="Option 2"
                value="2"
        ></qc-radio-button>
        <qc-radio-button
                label="Option 3 (désactivée)"
                value="3"
                disabled
        ></qc-radio-button>
    </qc-radio-group>

    <qc-radio-group legend="Boutons de sélection inline"
                    tiled
                    inline
                    column-count="2"
    >
        <qc-radio-button
                label="Option 1"
                value="1"
                checked

        ></qc-radio-button>
        <qc-radio-button
                label="Option 2"
                value="2"
        ></qc-radio-button>
        <qc-radio-button
                label="Option 3 (désactivée)"
                value="3"
                disabled
        ></qc-radio-button>
    </qc-radio-group>

    <div class="qc-row">
        <div class="qc-col-sm-12 qc-col-lg-6">
            <qc-radio-group legend="Exemple de base"
                            
            >
                <qc-radio-button
                        label="Option 1"
                        value="1"
                        checked
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 2"
                        value="2"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-radio-button>
            </qc-radio-group>

            <qc-radio-group legend="Invalid"
                            invalid
            >
                <qc-radio-button
                        label="Option 1"
                        value="1"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 2"
                        value="2"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-radio-button>
            </qc-radio-group>
        </div>
        <div class="qc-col-sm-12 qc-col-lg-6">
            <qc-radio-group legend="Compact"
                            
                            compact
            >
                <qc-radio-button
                        label="Option 1"
                        value="1"
                        checked
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 2"
                        value="2"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-radio-button>
            </qc-radio-group>

            <qc-radio-group legend="Invalid"
                            
                            compact
                            invalid
            >
                <qc-radio-button
                        label="Option 1"
                        value="1"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 2"
                        value="2"
                ></qc-radio-button>
                <qc-radio-button
                        label="Option 3 (désactivée)"
                        value="3"
                        disabled
                ></qc-radio-button>
            </qc-radio-group>
        </div>
    </div>


