@use "functions/utils" as *;
@use "tokens" as *;
@forward "settings/settings";
@forward "functions/utils";

// typography

// toujours utiliser ces mixins pour la déclarations des tailles de police:
// cela garantit que la taille police est conforme aux exigences du SDG
// et ajoute automatiquement le bon interlignage
@mixin content-font($scale: 'md', $weight: 'regular', $include-family: 0) {
  font-size: token-value(font size $scale);
  line-height: token-value(line-height $scale);
  font-weight: token-value(font weight $weight);
  @if $include-family == 1 {
    font-family: token-value(font family content);
  }
}

@mixin header-font($header) {
  font-family:  token-value(font, family, header) ;
  font-size: token-value(font, size, $header) ;
  line-height:  token-value(line-height, $header) ;
  font-weight: token-value(font, weight, header, bold);
}

// links

@mixin hover-link() {
  color: token-value(color, link, hover);
  text-decoration: none;
}

@mixin active-link() {
  color: token-value(color, link, active);
}

@mixin external-link-img() {
  max-height: rem(11);
  max-width: rem(11);
  margin-bottom: rem(1.6);
  display: inline-block;
}

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}