@use "variables" as *;
@use "base/function/colors" as *;
@use "base/function/utils" as *;
@use "sass:math";

blockquote {
  @include content-font(120);
  display: block;
  position: relative;
  color: #{color("blue","dark")};
  letter-spacing: -0.1px;
  font-weight: 600;
  margin: rem(2 * $base-spacer) 0;
  text-align: left;
  border-width: 0;

  &.qc-blockquote--grand {
    @include content-font(300);
    letter-spacing: -rem(2 * $base-spacer);

    &::before {
      transform: translate3d(-rem(2 * $base-spacer), 0, 0);
    }
  }

  p {
    font-size: inherit;
    margin: inherit;
    line-height: inherit;
    display: inline;
  }

  // Auteur
  & ~ p {
    display: block;
    position: relative;
    padding-left: rem(2 * $base-spacer);
    @include content-font(100);
    font-weight: 600;
    max-width: 85%;
    margin-left: rem(2 * $base-spacer);

    &:last-of-type {
      margin-bottom: rem(4 * $base-spacer);
    }

    & span {
      @include content-font(90);
      font-weight: 400;
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      top: rem(2 * $base-spacer); // todo $spacer-12
      display: block;
      width: rem(2 * $base-spacer);
      height: 1px;
      background: #{color("blue","dark")};
      transform: translate3d(-rem(4 * $base-spacer), 0, 0);
    }

    &:empty:before {
      display: none;
    }
  }

  &::before {
    position: absolute;
    transform: translate3d(-rem(2 * $base-spacer), 0, 0);
  }

  // Français
  &:lang(fr) {
    &:before {
      content: "«";
    }

    &:after {
      content: "»";
    }
  }

  // Anglais
  &:lang(en) {
    &::before, &::after {
      content: '"';
    }
  }
}
