@use "modules/tokens" as *;
@use "modules/utils" as *;

.qc-gallery {
  overflow: hidden;
  margin-top: rem($base-spacer);

  figure {
    display: table;
    margin: 0 0 rem(4 * $base-spacer) 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  figcaption {
    @include content-font(sm);
    display: table-caption;
    caption-side: bottom;
    background-color: token-value(color, grey, pale);
    padding: rem($base-spacer);
    margin-bottom: 0;
    margin-top: rem($base-spacer);

    p {
      @include content-font(md);
      margin-bottom: 0;
    }
  }
}

