@use "base/function/colors" as *;
@use "base/function/utils" as *;
@use "base/mixins/typography" as *;
@import "variables";

.qc-gallery {
  overflow: hidden;
  margin-top: rem($base-spacer);

  figure {
    display: table;
    margin: 0 0 rem(4 * $base-spacer) 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  figcaption {
    @include content-font(90);
    display: table-caption;
    caption-side: bottom;
    background-color: #{color("grey","pale")};
    padding: rem($base-spacer);
    margin-bottom: 0;
    margin-top: rem($base-spacer);

    p {
      line-height: var(--qc-content-line-height-100);
      margin-bottom: 0;
    }
  }
}

