@use "module/tokens" as *;
@use "module/utils" as *;
@use "sass:map";
@use "sass:list";

@if $google-api-font {
  // ci dessous on construit l'url pour importer les fonts google
  // en se basant sur la déclaration des tokens (les font-weights)
  $font-weights : map.values(map-get($xl-settings, font, weight));
  $url : 'https://fonts.googleapis.com/css2';
  $param-separator : '?';
  @each $name, $fonts in $google-fonts {
    $google-font : list.nth($fonts,1); // le premier est le nom de la font google
    $request : 'family=#{$google-font}:ital,wght';
    $separator : '@';
    @each $i in (0,1) {
      @each $scale in $font-weights {
        @if type-of($scale) != 'map' {
          $request : '#{$request}#{$separator}#{$i},#{$scale}';
          $separator : ';';
        }
      }
    }
    $url : #{$url}#{$param-separator}#{$request};
    $param-separator : '&';
  }
  @import url('#{$url}');
}

