@use "module/grid" as *;

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "build/bootstrap/scss/mixins/grid-framework";
@import "build/bootstrap/scss/grid";
@import "build/bootstrap/scss/utilities/display";
@import "build/bootstrap/scss/utilities/flex";
