@use "module/tokens" as *;
@use "module/utils" as *;

ul {
    list-style: disc;
    margin-top: 0;
    margin-bottom: token-value(spacer md);
    padding-left: rem(4 * $base-spacer);
    li {
        margin-bottom: token-value(spacer,sm);
    }
    ul {
        margin-top: token-value(spacer,sm);
        list-style: circle;
    }
}