@use "settings/settings" as *;
@use "function/utils" as *;
@use "module/tokens" as *;

// To be used for general lists
ul {
    list-style: disc;
    padding: 0 0 rem($base-spacer) rem(4 * $base-spacer);
    li {
        padding: 0 0 rem(2 * $base-spacer) 0;
        margin: 0;
        color: token-value(color, blue, dark);
    }
    ul {
        margin-top: token-value(spacer,sm);
        list-style: circle;
    }
}