@use "module/tokens" as *;
@use "module/utils" as *;

// To be used for general lists
ul {
    list-style: disc;
    padding-bottom: rem($base-spacer);
    padding-left: rem(4 * $base-spacer);
    li {
        padding-bottom: rem(2 * $base-spacer);
        margin: 0;
        color: token-value(color, blue, dark);
    }
    ul {
        margin-top: token-value(spacer,sm);
        list-style: circle;
    }
}