@use "../../../scss/qc-sdg-lib" as *;
@use "DropdownListItemsMultiple/dropdownListItemsMultiple";
@use "DropdownListItemsSingle/dropdownListItemsSingle";

$min-height: 40;

.qc-dropdown-list-items {
  max-height: calc(var(--dropdown-items-height) * $rem-ratio * 1rem);
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    padding: 0;
    margin: 0;
  }

  * {
    overflow: hidden;
  }
}

.qc-dropdown-list-multiple, .qc-dropdown-list-single {
  display: flex;
  align-items: center;
  min-height: rem($min-height);

  &.qc-dropdown-list-active:hover {
    background-color: token-value(color, grey, pale);
    cursor: pointer;
  }

  &:focus, &:has(input[type=checkbox]:focus) {
    outline: rem(2) solid token-value(color, blue, regular);
    outline-offset: -(rem(2));
  }
}

.qc-dropdown-list-no-options {
  display: flex;
  padding: token-value(spacer, xs);
  color: token-value(color, grey, medium);
  height: rem($min-height);
}