<div style="display: flex; justify-content: space-between;">
<p>Cas limite en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="haut"></qc-tooltip> et à <qc-tooltip description-id="tooltip" position="right" prevent-outer-event-closing text="droite"></qc-tooltip>.</p>
<p>Cas limite en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="haut"></qc-tooltip> et à <qc-tooltip description-id="tooltip" position="right" prevent-outer-event-closing text="droite"></qc-tooltip>.</p>

</div>
<p style="margin-top: 300px;">Infobulle a <qc-tooltip description-id="tooltip" position="right" prevent-outer-event-closing text="droite"></qc-tooltip>, en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="haut"></qc-tooltip> et en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="bas"></qc-tooltip>.</p>

<p style="margin-top: var(--qc-spacer-section);">Infobulle a <qc-tooltip description-id="tooltip" position="right" prevent-outer-event-closing text="droite"></qc-tooltip>, en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="haut"></qc-tooltip> et en <qc-tooltip description-id="tooltip" position="top" prevent-outer-event-closing text="bas"></qc-tooltip>.</p>


<p></p>





<div style="display:flex;">
    <qc-tooltip style="margin-left: auto; margin-right: auto;"
                text="Tooltip"
                prevent-outer-event-closing
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>
</div>

<div style="margin: 300px 0;">
<qc-tooltip
        style="margin-left: 300px;"
        placement="top"
        prevent-outer-event-closing
        text="Tooltip" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>

<qc-tooltip
        style="margin-left: 300px;"
        placement="bottom"
        prevent-outer-event-closing
        text="Tooltip" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>
</div>


<div id="tooltip">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu.
</div>

<script>
    document.querySelector('.qc-container').classList.remove('qc-container')
</script>