<div style="display:flex;">
    <qc-tooltip style="margin-left: auto; margin-right: auto;"
                text="Tooltip"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>
</div>

<div style="margin: 300px 0;">
<qc-tooltip
        style="margin-left: 300px;"
        placement="top"
        text="Tooltip" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>

<qc-tooltip
        style="margin-left: 300px;"
        placement="bottom"
        text="Tooltip" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper erat vitae eros aliquet, vitae imperdiet augue malesuada. Integer ut mi consectetur, blandit dolor dapibus, finibus arcu. Suspendisse potenti. Duis eu tincidunt mi. Vivamus nec neque ante. Curabitur sapien quam, placerat ut mattis sit amet, dapibus ut turpis. Integer tincidunt est eget faucibus porta. Nulla gravida mauris eget dolor vestibulum, suscipit porta odio faucibus. Praesent sit amet ex at quam eleifend tristique vel vitae diam. Duis dapibus a libero et dapibus. Maecenas vel dapibus tortor, sed vehicula arcu."></qc-tooltip>
</div>