<!-- Commutateur -->
<h2 id="toggle-switch">Commutateur</h2>

<h3>Exemples</h3>
<qc-doc-exemple caption="Exemple de commutateurs avec étiquettes simples">
    <qc-toggle-switch
            id="switch-status"
            label="Afficher l'état du commutateur à la console"
    ></qc-toggle-switch>

    <script>
        document.getElementById("switch-status")
            .addEventListener("change", (event) => {
                console.log(event.target.checked);
            });
    </script>
</qc-doc-exemple>

<qc-doc-exemple caption="Exemple de commutateurs en groupe avec différents états">
    <h4 style="margin-bottom: 2.4rem; margin-top: 0;">Préférences de notifications de messages</h4>
    <div
            style="display: inline-flex; flex-direction: column; align-items: end; gap: 2.4rem;"
            id="switch-group"
    >
        <qc-toggle-switch
                label="Nouveaux messages"
                justify
                checked
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Modifications de messages"
                justify
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Messages où je suis mentionné(e)"
                justify
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Messages supprimés (indisponible)"
                justify
                disabled
        ></qc-toggle-switch>
    </div>

    <script>
        document.getElementById("switch-group")
            .addEventListener("change", (event) => {
                console.log(`${event.target.id} mis à ${event.target.checked}`);
            });
    </script>
</qc-doc-exemple>

<qc-doc-exemple caption="Exemple de commutateurs en groupe avec étiquette à droite dans différents états">
    <h4 style="margin-bottom: 2.4rem; margin-top: 0;">Préférences de notifications de messages</h4>
    <div
            style="display: inline-flex; flex-direction: column; gap: 2.4rem;"
            id="switch-group-right"
    >
        <qc-toggle-switch
                label="Nouveaux messages"
                checked
                label-position="right"
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Modifications de messages"
                label-position="right"
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Messages où je suis mentionné(e)"
                label-position="right"
        ></qc-toggle-switch>
        <qc-toggle-switch
                label="Messages supprimés (indisponible)"
                label-position="right"
                disabled
        ></qc-toggle-switch>
    </div>

    <script>
        document.getElementById("switch-group-right")
            .addEventListener("change", (event) => {
                console.log(`${event.target.id} mis à ${event.target.checked}`);
            });
    </script>
</qc-doc-exemple>

<h3>Documentation technique</h3>
<table class="qc-table qc-striped component-attributes-description">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Valeur attendue</th>
        <th>Valeur par défaut</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>label</td>
        <td>Contenu HTML</td>
        <td></td>
        <td>Contenu du libellé du commutateur</td>
    </tr>
    <tr>
        <td>checked</td>
        <td>na</td>
        <td>na</td>
        <td>Active le commutateur par défaut</td>
    </tr>
    <tr>
        <td>disabled</td>
        <td>na</td>
        <td>na</td>
        <td>Désactive le commutateur</td>
    </tr>
    <tr>
        <td>label-position</td>
        <td>"left" ou "right"</td>
        <td>"left"</td>
        <td>Position du libellé par rapport au commutateur</td>
    </tr>
    </tbody>
</table>