<h2 id="toTop">Haut de page</h2>
<p>
  Le composant <i>haut de page</i> est la flèche qui permet à l’utilisateur de revenir en haut de la
  page. Il s'affiche quand l’utilisateur commence à défiler vers le haut.
  Il disparaît quand l’utilisateur commence à défiler vers le bas.
</p>
<h4>Exemple</h4>
<qc-doc-exemple caption="Présentation du composant retour en haut de page"
                code-target-id="to-top-exemple"
>
  <qc-to-top demo="true"/>
</qc-doc-exemple>
<div id="to-top-exemple">
  <qc-to-top></qc-to-top>
</div>

<h3>Documentation technique</h3>

<h4>Attributs</h4>
<div class="table-overflow">
  <table class="qc-table qc-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Valeur attendue</th>
      <th>Valeur par défaut</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>text</td>
      <td>Texte</td>
      <td>Retour en haut / Back to top</td>
      <td>la valeur de l’attribut "text" de l’élément.</td>
    </tr>
    <tr>
      <td>demo</td>
      <td>"true" ou "false"</td>
      <td>false</td>
      <td>Pour utiliser le composant en démonstration uniquement.</td>
    </tr>
    </tbody>
  </table>
</div>