@use "../../../../scss/qc-sdg-lib" as *;

.qc-dropdown-list-single {
  padding: token-value(spacer, xs);
  margin: 0;
}

li[aria-selected="true"] {
  background-color: token-value(color, blue, pale) !important;
}
